:root {
  --ds-color-foreground: #101010;
  --ds-color-foreground-2: #404040;
  --ds-color-background: #f0ffff;
  --ds-color-foreground-3: #606060;
  --ds-color-deep-accent: #202030;
  --ds-color-supporting-color: #707080;
  --ds-color-neutral-surface: #e0e0e0;
  --ds-color-neutral-surface-2: #9090a0;
  --ds-color-neutral-surface-3: #b0b0b0;
  --ds-color-neutral-surface-4: #c0c0d0;
  --ds-color-foreground-4: #08090a;
  --ds-color-foreground-5: #0f1011;
  --ds-spacing-component: 0px 8px;
  --ds-radius-component: 6px;
  --ds-shadow-component: rgba(0, 0, 0, 0) 0px 8px 2px 0px, rgba(0, 0, 0, 0.01) 0px 5px 2px 0px, rgba(0, 0, 0, 0.04) 0px 3px 2px 0px, rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.08) 0px 0px 1px 0px;
  --ds-motion-motion-navigation-hover-backgroundcolor-100-cubic-bezier-0-25-0-46-0-45-0-94-duration: 100ms;
  --ds-motion-motion-navigation-hover-backgroundcolor-100-cubic-bezier-0-25-0-46-0-45-0-94-delay: 0ms;
  --ds-motion-motion-navigation-hover-backgroundcolor-100-cubic-bezier-0-25-0-46-0-45-0-94-easing: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  --ds-motion-motion-navigation-focus-backgroundcolor-100-cubic-bezier-0-25-0-46-0-45-0-94-duration: 100ms;
  --ds-motion-motion-navigation-focus-backgroundcolor-100-cubic-bezier-0-25-0-46-0-45-0-94-delay: 0ms;
  --ds-motion-motion-navigation-focus-backgroundcolor-100-cubic-bezier-0-25-0-46-0-45-0-94-easing: cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
