:root {
  --ds-color-background: #ffffff;
  --ds-color-foreground: #000000;
  --ds-color-foreground-2: #202020;
  --ds-color-neutral-surface: #e0e0f0;
  --ds-color-foreground-3: #404040;
  --ds-color-neutral-surface-2: #b0b0b0;
  --ds-color-neutral-surface-3: #d0d0d0;
  --ds-color-foreground-4: #506060;
  --ds-color-neutral-surface-4: #909090;
  --ds-color-supporting-color: #708080;
  --ds-color-accent: #709ff5;
  --ds-color-accent-2: #febe8e;
  --ds-spacing-component: 6px;
  --ds-radius-component: 12px;
  --ds-shadow-component: oklch(0 0 0 / 0.01) 0px 1px 2px 0px, oklch(0 0 0 / 0.02) 0px 2px 4px -1px, oklch(0 0 0 / 0.03) 0px 4px 8px -2px;
  --ds-motion-motion-hero-load-animation-30000-linear-duration: 30000ms;
  --ds-motion-motion-hero-load-animation-30000-linear-delay: 0ms;
  --ds-motion-motion-hero-load-animation-30000-linear-easing: linear;
  --ds-motion-motion-card-load-animation-10000-linear-duration: 10000ms;
  --ds-motion-motion-card-load-animation-10000-linear-delay: 0ms;
  --ds-motion-motion-card-load-animation-10000-linear-easing: linear;
  --ds-motion-motion-card-load-pricing-cards-grid-line-position-start-1000-ease-out-duration: 1000ms;
  --ds-motion-motion-card-load-pricing-cards-grid-line-position-start-1000-ease-out-delay: 0ms;
  --ds-motion-motion-card-load-pricing-cards-grid-line-position-start-1000-ease-out-easing: ease-out;
  --ds-motion-motion-card-load-pricing-cards-grid-line-position-end-1000-ease-out-duration: 1000ms;
  --ds-motion-motion-card-load-pricing-cards-grid-line-position-end-1000-ease-out-delay: 0ms;
  --ds-motion-motion-card-load-pricing-cards-grid-line-position-end-1000-ease-out-easing: ease-out;
  --ds-motion-motion-card-load-animation-1500-ease-out-duration: 1500ms;
  --ds-motion-motion-card-load-animation-1500-ease-out-delay: 0ms;
  --ds-motion-motion-card-load-animation-1500-ease-out-easing: ease-out;
  --ds-motion-motion-card-load-animation-0-ease-in-out-duration: 0ms;
  --ds-motion-motion-card-load-animation-0-ease-in-out-delay: 0ms;
  --ds-motion-motion-card-load-animation-0-ease-in-out-easing: ease-in-out;
  --ds-motion-motion-card-load-animation-0-linear-duration: 0ms;
  --ds-motion-motion-card-load-animation-0-linear-delay: 0ms;
  --ds-motion-motion-card-load-animation-0-linear-easing: linear;
  --ds-motion-motion-component-state-change-background-size-400-cubic-bezier-65-0-35-1-duration: 400ms;
  --ds-motion-motion-component-state-change-background-size-400-cubic-bezier-65-0-35-1-delay: 0ms;
  --ds-motion-motion-component-state-change-background-size-400-cubic-bezier-65-0-35-1-easing: cubic-bezier(.65, 0, .35, 1);
  --ds-motion-motion-hero-viewport-animation-4000-ease-out-duration: 4000ms;
  --ds-motion-motion-hero-viewport-animation-4000-ease-out-delay: 0ms;
  --ds-motion-motion-hero-viewport-animation-4000-ease-out-easing: ease-out;
  --ds-motion-motion-overlay-viewport-animation-200-cubic-bezier-45-05-55-95-duration: 200ms;
  --ds-motion-motion-overlay-viewport-animation-200-cubic-bezier-45-05-55-95-delay: 0ms;
  --ds-motion-motion-overlay-viewport-animation-200-cubic-bezier-45-05-55-95-easing: cubic-bezier(.45, .05, .55, .95);
  --ds-motion-motion-reveal-viewport-animation-300-cubic-bezier-65-0-35-1-duration: 300ms;
  --ds-motion-motion-reveal-viewport-animation-300-cubic-bezier-65-0-35-1-delay: 0ms;
  --ds-motion-motion-reveal-viewport-animation-300-cubic-bezier-65-0-35-1-easing: cubic-bezier(.65, 0, .35, 1);
  --ds-motion-motion-reveal-viewport-animation-800-linear-duration: 800ms;
  --ds-motion-motion-reveal-viewport-animation-800-linear-delay: 0ms;
  --ds-motion-motion-reveal-viewport-animation-800-linear-easing: linear;
  --ds-motion-motion-reveal-viewport-animation-2000-cubic-bezier-4-0-6-1-duration: 2000ms;
  --ds-motion-motion-reveal-viewport-animation-2000-cubic-bezier-4-0-6-1-delay: 0ms;
  --ds-motion-motion-reveal-viewport-animation-2000-cubic-bezier-4-0-6-1-easing: cubic-bezier(.4, 0, .6, 1);
  --ds-motion-motion-reveal-viewport-animation-1000-ease-in-out-duration: 1000ms;
  --ds-motion-motion-reveal-viewport-animation-1000-ease-in-out-delay: 0ms;
  --ds-motion-motion-reveal-viewport-animation-1000-ease-in-out-easing: ease-in-out;
  --ds-motion-motion-reveal-viewport-animation-1000-linear-duration: 1000ms;
  --ds-motion-motion-reveal-viewport-animation-1000-linear-delay: 0ms;
  --ds-motion-motion-reveal-viewport-animation-1000-linear-easing: linear;
  --ds-motion-motion-card-load-animation-500-cubic-bezier-33-1-68-1-duration: 500ms;
  --ds-motion-motion-card-load-animation-500-cubic-bezier-33-1-68-1-delay: 0ms;
  --ds-motion-motion-card-load-animation-500-cubic-bezier-33-1-68-1-easing: cubic-bezier(.33,1,.68,1);
  --ds-motion-motion-card-load-animation-1500-cubic-bezier-33-1-68-1-duration: 1500ms;
  --ds-motion-motion-card-load-animation-1500-cubic-bezier-33-1-68-1-delay: 100ms;
  --ds-motion-motion-card-load-animation-1500-cubic-bezier-33-1-68-1-easing: cubic-bezier(.33,1,.68,1);
  --ds-motion-motion-component-load-animation-4000-cubic-bezier-33-1-68-1-duration: 4000ms;
  --ds-motion-motion-component-load-animation-4000-cubic-bezier-33-1-68-1-delay: 0ms;
  --ds-motion-motion-component-load-animation-4000-cubic-bezier-33-1-68-1-easing: cubic-bezier(.33,1,.68,1);
  --ds-motion-motion-reveal-viewport-animation-1600-cubic-bezier-38-01-12-1-duration: 1600ms;
  --ds-motion-motion-reveal-viewport-animation-1600-cubic-bezier-38-01-12-1-delay: 0ms;
  --ds-motion-motion-reveal-viewport-animation-1600-cubic-bezier-38-01-12-1-easing: cubic-bezier(.38,.01,.12,1);
}
