:root {
  --ds-color-foreground: #000000;
  --ds-color-background: #ffffff;
  --ds-color-foreground-2: #303030;
  --ds-color-neutral-surface: #707070;
  --ds-color-accent: #0060d0;
  --ds-color-foreground-3: #505050;
  --ds-color-neutral-surface-2: #a0a0a0;
  --ds-color-neutral-surface-3: #d0d0d0;
  --ds-color-neutral-surface-4: #939598;
  --ds-color-neutral-surface-5: #6d6e71;
  --ds-color-foreground-4: #323232;
  --ds-color-neutral-surface-6: #706f6d;
  --ds-spacing-component: 10px;
  --ds-radius-component: 3px;
  --ds-shadow-component: missing;
  --ds-motion-motion-component-load-animation-2000-linear-duration: 2000ms;
  --ds-motion-motion-component-load-animation-2000-linear-delay: 0ms;
  --ds-motion-motion-component-load-animation-2000-linear-easing: linear;
  --ds-motion-motion-component-load-animation-1000-steps-8-duration: 1000ms;
  --ds-motion-motion-component-load-animation-1000-steps-8-delay: 0ms;
  --ds-motion-motion-component-load-animation-1000-steps-8-easing: steps(8);
  --ds-motion-motion-button-load-animation-2000-linear-duration: 2000ms;
  --ds-motion-motion-button-load-animation-2000-linear-delay: 0ms;
  --ds-motion-motion-button-load-animation-2000-linear-easing: linear;
  --ds-motion-motion-component-state-change-all-200-ease-in-out-duration: 200ms;
  --ds-motion-motion-component-state-change-all-200-ease-in-out-delay: 0ms;
  --ds-motion-motion-component-state-change-all-200-ease-in-out-easing: ease-in-out;
  --ds-motion-motion-button-state-change-color-250-ease-in-out-duration: 250ms;
  --ds-motion-motion-button-state-change-color-250-ease-in-out-delay: 0ms;
  --ds-motion-motion-button-state-change-color-250-ease-in-out-easing: ease-in-out;
  --ds-motion-motion-button-state-change-opacity-250-ease-in-out-duration: 250ms;
  --ds-motion-motion-button-state-change-opacity-250-ease-in-out-delay: 0ms;
  --ds-motion-motion-button-state-change-opacity-250-ease-in-out-easing: ease-in-out;
  --ds-motion-motion-navigation-state-change-all-450-linear-duration: 450ms;
  --ds-motion-motion-navigation-state-change-all-450-linear-delay: 0ms;
  --ds-motion-motion-navigation-state-change-all-450-linear-easing: linear;
  --ds-motion-motion-navigation-state-change-all-750-cubic-bezier-22-1-36-1-duration: 750ms;
  --ds-motion-motion-navigation-state-change-all-750-cubic-bezier-22-1-36-1-delay: 0ms;
  --ds-motion-motion-navigation-state-change-all-750-cubic-bezier-22-1-36-1-easing: cubic-bezier(.22,1,.36,1);
  --ds-motion-motion-component-state-change-all-750-cubic-bezier-22-1-36-1-duration: 750ms;
  --ds-motion-motion-component-state-change-all-750-cubic-bezier-22-1-36-1-delay: 0ms;
  --ds-motion-motion-component-state-change-all-750-cubic-bezier-22-1-36-1-easing: cubic-bezier(.22,1,.36,1);
  --ds-motion-motion-component-state-change-all-750-ease-in-out-duration: 750ms;
  --ds-motion-motion-component-state-change-all-750-ease-in-out-delay: 0ms;
  --ds-motion-motion-component-state-change-all-750-ease-in-out-easing: ease-in-out;
  --ds-motion-motion-component-state-change-opacity-250-ease-in-out-duration: 250ms;
  --ds-motion-motion-component-state-change-opacity-250-ease-in-out-delay: 0ms;
  --ds-motion-motion-component-state-change-opacity-250-ease-in-out-easing: ease-in-out;
}
