.ds-motion-motion-button-hover-backgroundcolor-200-ease {
  transition-property: backgroundColor;
  transition-duration: var(--ds-motion-motion-button-hover-backgroundcolor-200-ease-duration);
  transition-delay: var(--ds-motion-motion-button-hover-backgroundcolor-200-ease-delay);
  transition-timing-function: var(--ds-motion-motion-button-hover-backgroundcolor-200-ease-easing);
  transform: rgba(0, 0, 0, 0.875);
}

.ds-motion-motion-button-focus-backgroundcolor-200-ease {
  transition-property: backgroundColor;
  transition-duration: var(--ds-motion-motion-button-focus-backgroundcolor-200-ease-duration);
  transition-delay: var(--ds-motion-motion-button-focus-backgroundcolor-200-ease-delay);
  transition-timing-function: var(--ds-motion-motion-button-focus-backgroundcolor-200-ease-easing);
  transform: rgba(0, 0, 0, 0.92);
}

.ds-motion-motion-button-hover-transform-200-ease {
  transition-property: transform;
  transition-duration: var(--ds-motion-motion-button-hover-transform-200-ease-duration);
  transition-delay: var(--ds-motion-motion-button-hover-transform-200-ease-delay);
  transition-timing-function: var(--ds-motion-motion-button-hover-transform-200-ease-easing);
  transform: matrix(1.02206, 0, 0, 1.02206, 0, 0);
}

.ds-motion-motion-button-focus-transform-200-ease {
  transition-property: transform;
  transition-duration: var(--ds-motion-motion-button-focus-transform-200-ease-duration);
  transition-delay: var(--ds-motion-motion-button-focus-transform-200-ease-delay);
  transition-timing-function: var(--ds-motion-motion-button-focus-transform-200-ease-easing);
  transform: matrix(1.02206, 0, 0, 1.02206, 0, 0);
}

@media (prefers-reduced-motion: reduce) {
  [class*="ds-motion-"] {
    transition-duration: 0ms !important;
    animation-duration: 0ms !important;
  }
}
