:root {
  --ds-color-background: #ffffff;
  --ds-color-supporting-color: #908060;
  --ds-color-neutral-surface: #e0e0e0;
  --ds-color-foreground: #303030;
  --ds-color-neutral-surface-2: #808080;
  --ds-color-neutral-surface-3: #c0c0c0;
  --ds-color-neutral-surface-4: #a0a0a0;
  --ds-color-foreground-2: #606060;
  --ds-color-supporting-color-2: #c0b0a0;
  --ds-color-supporting-color-3: #a09080;
  --ds-color-supporting-color-4: #8c7a66;
  --ds-color-supporting-color-5: #afa294;
  --ds-spacing-component: 5.92px;
  --ds-radius-component: missing;
  --ds-shadow-component: missing;
  --ds-motion-motion-button-state-change-transform-900-cubic-bezier-19-1-22-1-duration: 900ms;
  --ds-motion-motion-button-state-change-transform-900-cubic-bezier-19-1-22-1-delay: 0ms;
  --ds-motion-motion-button-state-change-transform-900-cubic-bezier-19-1-22-1-easing: cubic-bezier(.19,1,.22,1);
  --ds-motion-motion-button-state-change-all-700-cubic-bezier-19-1-22-1-duration: 700ms;
  --ds-motion-motion-button-state-change-all-700-cubic-bezier-19-1-22-1-delay: 0ms;
  --ds-motion-motion-button-state-change-all-700-cubic-bezier-19-1-22-1-easing: cubic-bezier(.19,1,.22,1);
  --ds-motion-motion-button-state-change-fill-700-cubic-bezier-19-1-22-1-duration: 700ms;
  --ds-motion-motion-button-state-change-fill-700-cubic-bezier-19-1-22-1-delay: 0ms;
  --ds-motion-motion-button-state-change-fill-700-cubic-bezier-19-1-22-1-easing: cubic-bezier(.19,1,.22,1);
  --ds-motion-motion-button-state-change-background-color-700-cubic-bezier-19-1-22-1-duration: 700ms;
  --ds-motion-motion-button-state-change-background-color-700-cubic-bezier-19-1-22-1-delay: 0ms;
  --ds-motion-motion-button-state-change-background-color-700-cubic-bezier-19-1-22-1-easing: cubic-bezier(.19,1,.22,1);
  --ds-motion-motion-button-load-background-color-300-ease-duration: 300ms;
  --ds-motion-motion-button-load-background-color-300-ease-delay: 0ms;
  --ds-motion-motion-button-load-background-color-300-ease-easing: ease;
  --ds-motion-motion-button-load-animation-1200-ease-in-out-duration: 1200ms;
  --ds-motion-motion-button-load-animation-1200-ease-in-out-delay: 0ms;
  --ds-motion-motion-button-load-animation-1200-ease-in-out-easing: ease-in-out;
  --ds-motion-motion-overlay-state-change-opacity-500-cubic-bezier-32-72-0-1-duration: 500ms;
  --ds-motion-motion-overlay-state-change-opacity-500-cubic-bezier-32-72-0-1-delay: 0ms;
  --ds-motion-motion-overlay-state-change-opacity-500-cubic-bezier-32-72-0-1-easing: cubic-bezier(.32,.72,0,1);
  --ds-motion-motion-component-load-animation-400-linear-duration: 400ms;
  --ds-motion-motion-component-load-animation-400-linear-delay: 0ms;
  --ds-motion-motion-component-load-animation-400-linear-easing: linear;
  --ds-motion-motion-component-state-change-grid-template-rows-600-cubic-bezier-4-05-32-1-duration: 600ms;
  --ds-motion-motion-component-state-change-grid-template-rows-600-cubic-bezier-4-05-32-1-delay: 0ms;
  --ds-motion-motion-component-state-change-grid-template-rows-600-cubic-bezier-4-05-32-1-easing: cubic-bezier(.4,.05,.32,1);
  --ds-motion-motion-component-state-change-opacity-800-cubic-bezier-4-05-32-1-duration: 800ms;
  --ds-motion-motion-component-state-change-opacity-800-cubic-bezier-4-05-32-1-delay: 0ms;
  --ds-motion-motion-component-state-change-opacity-800-cubic-bezier-4-05-32-1-easing: cubic-bezier(.4,.05,.32,1);
  --ds-motion-motion-reveal-viewport-all-300-ease-in-duration: 300ms;
  --ds-motion-motion-reveal-viewport-all-300-ease-in-delay: 0ms;
  --ds-motion-motion-reveal-viewport-all-300-ease-in-easing: ease-in;
  --ds-motion-motion-component-state-change-all-180-ease-in-out-duration: 180ms;
  --ds-motion-motion-component-state-change-all-180-ease-in-out-delay: 0ms;
  --ds-motion-motion-component-state-change-all-180-ease-in-out-easing: ease-in-out;
  --ds-motion-motion-component-state-change-width-300-ease-out-duration: 300ms;
  --ds-motion-motion-component-state-change-width-300-ease-out-delay: 0ms;
  --ds-motion-motion-component-state-change-width-300-ease-out-easing: ease-out;
  --ds-motion-motion-component-load-animation-1000-linear-duration: 1000ms;
  --ds-motion-motion-component-load-animation-1000-linear-delay: 0ms;
  --ds-motion-motion-component-load-animation-1000-linear-easing: linear;
  --ds-motion-motion-card-state-change-stroke-dashoffset-500-ease-out-duration: 500ms;
  --ds-motion-motion-card-state-change-stroke-dashoffset-500-ease-out-delay: 0ms;
  --ds-motion-motion-card-state-change-stroke-dashoffset-500-ease-out-easing: ease-out;
  --ds-motion-motion-component-state-change-transform-250-ease-in-out-duration: 250ms;
  --ds-motion-motion-component-state-change-transform-250-ease-in-out-delay: 0ms;
  --ds-motion-motion-component-state-change-transform-250-ease-in-out-easing: ease-in-out;
  --ds-motion-motion-component-state-change-opacity-250-ease-in-out-duration: 250ms;
  --ds-motion-motion-component-state-change-opacity-250-ease-in-out-delay: 0ms;
  --ds-motion-motion-component-state-change-opacity-250-ease-in-out-easing: ease-in-out;
  --ds-motion-motion-button-state-change-color-500-cubic-bezier-19-1-22-1-duration: 500ms;
  --ds-motion-motion-button-state-change-color-500-cubic-bezier-19-1-22-1-delay: 0ms;
  --ds-motion-motion-button-state-change-color-500-cubic-bezier-19-1-22-1-easing: cubic-bezier(.19,1,.22,1);
  --ds-motion-motion-navigation-hover-transform-700-cubic-bezier-0-19-1-0-22-1-cubic-bezier-0-4-0-05-0-32-1-duration: 700ms;
  --ds-motion-motion-navigation-hover-transform-700-cubic-bezier-0-19-1-0-22-1-cubic-bezier-0-4-0-05-0-32-1-delay: 0ms;
  --ds-motion-motion-navigation-hover-transform-700-cubic-bezier-0-19-1-0-22-1-cubic-bezier-0-4-0-05-0-32-1-easing: cubic-bezier(0.19, 1, 0.22, 1), cubic-bezier(0.4, 0.05, 0.32, 1);
  --ds-motion-motion-navigation-focus-transform-700-cubic-bezier-0-19-1-0-22-1-cubic-bezier-0-4-0-05-0-32-1-duration: 700ms;
  --ds-motion-motion-navigation-focus-transform-700-cubic-bezier-0-19-1-0-22-1-cubic-bezier-0-4-0-05-0-32-1-delay: 0ms;
  --ds-motion-motion-navigation-focus-transform-700-cubic-bezier-0-19-1-0-22-1-cubic-bezier-0-4-0-05-0-32-1-easing: cubic-bezier(0.19, 1, 0.22, 1), cubic-bezier(0.4, 0.05, 0.32, 1);
}
