:root {
  --ds-color-background: #ffffff;
  --ds-color-foreground: #101010;
  --ds-color-accent: #a0ffe0;
  --ds-color-supporting-color: #fff0d0;
  --ds-color-accent-2: #50ffc0;
  --ds-color-accent-3: #f0c030;
  --ds-color-accent-4: #f0d060;
  --ds-color-supporting-color-2: #e0fff0;
  --ds-color-foreground-2: #505050;
  --ds-color-neutral-surface: #e0e0e0;
  --ds-color-foreground-3: #000000;
  --ds-color-foreground-4: #171717;
  --ds-spacing-component: 0px 24px;
  --ds-radius-component: 6px;
  --ds-shadow-component: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgb(235, 235, 235) 0px 0px 0px 1px;
  --ds-motion-motion-reveal-viewport-animation-5000-linear-duration: 5000ms;
  --ds-motion-motion-reveal-viewport-animation-5000-linear-delay: 0ms;
  --ds-motion-motion-reveal-viewport-animation-5000-linear-easing: linear;
  --ds-motion-motion-reveal-viewport-animation-250-ease-out-duration: 250ms;
  --ds-motion-motion-reveal-viewport-animation-250-ease-out-delay: 75ms;
  --ds-motion-motion-reveal-viewport-animation-250-ease-out-easing: ease-out;
  --ds-motion-motion-reveal-viewport-animation-1250-cubic-bezier-4-04-04-1-duration: 1250ms;
  --ds-motion-motion-reveal-viewport-animation-1250-cubic-bezier-4-04-04-1-delay: 0ms;
  --ds-motion-motion-reveal-viewport-animation-1250-cubic-bezier-4-04-04-1-easing: cubic-bezier(.4, .04, .04, 1);
  --ds-motion-motion-reveal-viewport-animation-350-cubic-bezier-16-1-3-1-duration: 350ms;
  --ds-motion-motion-reveal-viewport-animation-350-cubic-bezier-16-1-3-1-delay: 0ms;
  --ds-motion-motion-reveal-viewport-animation-350-cubic-bezier-16-1-3-1-easing: cubic-bezier(.16, 1, .3, 1);
  --ds-motion-motion-reveal-viewport-animation-500-cubic-bezier-4-04-04-1-duration: 500ms;
  --ds-motion-motion-reveal-viewport-animation-500-cubic-bezier-4-04-04-1-delay: 0ms;
  --ds-motion-motion-reveal-viewport-animation-500-cubic-bezier-4-04-04-1-easing: cubic-bezier(.4, .04, .04, 1);
  --ds-motion-motion-reveal-viewport-animation-0-cubic-bezier-0-0-2-1-duration: 0ms;
  --ds-motion-motion-reveal-viewport-animation-0-cubic-bezier-0-0-2-1-delay: 0ms;
  --ds-motion-motion-reveal-viewport-animation-0-cubic-bezier-0-0-2-1-easing: cubic-bezier(0, 0, .2, 1);
  --ds-motion-motion-reveal-viewport-animation-1000-cubic-bezier-0-0-2-1-duration: 1000ms;
  --ds-motion-motion-reveal-viewport-animation-1000-cubic-bezier-0-0-2-1-delay: 0ms;
  --ds-motion-motion-reveal-viewport-animation-1000-cubic-bezier-0-0-2-1-easing: cubic-bezier(0, 0, .2, 1);
  --ds-motion-motion-reveal-viewport-animation-10000-linear-duration: 10000ms;
  --ds-motion-motion-reveal-viewport-animation-10000-linear-delay: 0ms;
  --ds-motion-motion-reveal-viewport-animation-10000-linear-easing: linear;
  --ds-motion-motion-reveal-viewport-animation-2000-cubic-bezier-4-0-6-1-duration: 2000ms;
  --ds-motion-motion-reveal-viewport-animation-2000-cubic-bezier-4-0-6-1-delay: 0ms;
  --ds-motion-motion-reveal-viewport-animation-2000-cubic-bezier-4-0-6-1-easing: cubic-bezier(.4, 0, .6, 1);
  --ds-motion-motion-reveal-viewport-animation-500-ease-in-out-duration: 500ms;
  --ds-motion-motion-reveal-viewport-animation-500-ease-in-out-delay: 0ms;
  --ds-motion-motion-reveal-viewport-animation-500-ease-in-out-easing: ease-in-out;
  --ds-motion-motion-reveal-viewport-animation-1000-linear-duration: 1000ms;
  --ds-motion-motion-reveal-viewport-animation-1000-linear-delay: 0ms;
  --ds-motion-motion-reveal-viewport-animation-1000-linear-easing: linear;
  --ds-motion-motion-component-load-animation-1200-linear-duration: 1200ms;
  --ds-motion-motion-component-load-animation-1200-linear-delay: 0ms;
  --ds-motion-motion-component-load-animation-1200-linear-easing: linear;
  --ds-motion-motion-component-state-change-opacity-500-cubic-bezier-4-01-165-99-duration: 500ms;
  --ds-motion-motion-component-state-change-opacity-500-cubic-bezier-4-01-165-99-delay: 0ms;
  --ds-motion-motion-component-state-change-opacity-500-cubic-bezier-4-01-165-99-easing: cubic-bezier(.4, .01, .165, .99);
  --ds-motion-motion-navigation-state-change-color-90-ease-duration: 90ms;
  --ds-motion-motion-navigation-state-change-color-90-ease-delay: 0ms;
  --ds-motion-motion-navigation-state-change-color-90-ease-easing: ease;
  --ds-motion-motion-component-load-animation-1500-ease-in-out-duration: 1500ms;
  --ds-motion-motion-component-load-animation-1500-ease-in-out-delay: 0ms;
  --ds-motion-motion-component-load-animation-1500-ease-in-out-easing: ease-in-out;
}
