:root {
  --ds-color-background: #ffffff;
  --ds-color-accent: #d0e050;
  --ds-color-supporting-color: #50b060;
  --ds-color-accent-2: #d0b040;
  --ds-color-supporting-color-2: #b06030;
  --ds-color-supporting-color-3: #804020;
  --ds-color-accent-3: #70c060;
  --ds-color-accent-4: #c09040;
  --ds-color-neutral-surface: #d0e0e0;
  --ds-color-supporting-color-4: #a04030;
  --ds-color-foreground: #525252;
  --ds-color-background-2: #fafafa;
  --ds-spacing-component: 8px;
  --ds-radius-component: 6px;
  --ds-shadow-component: missing;
  --ds-motion-motion-reveal-viewport-animation-500-cubic-bezier-0-0-2-1-duration: 500ms;
  --ds-motion-motion-reveal-viewport-animation-500-cubic-bezier-0-0-2-1-delay: 0ms;
  --ds-motion-motion-reveal-viewport-animation-500-cubic-bezier-0-0-2-1-easing: cubic-bezier(0,0,.2,1);
  --ds-motion-motion-reveal-viewport-animation-1500-linear-duration: 1500ms;
  --ds-motion-motion-reveal-viewport-animation-1500-linear-delay: 0ms;
  --ds-motion-motion-reveal-viewport-animation-1500-linear-easing: linear;
  --ds-motion-motion-reveal-viewport-animation-2000-cubic-bezier-4-0-6-1-duration: 2000ms;
  --ds-motion-motion-reveal-viewport-animation-2000-cubic-bezier-4-0-6-1-delay: 0ms;
  --ds-motion-motion-reveal-viewport-animation-2000-cubic-bezier-4-0-6-1-easing: cubic-bezier(.4,0,.6,1);
  --ds-motion-motion-reveal-viewport-animation-200-ease-out-duration: 200ms;
  --ds-motion-motion-reveal-viewport-animation-200-ease-out-delay: 0ms;
  --ds-motion-motion-reveal-viewport-animation-200-ease-out-easing: ease-out;
  --ds-motion-motion-reveal-viewport-animation-250-ease-out-duration: 250ms;
  --ds-motion-motion-reveal-viewport-animation-250-ease-out-delay: 0ms;
  --ds-motion-motion-reveal-viewport-animation-250-ease-out-easing: ease-out;
  --ds-motion-motion-reveal-viewport-animation-1000-linear-duration: 1000ms;
  --ds-motion-motion-reveal-viewport-animation-1000-linear-delay: 0ms;
  --ds-motion-motion-reveal-viewport-animation-1000-linear-easing: linear;
  --ds-motion-motion-component-state-change-color-150-cubic-bezier-4-0-2-1-duration: 150ms;
  --ds-motion-motion-component-state-change-color-150-cubic-bezier-4-0-2-1-delay: 0ms;
  --ds-motion-motion-component-state-change-color-150-cubic-bezier-4-0-2-1-easing: cubic-bezier(.4,0,.2,1);
  --ds-motion-motion-component-state-change-background-color-150-cubic-bezier-4-0-2-1-duration: 150ms;
  --ds-motion-motion-component-state-change-background-color-150-cubic-bezier-4-0-2-1-delay: 0ms;
  --ds-motion-motion-component-state-change-background-color-150-cubic-bezier-4-0-2-1-easing: cubic-bezier(.4,0,.2,1);
  --ds-motion-motion-component-state-change-border-color-150-cubic-bezier-4-0-2-1-duration: 150ms;
  --ds-motion-motion-component-state-change-border-color-150-cubic-bezier-4-0-2-1-delay: 0ms;
  --ds-motion-motion-component-state-change-border-color-150-cubic-bezier-4-0-2-1-easing: cubic-bezier(.4,0,.2,1);
  --ds-motion-motion-component-state-change-text-decoration-color-150-cubic-bezier-4-0-2-1-duration: 150ms;
  --ds-motion-motion-component-state-change-text-decoration-color-150-cubic-bezier-4-0-2-1-delay: 0ms;
  --ds-motion-motion-component-state-change-text-decoration-color-150-cubic-bezier-4-0-2-1-easing: cubic-bezier(.4,0,.2,1);
  --ds-motion-motion-component-state-change-fill-150-cubic-bezier-4-0-2-1-duration: 150ms;
  --ds-motion-motion-component-state-change-fill-150-cubic-bezier-4-0-2-1-delay: 0ms;
  --ds-motion-motion-component-state-change-fill-150-cubic-bezier-4-0-2-1-easing: cubic-bezier(.4,0,.2,1);
  --ds-motion-motion-component-state-change-stroke-150-cubic-bezier-4-0-2-1-duration: 150ms;
  --ds-motion-motion-component-state-change-stroke-150-cubic-bezier-4-0-2-1-delay: 0ms;
  --ds-motion-motion-component-state-change-stroke-150-cubic-bezier-4-0-2-1-easing: cubic-bezier(.4,0,.2,1);
  --ds-motion-motion-component-state-change-opacity-150-cubic-bezier-4-0-2-1-duration: 150ms;
  --ds-motion-motion-component-state-change-opacity-150-cubic-bezier-4-0-2-1-delay: 0ms;
  --ds-motion-motion-component-state-change-opacity-150-cubic-bezier-4-0-2-1-easing: cubic-bezier(.4,0,.2,1);
  --ds-motion-motion-component-state-change-box-shadow-150-cubic-bezier-4-0-2-1-duration: 150ms;
  --ds-motion-motion-component-state-change-box-shadow-150-cubic-bezier-4-0-2-1-delay: 0ms;
  --ds-motion-motion-component-state-change-box-shadow-150-cubic-bezier-4-0-2-1-easing: cubic-bezier(.4,0,.2,1);
  --ds-motion-motion-component-state-change-transform-150-cubic-bezier-4-0-2-1-duration: 150ms;
  --ds-motion-motion-component-state-change-transform-150-cubic-bezier-4-0-2-1-delay: 0ms;
  --ds-motion-motion-component-state-change-transform-150-cubic-bezier-4-0-2-1-easing: cubic-bezier(.4,0,.2,1);
  --ds-motion-motion-component-state-change-filter-150-cubic-bezier-4-0-2-1-duration: 150ms;
  --ds-motion-motion-component-state-change-filter-150-cubic-bezier-4-0-2-1-delay: 0ms;
  --ds-motion-motion-component-state-change-filter-150-cubic-bezier-4-0-2-1-easing: cubic-bezier(.4,0,.2,1);
  --ds-motion-motion-component-state-change-backdrop-filter-150-cubic-bezier-4-0-2-1-duration: 150ms;
  --ds-motion-motion-component-state-change-backdrop-filter-150-cubic-bezier-4-0-2-1-delay: 0ms;
  --ds-motion-motion-component-state-change-backdrop-filter-150-cubic-bezier-4-0-2-1-easing: cubic-bezier(.4,0,.2,1);
  --ds-motion-motion-component-state-change-height-150-cubic-bezier-4-0-2-1-duration: 150ms;
  --ds-motion-motion-component-state-change-height-150-cubic-bezier-4-0-2-1-delay: 0ms;
  --ds-motion-motion-component-state-change-height-150-cubic-bezier-4-0-2-1-easing: cubic-bezier(.4,0,.2,1);
  --ds-motion-motion-component-state-change-width-150-cubic-bezier-4-0-2-1-duration: 150ms;
  --ds-motion-motion-component-state-change-width-150-cubic-bezier-4-0-2-1-delay: 0ms;
  --ds-motion-motion-component-state-change-width-150-cubic-bezier-4-0-2-1-easing: cubic-bezier(.4,0,.2,1);
  --ds-motion-motion-component-state-change-left-150-cubic-bezier-4-0-2-1-duration: 150ms;
  --ds-motion-motion-component-state-change-left-150-cubic-bezier-4-0-2-1-delay: 0ms;
  --ds-motion-motion-component-state-change-left-150-cubic-bezier-4-0-2-1-easing: cubic-bezier(.4,0,.2,1);
  --ds-motion-motion-component-state-change-right-150-cubic-bezier-4-0-2-1-duration: 150ms;
  --ds-motion-motion-component-state-change-right-150-cubic-bezier-4-0-2-1-delay: 0ms;
  --ds-motion-motion-component-state-change-right-150-cubic-bezier-4-0-2-1-easing: cubic-bezier(.4,0,.2,1);
  --ds-motion-motion-component-state-change-margin-150-cubic-bezier-4-0-2-1-duration: 150ms;
  --ds-motion-motion-component-state-change-margin-150-cubic-bezier-4-0-2-1-delay: 0ms;
  --ds-motion-motion-component-state-change-margin-150-cubic-bezier-4-0-2-1-easing: cubic-bezier(.4,0,.2,1);
  --ds-motion-motion-component-state-change-opa-150-cubic-bezier-4-0-2-1-duration: 150ms;
  --ds-motion-motion-component-state-change-opa-150-cubic-bezier-4-0-2-1-delay: 0ms;
  --ds-motion-motion-component-state-change-opa-150-cubic-bezier-4-0-2-1-easing: cubic-bezier(.4,0,.2,1);
  --ds-motion-motion-component-state-change-padding-150-cubic-bezier-4-0-2-1-duration: 150ms;
  --ds-motion-motion-component-state-change-padding-150-cubic-bezier-4-0-2-1-delay: 0ms;
  --ds-motion-motion-component-state-change-padding-150-cubic-bezier-4-0-2-1-easing: cubic-bezier(.4,0,.2,1);
  --ds-motion-motion-button-load-animation-2000-linear-duration: 2000ms;
  --ds-motion-motion-button-load-animation-2000-linear-delay: 0ms;
  --ds-motion-motion-button-load-animation-2000-linear-easing: linear;
}
