:root {
  --ds-color-background: #ffffff;
  --ds-color-accent: #10a0ff;
  --ds-color-foreground: #000000;
  --ds-color-supporting-color: #e0f0ff;
  --ds-color-foreground-2: #606060;
  --ds-color-neutral-surface: #e0e0e0;
  --ds-color-foreground-3: #202020;
  --ds-color-neutral-surface-2: #a0a0a0;
  --ds-color-neutral-surface-3: #c0c0c0;
  --ds-color-neutral-surface-4: #808080;
  --ds-color-background-2: #fafafa;
  --ds-color-foreground-4: #5c5c5c;
  --ds-spacing-component: 0px 24px;
  --ds-radius-component: 8px;
  --ds-shadow-component: missing;
  --ds-motion-motion-reveal-viewport-animation-3000-cubic-bezier-2-7-64-1-1-duration: 3000ms;
  --ds-motion-motion-reveal-viewport-animation-3000-cubic-bezier-2-7-64-1-1-delay: 0ms;
  --ds-motion-motion-reveal-viewport-animation-3000-cubic-bezier-2-7-64-1-1-easing: cubic-bezier(.2,.7,.64,1.1);
  --ds-motion-motion-reveal-viewport-animation-600-ease-in-out-duration: 600ms;
  --ds-motion-motion-reveal-viewport-animation-600-ease-in-out-delay: 0ms;
  --ds-motion-motion-reveal-viewport-animation-600-ease-in-out-easing: ease-in-out;
  --ds-motion-motion-reveal-viewport-animation-6000-ease-in-out-duration: 6000ms;
  --ds-motion-motion-reveal-viewport-animation-6000-ease-in-out-delay: 0ms;
  --ds-motion-motion-reveal-viewport-animation-6000-ease-in-out-easing: ease-in-out;
  --ds-motion-motion-reveal-viewport-animation-300-cubic-bezier-46-03-52-96-duration: 300ms;
  --ds-motion-motion-reveal-viewport-animation-300-cubic-bezier-46-03-52-96-delay: 0ms;
  --ds-motion-motion-reveal-viewport-animation-300-cubic-bezier-46-03-52-96-easing: cubic-bezier(.46,.03,.52,.96);
  --ds-motion-motion-reveal-viewport-animation-8000-cubic-bezier-2-7-64-1-1-duration: 8000ms;
  --ds-motion-motion-reveal-viewport-animation-8000-cubic-bezier-2-7-64-1-1-delay: 0ms;
  --ds-motion-motion-reveal-viewport-animation-8000-cubic-bezier-2-7-64-1-1-easing: cubic-bezier(.2,.7,.64,1.1);
  --ds-motion-motion-reveal-viewport-animation-70000-linear-duration: 70000ms;
  --ds-motion-motion-reveal-viewport-animation-70000-linear-delay: 0ms;
  --ds-motion-motion-reveal-viewport-animation-70000-linear-easing: linear;
  --ds-motion-motion-reveal-viewport-animation-1000-cubic-bezier-2-7-64-1-1-duration: 1000ms;
  --ds-motion-motion-reveal-viewport-animation-1000-cubic-bezier-2-7-64-1-1-delay: 0ms;
  --ds-motion-motion-reveal-viewport-animation-1000-cubic-bezier-2-7-64-1-1-easing: cubic-bezier(.2,.7,.64,1.1);
  --ds-motion-motion-reveal-viewport-animation-8800-cubic-bezier-2-7-64-1-1-duration: 8800ms;
  --ds-motion-motion-reveal-viewport-animation-8800-cubic-bezier-2-7-64-1-1-delay: 0ms;
  --ds-motion-motion-reveal-viewport-animation-8800-cubic-bezier-2-7-64-1-1-easing: cubic-bezier(.2,.7,.64,1.1);
  --ds-motion-motion-reveal-viewport-animation-4400-cubic-bezier-2-7-64-1-1-duration: 4400ms;
  --ds-motion-motion-reveal-viewport-animation-4400-cubic-bezier-2-7-64-1-1-delay: 0ms;
  --ds-motion-motion-reveal-viewport-animation-4400-cubic-bezier-2-7-64-1-1-easing: cubic-bezier(.2,.7,.64,1.1);
  --ds-motion-motion-component-state-change-color-150-cubic-bezier-4-0-2-1-duration: 150ms;
  --ds-motion-motion-component-state-change-color-150-cubic-bezier-4-0-2-1-delay: 0ms;
  --ds-motion-motion-component-state-change-color-150-cubic-bezier-4-0-2-1-easing: cubic-bezier(.4,0,.2,1);
  --ds-motion-motion-component-state-change-background-color-150-cubic-bezier-4-0-2-1-duration: 150ms;
  --ds-motion-motion-component-state-change-background-color-150-cubic-bezier-4-0-2-1-delay: 0ms;
  --ds-motion-motion-component-state-change-background-color-150-cubic-bezier-4-0-2-1-easing: cubic-bezier(.4,0,.2,1);
  --ds-motion-motion-component-state-change-border-color-150-cubic-bezier-4-0-2-1-duration: 150ms;
  --ds-motion-motion-component-state-change-border-color-150-cubic-bezier-4-0-2-1-delay: 0ms;
  --ds-motion-motion-component-state-change-border-color-150-cubic-bezier-4-0-2-1-easing: cubic-bezier(.4,0,.2,1);
  --ds-motion-motion-component-state-change-text-decoration-color-150-cubic-bezier-4-0-2-1-duration: 150ms;
  --ds-motion-motion-component-state-change-text-decoration-color-150-cubic-bezier-4-0-2-1-delay: 0ms;
  --ds-motion-motion-component-state-change-text-decoration-color-150-cubic-bezier-4-0-2-1-easing: cubic-bezier(.4,0,.2,1);
  --ds-motion-motion-component-state-change-fill-150-cubic-bezier-4-0-2-1-duration: 150ms;
  --ds-motion-motion-component-state-change-fill-150-cubic-bezier-4-0-2-1-delay: 0ms;
  --ds-motion-motion-component-state-change-fill-150-cubic-bezier-4-0-2-1-easing: cubic-bezier(.4,0,.2,1);
  --ds-motion-motion-component-state-change-stroke-150-cubic-bezier-4-0-2-1-duration: 150ms;
  --ds-motion-motion-component-state-change-stroke-150-cubic-bezier-4-0-2-1-delay: 0ms;
  --ds-motion-motion-component-state-change-stroke-150-cubic-bezier-4-0-2-1-easing: cubic-bezier(.4,0,.2,1);
  --ds-motion-motion-component-state-change-opacity-150-cubic-bezier-4-0-2-1-duration: 150ms;
  --ds-motion-motion-component-state-change-opacity-150-cubic-bezier-4-0-2-1-delay: 0ms;
  --ds-motion-motion-component-state-change-opacity-150-cubic-bezier-4-0-2-1-easing: cubic-bezier(.4,0,.2,1);
  --ds-motion-motion-component-state-change-box-shadow-150-cubic-bezier-4-0-2-1-duration: 150ms;
  --ds-motion-motion-component-state-change-box-shadow-150-cubic-bezier-4-0-2-1-delay: 0ms;
  --ds-motion-motion-component-state-change-box-shadow-150-cubic-bezier-4-0-2-1-easing: cubic-bezier(.4,0,.2,1);
  --ds-motion-motion-component-state-change-transform-150-cubic-bezier-4-0-2-1-duration: 150ms;
  --ds-motion-motion-component-state-change-transform-150-cubic-bezier-4-0-2-1-delay: 0ms;
  --ds-motion-motion-component-state-change-transform-150-cubic-bezier-4-0-2-1-easing: cubic-bezier(.4,0,.2,1);
  --ds-motion-motion-component-state-change-filter-150-cubic-bezier-4-0-2-1-duration: 150ms;
  --ds-motion-motion-component-state-change-filter-150-cubic-bezier-4-0-2-1-delay: 0ms;
  --ds-motion-motion-component-state-change-filter-150-cubic-bezier-4-0-2-1-easing: cubic-bezier(.4,0,.2,1);
  --ds-motion-motion-component-state-change-backdrop-filter-150-cubic-bezier-4-0-2-1-duration: 150ms;
  --ds-motion-motion-component-state-change-backdrop-filter-150-cubic-bezier-4-0-2-1-delay: 0ms;
  --ds-motion-motion-component-state-change-backdrop-filter-150-cubic-bezier-4-0-2-1-easing: cubic-bezier(.4,0,.2,1);
  --ds-motion-motion-component-state-change-webkit-backdrop-filter-150-cubic-bezier-4-0-2-1-duration: 150ms;
  --ds-motion-motion-component-state-change-webkit-backdrop-filter-150-cubic-bezier-4-0-2-1-delay: 0ms;
  --ds-motion-motion-component-state-change-webkit-backdrop-filter-150-cubic-bezier-4-0-2-1-easing: cubic-bezier(.4,0,.2,1);
  --ds-motion-motion-component-state-change-height-150-cubic-bezier-4-0-2-1-duration: 150ms;
  --ds-motion-motion-component-state-change-height-150-cubic-bezier-4-0-2-1-delay: 0ms;
  --ds-motion-motion-component-state-change-height-150-cubic-bezier-4-0-2-1-easing: cubic-bezier(.4,0,.2,1);
  --ds-motion-motion-component-state-change-left-150-cubic-bezier-4-0-2-1-duration: 150ms;
  --ds-motion-motion-component-state-change-left-150-cubic-bezier-4-0-2-1-delay: 0ms;
  --ds-motion-motion-component-state-change-left-150-cubic-bezier-4-0-2-1-easing: cubic-bezier(.4,0,.2,1);
  --ds-motion-motion-component-state-change-width-150-cubic-bezier-4-0-2-1-duration: 150ms;
  --ds-motion-motion-component-state-change-width-150-cubic-bezier-4-0-2-1-delay: 0ms;
  --ds-motion-motion-component-state-change-width-150-cubic-bezier-4-0-2-1-easing: cubic-bezier(.4,0,.2,1);
  --ds-motion-motion-component-state-change-transform-25s-ease-150-cubic-bezier-4-0-2-1-duration: 150ms;
  --ds-motion-motion-component-state-change-transform-25s-ease-150-cubic-bezier-4-0-2-1-delay: 0ms;
  --ds-motion-motion-component-state-change-transform-25s-ease-150-cubic-bezier-4-0-2-1-easing: cubic-bezier(.4,0,.2,1);
  --ds-motion-motion-component-state-change-all-150-cubic-bezier-4-0-2-1-duration: 150ms;
  --ds-motion-motion-component-state-change-all-150-cubic-bezier-4-0-2-1-delay: 0ms;
  --ds-motion-motion-component-state-change-all-150-cubic-bezier-4-0-2-1-easing: cubic-bezier(.4,0,.2,1);
  --ds-motion-motion-component-state-change-border-color-150-ease-in-out-duration: 150ms;
  --ds-motion-motion-component-state-change-border-color-150-ease-in-out-delay: 0ms;
  --ds-motion-motion-component-state-change-border-color-150-ease-in-out-easing: ease-in-out;
}
