:root {
  --ds-color-background: #ffffff;
  --ds-color-deep-accent: #604020;
  --ds-color-supporting-color: #f0e0c0;
  --ds-color-supporting-color-2: #805020;
  --ds-color-supporting-color-3: #b08040;
  --ds-color-foreground: #000000;
  --ds-color-accent: #c0a060;
  --ds-color-deep-accent-2: #705040;
  --ds-color-accent-2: #e0c080;
  --ds-color-supporting-color-4: #fff0e0;
  --ds-spacing-component: 0px 12px;
  --ds-radius-component: missing;
  --ds-shadow-component: missing;
  --ds-motion-motion-component-load-animation-1000-linear-duration: 1000ms;
  --ds-motion-motion-component-load-animation-1000-linear-delay: 0ms;
  --ds-motion-motion-component-load-animation-1000-linear-easing: linear;
  --ds-motion-motion-component-load-animation-1000-steps-12-duration: 1000ms;
  --ds-motion-motion-component-load-animation-1000-steps-12-delay: 0ms;
  --ds-motion-motion-component-load-animation-1000-steps-12-easing: steps(12);
  --ds-motion-motion-component-state-change-transform-600-cubic-bezier-4-0-2-1-duration: 600ms;
  --ds-motion-motion-component-state-change-transform-600-cubic-bezier-4-0-2-1-delay: 0ms;
  --ds-motion-motion-component-state-change-transform-600-cubic-bezier-4-0-2-1-easing: cubic-bezier(.4,0,.2,1);
  --ds-motion-motion-component-state-change-opacity-700-cubic-bezier-4-0-2-1-duration: 700ms;
  --ds-motion-motion-component-state-change-opacity-700-cubic-bezier-4-0-2-1-delay: 500ms;
  --ds-motion-motion-component-state-change-opacity-700-cubic-bezier-4-0-2-1-easing: cubic-bezier(.4,0,.2,1);
  --ds-motion-motion-component-state-change-opacity-1000-cubic-bezier-4-0-2-1-duration: 1000ms;
  --ds-motion-motion-component-state-change-opacity-1000-cubic-bezier-4-0-2-1-delay: 0ms;
  --ds-motion-motion-component-state-change-opacity-1000-cubic-bezier-4-0-2-1-easing: cubic-bezier(.4,0,.2,1);
  --ds-motion-motion-component-state-change-opacity-300-cubic-bezier-19-1-22-1-duration: 300ms;
  --ds-motion-motion-component-state-change-opacity-300-cubic-bezier-19-1-22-1-delay: 0ms;
  --ds-motion-motion-component-state-change-opacity-300-cubic-bezier-19-1-22-1-easing: cubic-bezier(.19,1,.22,1);
  --ds-motion-motion-component-state-change-all-1000-cubic-bezier-215-61-355-1-duration: 1000ms;
  --ds-motion-motion-component-state-change-all-1000-cubic-bezier-215-61-355-1-delay: 300ms;
  --ds-motion-motion-component-state-change-all-1000-cubic-bezier-215-61-355-1-easing: cubic-bezier(.215,.61,.355,1);
  --ds-motion-motion-component-state-change-opacity-600-cubic-bezier-19-1-22-1-duration: 600ms;
  --ds-motion-motion-component-state-change-opacity-600-cubic-bezier-19-1-22-1-delay: 0ms;
  --ds-motion-motion-component-state-change-opacity-600-cubic-bezier-19-1-22-1-easing: cubic-bezier(.19,1,.22,1);
  --ds-motion-motion-component-state-change-padding-bottom-1000-cubic-bezier-19-1-22-1-duration: 1000ms;
  --ds-motion-motion-component-state-change-padding-bottom-1000-cubic-bezier-19-1-22-1-delay: 0ms;
  --ds-motion-motion-component-state-change-padding-bottom-1000-cubic-bezier-19-1-22-1-easing: cubic-bezier(.19,1,.22,1);
  --ds-motion-motion-component-state-change-box-shadow-300-ease-duration: 300ms;
  --ds-motion-motion-component-state-change-box-shadow-300-ease-delay: 0ms;
  --ds-motion-motion-component-state-change-box-shadow-300-ease-easing: ease;
  --ds-motion-motion-component-load-transform-400-ease-in-out-duration: 400ms;
  --ds-motion-motion-component-load-transform-400-ease-in-out-delay: 0ms;
  --ds-motion-motion-component-load-transform-400-ease-in-out-easing: ease-in-out;
  --ds-motion-motion-component-load-animation-300-ease-duration: 300ms;
  --ds-motion-motion-component-load-animation-300-ease-delay: 0ms;
  --ds-motion-motion-component-load-animation-300-ease-easing: ease;
  --ds-motion-motion-component-state-change-all-100-ease-in-out-duration: 100ms;
  --ds-motion-motion-component-state-change-all-100-ease-in-out-delay: 0ms;
  --ds-motion-motion-component-state-change-all-100-ease-in-out-easing: ease-in-out;
  --ds-motion-motion-navigation-state-change-transform-300-ease-duration: 300ms;
  --ds-motion-motion-navigation-state-change-transform-300-ease-delay: 0ms;
  --ds-motion-motion-navigation-state-change-transform-300-ease-easing: ease;
  --ds-motion-motion-navigation-load-animation-200-ease-duration: 200ms;
  --ds-motion-motion-navigation-load-animation-200-ease-delay: 0ms;
  --ds-motion-motion-navigation-load-animation-200-ease-easing: ease;
  --ds-motion-motion-navigation-state-change-height-350-cubic-bezier-4-0-2-1-duration: 350ms;
  --ds-motion-motion-navigation-state-change-height-350-cubic-bezier-4-0-2-1-delay: 0ms;
  --ds-motion-motion-navigation-state-change-height-350-cubic-bezier-4-0-2-1-easing: cubic-bezier(.4,0,.2,1);
  --ds-motion-motion-navigation-state-change-width-350-cubic-bezier-4-0-2-1-duration: 350ms;
  --ds-motion-motion-navigation-state-change-width-350-cubic-bezier-4-0-2-1-delay: 0ms;
  --ds-motion-motion-navigation-state-change-width-350-cubic-bezier-4-0-2-1-easing: cubic-bezier(.4,0,.2,1);
  --ds-motion-motion-card-state-change-all-300-ease-duration: 300ms;
  --ds-motion-motion-card-state-change-all-300-ease-delay: 0ms;
  --ds-motion-motion-card-state-change-all-300-ease-easing: ease;
  --ds-motion-motion-card-state-change-transform-300-ease-duration: 300ms;
  --ds-motion-motion-card-state-change-transform-300-ease-delay: 0ms;
  --ds-motion-motion-card-state-change-transform-300-ease-easing: ease;
  --ds-motion-motion-card-state-change-opacity-300-ease-duration: 300ms;
  --ds-motion-motion-card-state-change-opacity-300-ease-delay: 0ms;
  --ds-motion-motion-card-state-change-opacity-300-ease-easing: ease;
}
