.ds-motion-motion-component-state-change-all-150-cubic-bezier-0-4-0-0-2-1 {
  transition-property: all;
  transition-duration: var(--ds-motion-motion-component-state-change-all-150-cubic-bezier-0-4-0-0-2-1-duration);
  transition-delay: var(--ds-motion-motion-component-state-change-all-150-cubic-bezier-0-4-0-0-2-1-delay);
  transition-timing-function: var(--ds-motion-motion-component-state-change-all-150-cubic-bezier-0-4-0-0-2-1-easing);
}

.ds-motion-motion-component-state-change-height-150-cubic-bezier-0-4-0-0-2-1 {
  transition-property: height;
  transition-duration: var(--ds-motion-motion-component-state-change-height-150-cubic-bezier-0-4-0-0-2-1-duration);
  transition-delay: var(--ds-motion-motion-component-state-change-height-150-cubic-bezier-0-4-0-0-2-1-delay);
  transition-timing-function: var(--ds-motion-motion-component-state-change-height-150-cubic-bezier-0-4-0-0-2-1-easing);
}

.ds-motion-motion-component-state-change-color-150-cubic-bezier-0-4-0-0-2-1 {
  transition-property: color;
  transition-duration: var(--ds-motion-motion-component-state-change-color-150-cubic-bezier-0-4-0-0-2-1-duration);
  transition-delay: var(--ds-motion-motion-component-state-change-color-150-cubic-bezier-0-4-0-0-2-1-delay);
  transition-timing-function: var(--ds-motion-motion-component-state-change-color-150-cubic-bezier-0-4-0-0-2-1-easing);
}

.ds-motion-motion-component-state-change-background-color-150-cubic-bezier-0-4-0-0-2-1 {
  transition-property: background-color;
  transition-duration: var(--ds-motion-motion-component-state-change-background-color-150-cubic-bezier-0-4-0-0-2-1-duration);
  transition-delay: var(--ds-motion-motion-component-state-change-background-color-150-cubic-bezier-0-4-0-0-2-1-delay);
  transition-timing-function: var(--ds-motion-motion-component-state-change-background-color-150-cubic-bezier-0-4-0-0-2-1-easing);
}

.ds-motion-motion-component-state-change-border-color-150-cubic-bezier-0-4-0-0-2-1 {
  transition-property: border-color;
  transition-duration: var(--ds-motion-motion-component-state-change-border-color-150-cubic-bezier-0-4-0-0-2-1-duration);
  transition-delay: var(--ds-motion-motion-component-state-change-border-color-150-cubic-bezier-0-4-0-0-2-1-delay);
  transition-timing-function: var(--ds-motion-motion-component-state-change-border-color-150-cubic-bezier-0-4-0-0-2-1-easing);
}

.ds-motion-motion-component-state-change-outline-color-150-cubic-bezier-0-4-0-0-2-1 {
  transition-property: outline-color;
  transition-duration: var(--ds-motion-motion-component-state-change-outline-color-150-cubic-bezier-0-4-0-0-2-1-duration);
  transition-delay: var(--ds-motion-motion-component-state-change-outline-color-150-cubic-bezier-0-4-0-0-2-1-delay);
  transition-timing-function: var(--ds-motion-motion-component-state-change-outline-color-150-cubic-bezier-0-4-0-0-2-1-easing);
}

.ds-motion-motion-component-state-change-text-decoration-color-150-cubic-bezier-0-4-0-0-2-1 {
  transition-property: text-decoration-color;
  transition-duration: var(--ds-motion-motion-component-state-change-text-decoration-color-150-cubic-bezier-0-4-0-0-2-1-duration);
  transition-delay: var(--ds-motion-motion-component-state-change-text-decoration-color-150-cubic-bezier-0-4-0-0-2-1-delay);
  transition-timing-function: var(--ds-motion-motion-component-state-change-text-decoration-color-150-cubic-bezier-0-4-0-0-2-1-easing);
}

.ds-motion-motion-component-state-change-fill-150-cubic-bezier-0-4-0-0-2-1 {
  transition-property: fill;
  transition-duration: var(--ds-motion-motion-component-state-change-fill-150-cubic-bezier-0-4-0-0-2-1-duration);
  transition-delay: var(--ds-motion-motion-component-state-change-fill-150-cubic-bezier-0-4-0-0-2-1-delay);
  transition-timing-function: var(--ds-motion-motion-component-state-change-fill-150-cubic-bezier-0-4-0-0-2-1-easing);
}

.ds-motion-motion-component-state-change-stroke-150-cubic-bezier-0-4-0-0-2-1 {
  transition-property: stroke;
  transition-duration: var(--ds-motion-motion-component-state-change-stroke-150-cubic-bezier-0-4-0-0-2-1-duration);
  transition-delay: var(--ds-motion-motion-component-state-change-stroke-150-cubic-bezier-0-4-0-0-2-1-delay);
  transition-timing-function: var(--ds-motion-motion-component-state-change-stroke-150-cubic-bezier-0-4-0-0-2-1-easing);
}

.ds-motion-motion-component-state-change-tw-gradient-from-150-cubic-bezier-0-4-0-0-2-1 {
  transition-property: --tw-gradient-from;
  transition-duration: var(--ds-motion-motion-component-state-change-tw-gradient-from-150-cubic-bezier-0-4-0-0-2-1-duration);
  transition-delay: var(--ds-motion-motion-component-state-change-tw-gradient-from-150-cubic-bezier-0-4-0-0-2-1-delay);
  transition-timing-function: var(--ds-motion-motion-component-state-change-tw-gradient-from-150-cubic-bezier-0-4-0-0-2-1-easing);
}

.ds-motion-motion-component-state-change-tw-gradient-via-150-cubic-bezier-0-4-0-0-2-1 {
  transition-property: --tw-gradient-via;
  transition-duration: var(--ds-motion-motion-component-state-change-tw-gradient-via-150-cubic-bezier-0-4-0-0-2-1-duration);
  transition-delay: var(--ds-motion-motion-component-state-change-tw-gradient-via-150-cubic-bezier-0-4-0-0-2-1-delay);
  transition-timing-function: var(--ds-motion-motion-component-state-change-tw-gradient-via-150-cubic-bezier-0-4-0-0-2-1-easing);
}

.ds-motion-motion-component-state-change-tw-gradient-to-150-cubic-bezier-0-4-0-0-2-1 {
  transition-property: --tw-gradient-to;
  transition-duration: var(--ds-motion-motion-component-state-change-tw-gradient-to-150-cubic-bezier-0-4-0-0-2-1-duration);
  transition-delay: var(--ds-motion-motion-component-state-change-tw-gradient-to-150-cubic-bezier-0-4-0-0-2-1-delay);
  transition-timing-function: var(--ds-motion-motion-component-state-change-tw-gradient-to-150-cubic-bezier-0-4-0-0-2-1-easing);
}

.ds-motion-motion-component-state-change-opacity-150-cubic-bezier-0-4-0-0-2-1 {
  transition-property: opacity;
  transition-duration: var(--ds-motion-motion-component-state-change-opacity-150-cubic-bezier-0-4-0-0-2-1-duration);
  transition-delay: var(--ds-motion-motion-component-state-change-opacity-150-cubic-bezier-0-4-0-0-2-1-delay);
  transition-timing-function: var(--ds-motion-motion-component-state-change-opacity-150-cubic-bezier-0-4-0-0-2-1-easing);
}

.ds-motion-motion-component-state-change-box-shadow-150-cubic-bezier-0-4-0-0-2-1 {
  transition-property: box-shadow;
  transition-duration: var(--ds-motion-motion-component-state-change-box-shadow-150-cubic-bezier-0-4-0-0-2-1-duration);
  transition-delay: var(--ds-motion-motion-component-state-change-box-shadow-150-cubic-bezier-0-4-0-0-2-1-delay);
  transition-timing-function: var(--ds-motion-motion-component-state-change-box-shadow-150-cubic-bezier-0-4-0-0-2-1-easing);
}

.ds-motion-motion-component-state-change-transform-150-cubic-bezier-0-4-0-0-2-1 {
  transition-property: transform;
  transition-duration: var(--ds-motion-motion-component-state-change-transform-150-cubic-bezier-0-4-0-0-2-1-duration);
  transition-delay: var(--ds-motion-motion-component-state-change-transform-150-cubic-bezier-0-4-0-0-2-1-delay);
  transition-timing-function: var(--ds-motion-motion-component-state-change-transform-150-cubic-bezier-0-4-0-0-2-1-easing);
}

.ds-motion-motion-component-state-change-translate-150-cubic-bezier-0-4-0-0-2-1 {
  transition-property: translate;
  transition-duration: var(--ds-motion-motion-component-state-change-translate-150-cubic-bezier-0-4-0-0-2-1-duration);
  transition-delay: var(--ds-motion-motion-component-state-change-translate-150-cubic-bezier-0-4-0-0-2-1-delay);
  transition-timing-function: var(--ds-motion-motion-component-state-change-translate-150-cubic-bezier-0-4-0-0-2-1-easing);
}

.ds-motion-motion-component-state-change-scale-150-cubic-bezier-0-4-0-0-2-1 {
  transition-property: scale;
  transition-duration: var(--ds-motion-motion-component-state-change-scale-150-cubic-bezier-0-4-0-0-2-1-duration);
  transition-delay: var(--ds-motion-motion-component-state-change-scale-150-cubic-bezier-0-4-0-0-2-1-delay);
  transition-timing-function: var(--ds-motion-motion-component-state-change-scale-150-cubic-bezier-0-4-0-0-2-1-easing);
}

.ds-motion-motion-component-state-change-rotate-150-cubic-bezier-0-4-0-0-2-1 {
  transition-property: rotate;
  transition-duration: var(--ds-motion-motion-component-state-change-rotate-150-cubic-bezier-0-4-0-0-2-1-duration);
  transition-delay: var(--ds-motion-motion-component-state-change-rotate-150-cubic-bezier-0-4-0-0-2-1-delay);
  transition-timing-function: var(--ds-motion-motion-component-state-change-rotate-150-cubic-bezier-0-4-0-0-2-1-easing);
}

.ds-motion-motion-component-state-change-filter-150-cubic-bezier-0-4-0-0-2-1 {
  transition-property: filter;
  transition-duration: var(--ds-motion-motion-component-state-change-filter-150-cubic-bezier-0-4-0-0-2-1-duration);
  transition-delay: var(--ds-motion-motion-component-state-change-filter-150-cubic-bezier-0-4-0-0-2-1-delay);
  transition-timing-function: var(--ds-motion-motion-component-state-change-filter-150-cubic-bezier-0-4-0-0-2-1-easing);
}

.ds-motion-motion-component-state-change-webkit-backdrop-filter-150-cubic-bezier-0-4-0-0-2-1 {
  transition-property: -webkit-backdrop-filter;
  transition-duration: var(--ds-motion-motion-component-state-change-webkit-backdrop-filter-150-cubic-bezier-0-4-0-0-2-1-duration);
  transition-delay: var(--ds-motion-motion-component-state-change-webkit-backdrop-filter-150-cubic-bezier-0-4-0-0-2-1-delay);
  transition-timing-function: var(--ds-motion-motion-component-state-change-webkit-backdrop-filter-150-cubic-bezier-0-4-0-0-2-1-easing);
}

.ds-motion-motion-component-state-change-backdrop-filter-150-cubic-bezier-0-4-0-0-2-1 {
  transition-property: backdrop-filter;
  transition-duration: var(--ds-motion-motion-component-state-change-backdrop-filter-150-cubic-bezier-0-4-0-0-2-1-duration);
  transition-delay: var(--ds-motion-motion-component-state-change-backdrop-filter-150-cubic-bezier-0-4-0-0-2-1-delay);
  transition-timing-function: var(--ds-motion-motion-component-state-change-backdrop-filter-150-cubic-bezier-0-4-0-0-2-1-easing);
}

.ds-motion-motion-component-state-change-display-150-cubic-bezier-0-4-0-0-2-1 {
  transition-property: display;
  transition-duration: var(--ds-motion-motion-component-state-change-display-150-cubic-bezier-0-4-0-0-2-1-duration);
  transition-delay: var(--ds-motion-motion-component-state-change-display-150-cubic-bezier-0-4-0-0-2-1-delay);
  transition-timing-function: var(--ds-motion-motion-component-state-change-display-150-cubic-bezier-0-4-0-0-2-1-easing);
}

.ds-motion-motion-component-state-change-content-visibility-150-cubic-bezier-0-4-0-0-2-1 {
  transition-property: content-visibility;
  transition-duration: var(--ds-motion-motion-component-state-change-content-visibility-150-cubic-bezier-0-4-0-0-2-1-duration);
  transition-delay: var(--ds-motion-motion-component-state-change-content-visibility-150-cubic-bezier-0-4-0-0-2-1-delay);
  transition-timing-function: var(--ds-motion-motion-component-state-change-content-visibility-150-cubic-bezier-0-4-0-0-2-1-easing);
}

.ds-motion-motion-component-state-change-overlay-150-cubic-bezier-0-4-0-0-2-1 {
  transition-property: overlay;
  transition-duration: var(--ds-motion-motion-component-state-change-overlay-150-cubic-bezier-0-4-0-0-2-1-duration);
  transition-delay: var(--ds-motion-motion-component-state-change-overlay-150-cubic-bezier-0-4-0-0-2-1-delay);
  transition-timing-function: var(--ds-motion-motion-component-state-change-overlay-150-cubic-bezier-0-4-0-0-2-1-easing);
}

.ds-motion-motion-component-state-change-pointer-events-150-cubic-bezier-0-4-0-0-2-1 {
  transition-property: pointer-events;
  transition-duration: var(--ds-motion-motion-component-state-change-pointer-events-150-cubic-bezier-0-4-0-0-2-1-duration);
  transition-delay: var(--ds-motion-motion-component-state-change-pointer-events-150-cubic-bezier-0-4-0-0-2-1-delay);
  transition-timing-function: var(--ds-motion-motion-component-state-change-pointer-events-150-cubic-bezier-0-4-0-0-2-1-easing);
}

.ds-motion-motion-component-load-animation-30000-linear {
  transition-property: animation;
  transition-duration: var(--ds-motion-motion-component-load-animation-30000-linear-duration);
  transition-delay: var(--ds-motion-motion-component-load-animation-30000-linear-delay);
  transition-timing-function: var(--ds-motion-motion-component-load-animation-30000-linear-easing);
}

.ds-motion-motion-component-load-animation-50000-linear {
  transition-property: animation;
  transition-duration: var(--ds-motion-motion-component-load-animation-50000-linear-duration);
  transition-delay: var(--ds-motion-motion-component-load-animation-50000-linear-delay);
  transition-timing-function: var(--ds-motion-motion-component-load-animation-50000-linear-easing);
}

.ds-motion-motion-reveal-viewport-animation-2000-cubic-bezier-0-4-0-0-6-1 {
  transition-property: animation;
  transition-duration: var(--ds-motion-motion-reveal-viewport-animation-2000-cubic-bezier-0-4-0-0-6-1-duration);
  transition-delay: var(--ds-motion-motion-reveal-viewport-animation-2000-cubic-bezier-0-4-0-0-6-1-delay);
  transition-timing-function: var(--ds-motion-motion-reveal-viewport-animation-2000-cubic-bezier-0-4-0-0-6-1-easing);
}

.ds-motion-motion-reveal-viewport-animation-13500-ease-in-out {
  transition-property: animation;
  transition-duration: var(--ds-motion-motion-reveal-viewport-animation-13500-ease-in-out-duration);
  transition-delay: var(--ds-motion-motion-reveal-viewport-animation-13500-ease-in-out-delay);
  transition-timing-function: var(--ds-motion-motion-reveal-viewport-animation-13500-ease-in-out-easing);
}

.ds-motion-motion-reveal-viewport-animation-1000-linear {
  transition-property: animation;
  transition-duration: var(--ds-motion-motion-reveal-viewport-animation-1000-linear-duration);
  transition-delay: var(--ds-motion-motion-reveal-viewport-animation-1000-linear-delay);
  transition-timing-function: var(--ds-motion-motion-reveal-viewport-animation-1000-linear-easing);
}

.ds-motion-motion-navigation-hover-color-150-cubic-bezier-0-4-0-0-2-1 {
  transition-property: color;
  transition-duration: var(--ds-motion-motion-navigation-hover-color-150-cubic-bezier-0-4-0-0-2-1-duration);
  transition-delay: var(--ds-motion-motion-navigation-hover-color-150-cubic-bezier-0-4-0-0-2-1-delay);
  transition-timing-function: var(--ds-motion-motion-navigation-hover-color-150-cubic-bezier-0-4-0-0-2-1-easing);
  transform: rgb(253, 254, 254);
}

.ds-motion-motion-navigation-focus-color-150-cubic-bezier-0-4-0-0-2-1 {
  transition-property: color;
  transition-duration: var(--ds-motion-motion-navigation-focus-color-150-cubic-bezier-0-4-0-0-2-1-duration);
  transition-delay: var(--ds-motion-motion-navigation-focus-color-150-cubic-bezier-0-4-0-0-2-1-delay);
  transition-timing-function: var(--ds-motion-motion-navigation-focus-color-150-cubic-bezier-0-4-0-0-2-1-easing);
  transform: rgb(255, 255, 255);
}

@media (prefers-reduced-motion: reduce) {
  [class*="ds-motion-"] {
    transition-duration: 0ms !important;
    animation-duration: 0ms !important;
  }
}
