:root {
  --ds-color-foreground: #101010;
  --ds-color-foreground-2: #404050;
  --ds-color-deep-accent: #202030;
  --ds-color-supporting-color: #90a0c0;
  --ds-color-supporting-color-2: #607080;
  --ds-color-supporting-color-3: #8090a0;
  --ds-color-background: #ffffff;
  --ds-color-accent: #6060d0;
  --ds-color-deep-accent-2: #505070;
  --ds-color-supporting-color-4: #d0d0f0;
  --ds-color-supporting-color-5: #939db8;
  --ds-color-deep-accent-3: #0b0c14;
  --ds-spacing-component: 12px 0px;
  --ds-radius-component: 8px;
  --ds-shadow-component: rgba(255, 255, 255, 0.25) 0px 1px 3px 0px inset;
  --ds-motion-motion-component-state-change-all-150-cubic-bezier-0-4-0-0-2-1-duration: 150ms;
  --ds-motion-motion-component-state-change-all-150-cubic-bezier-0-4-0-0-2-1-delay: 0ms;
  --ds-motion-motion-component-state-change-all-150-cubic-bezier-0-4-0-0-2-1-easing: cubic-bezier(0.4, 0, 0.2, 1);
  --ds-motion-motion-component-state-change-height-150-cubic-bezier-0-4-0-0-2-1-duration: 150ms;
  --ds-motion-motion-component-state-change-height-150-cubic-bezier-0-4-0-0-2-1-delay: 0ms;
  --ds-motion-motion-component-state-change-height-150-cubic-bezier-0-4-0-0-2-1-easing: cubic-bezier(0.4, 0, 0.2, 1);
  --ds-motion-motion-component-state-change-color-150-cubic-bezier-0-4-0-0-2-1-duration: 150ms;
  --ds-motion-motion-component-state-change-color-150-cubic-bezier-0-4-0-0-2-1-delay: 0ms;
  --ds-motion-motion-component-state-change-color-150-cubic-bezier-0-4-0-0-2-1-easing: cubic-bezier(0.4, 0, 0.2, 1);
  --ds-motion-motion-component-state-change-background-color-150-cubic-bezier-0-4-0-0-2-1-duration: 150ms;
  --ds-motion-motion-component-state-change-background-color-150-cubic-bezier-0-4-0-0-2-1-delay: 0ms;
  --ds-motion-motion-component-state-change-background-color-150-cubic-bezier-0-4-0-0-2-1-easing: cubic-bezier(0.4, 0, 0.2, 1);
  --ds-motion-motion-component-state-change-border-color-150-cubic-bezier-0-4-0-0-2-1-duration: 150ms;
  --ds-motion-motion-component-state-change-border-color-150-cubic-bezier-0-4-0-0-2-1-delay: 0ms;
  --ds-motion-motion-component-state-change-border-color-150-cubic-bezier-0-4-0-0-2-1-easing: cubic-bezier(0.4, 0, 0.2, 1);
  --ds-motion-motion-component-state-change-outline-color-150-cubic-bezier-0-4-0-0-2-1-duration: 150ms;
  --ds-motion-motion-component-state-change-outline-color-150-cubic-bezier-0-4-0-0-2-1-delay: 0ms;
  --ds-motion-motion-component-state-change-outline-color-150-cubic-bezier-0-4-0-0-2-1-easing: cubic-bezier(0.4, 0, 0.2, 1);
  --ds-motion-motion-component-state-change-text-decoration-color-150-cubic-bezier-0-4-0-0-2-1-duration: 150ms;
  --ds-motion-motion-component-state-change-text-decoration-color-150-cubic-bezier-0-4-0-0-2-1-delay: 0ms;
  --ds-motion-motion-component-state-change-text-decoration-color-150-cubic-bezier-0-4-0-0-2-1-easing: cubic-bezier(0.4, 0, 0.2, 1);
  --ds-motion-motion-component-state-change-fill-150-cubic-bezier-0-4-0-0-2-1-duration: 150ms;
  --ds-motion-motion-component-state-change-fill-150-cubic-bezier-0-4-0-0-2-1-delay: 0ms;
  --ds-motion-motion-component-state-change-fill-150-cubic-bezier-0-4-0-0-2-1-easing: cubic-bezier(0.4, 0, 0.2, 1);
  --ds-motion-motion-component-state-change-stroke-150-cubic-bezier-0-4-0-0-2-1-duration: 150ms;
  --ds-motion-motion-component-state-change-stroke-150-cubic-bezier-0-4-0-0-2-1-delay: 0ms;
  --ds-motion-motion-component-state-change-stroke-150-cubic-bezier-0-4-0-0-2-1-easing: cubic-bezier(0.4, 0, 0.2, 1);
  --ds-motion-motion-component-state-change-tw-gradient-from-150-cubic-bezier-0-4-0-0-2-1-duration: 150ms;
  --ds-motion-motion-component-state-change-tw-gradient-from-150-cubic-bezier-0-4-0-0-2-1-delay: 0ms;
  --ds-motion-motion-component-state-change-tw-gradient-from-150-cubic-bezier-0-4-0-0-2-1-easing: cubic-bezier(0.4, 0, 0.2, 1);
  --ds-motion-motion-component-state-change-tw-gradient-via-150-cubic-bezier-0-4-0-0-2-1-duration: 150ms;
  --ds-motion-motion-component-state-change-tw-gradient-via-150-cubic-bezier-0-4-0-0-2-1-delay: 0ms;
  --ds-motion-motion-component-state-change-tw-gradient-via-150-cubic-bezier-0-4-0-0-2-1-easing: cubic-bezier(0.4, 0, 0.2, 1);
  --ds-motion-motion-component-state-change-tw-gradient-to-150-cubic-bezier-0-4-0-0-2-1-duration: 150ms;
  --ds-motion-motion-component-state-change-tw-gradient-to-150-cubic-bezier-0-4-0-0-2-1-delay: 0ms;
  --ds-motion-motion-component-state-change-tw-gradient-to-150-cubic-bezier-0-4-0-0-2-1-easing: cubic-bezier(0.4, 0, 0.2, 1);
  --ds-motion-motion-component-state-change-opacity-150-cubic-bezier-0-4-0-0-2-1-duration: 150ms;
  --ds-motion-motion-component-state-change-opacity-150-cubic-bezier-0-4-0-0-2-1-delay: 0ms;
  --ds-motion-motion-component-state-change-opacity-150-cubic-bezier-0-4-0-0-2-1-easing: cubic-bezier(0.4, 0, 0.2, 1);
  --ds-motion-motion-component-state-change-box-shadow-150-cubic-bezier-0-4-0-0-2-1-duration: 150ms;
  --ds-motion-motion-component-state-change-box-shadow-150-cubic-bezier-0-4-0-0-2-1-delay: 0ms;
  --ds-motion-motion-component-state-change-box-shadow-150-cubic-bezier-0-4-0-0-2-1-easing: cubic-bezier(0.4, 0, 0.2, 1);
  --ds-motion-motion-component-state-change-transform-150-cubic-bezier-0-4-0-0-2-1-duration: 150ms;
  --ds-motion-motion-component-state-change-transform-150-cubic-bezier-0-4-0-0-2-1-delay: 0ms;
  --ds-motion-motion-component-state-change-transform-150-cubic-bezier-0-4-0-0-2-1-easing: cubic-bezier(0.4, 0, 0.2, 1);
  --ds-motion-motion-component-state-change-translate-150-cubic-bezier-0-4-0-0-2-1-duration: 150ms;
  --ds-motion-motion-component-state-change-translate-150-cubic-bezier-0-4-0-0-2-1-delay: 0ms;
  --ds-motion-motion-component-state-change-translate-150-cubic-bezier-0-4-0-0-2-1-easing: cubic-bezier(0.4, 0, 0.2, 1);
  --ds-motion-motion-component-state-change-scale-150-cubic-bezier-0-4-0-0-2-1-duration: 150ms;
  --ds-motion-motion-component-state-change-scale-150-cubic-bezier-0-4-0-0-2-1-delay: 0ms;
  --ds-motion-motion-component-state-change-scale-150-cubic-bezier-0-4-0-0-2-1-easing: cubic-bezier(0.4, 0, 0.2, 1);
  --ds-motion-motion-component-state-change-rotate-150-cubic-bezier-0-4-0-0-2-1-duration: 150ms;
  --ds-motion-motion-component-state-change-rotate-150-cubic-bezier-0-4-0-0-2-1-delay: 0ms;
  --ds-motion-motion-component-state-change-rotate-150-cubic-bezier-0-4-0-0-2-1-easing: cubic-bezier(0.4, 0, 0.2, 1);
  --ds-motion-motion-component-state-change-filter-150-cubic-bezier-0-4-0-0-2-1-duration: 150ms;
  --ds-motion-motion-component-state-change-filter-150-cubic-bezier-0-4-0-0-2-1-delay: 0ms;
  --ds-motion-motion-component-state-change-filter-150-cubic-bezier-0-4-0-0-2-1-easing: cubic-bezier(0.4, 0, 0.2, 1);
  --ds-motion-motion-component-state-change-webkit-backdrop-filter-150-cubic-bezier-0-4-0-0-2-1-duration: 150ms;
  --ds-motion-motion-component-state-change-webkit-backdrop-filter-150-cubic-bezier-0-4-0-0-2-1-delay: 0ms;
  --ds-motion-motion-component-state-change-webkit-backdrop-filter-150-cubic-bezier-0-4-0-0-2-1-easing: cubic-bezier(0.4, 0, 0.2, 1);
  --ds-motion-motion-component-state-change-backdrop-filter-150-cubic-bezier-0-4-0-0-2-1-duration: 150ms;
  --ds-motion-motion-component-state-change-backdrop-filter-150-cubic-bezier-0-4-0-0-2-1-delay: 0ms;
  --ds-motion-motion-component-state-change-backdrop-filter-150-cubic-bezier-0-4-0-0-2-1-easing: cubic-bezier(0.4, 0, 0.2, 1);
  --ds-motion-motion-component-state-change-display-150-cubic-bezier-0-4-0-0-2-1-duration: 150ms;
  --ds-motion-motion-component-state-change-display-150-cubic-bezier-0-4-0-0-2-1-delay: 0ms;
  --ds-motion-motion-component-state-change-display-150-cubic-bezier-0-4-0-0-2-1-easing: cubic-bezier(0.4, 0, 0.2, 1);
  --ds-motion-motion-component-state-change-content-visibility-150-cubic-bezier-0-4-0-0-2-1-duration: 150ms;
  --ds-motion-motion-component-state-change-content-visibility-150-cubic-bezier-0-4-0-0-2-1-delay: 0ms;
  --ds-motion-motion-component-state-change-content-visibility-150-cubic-bezier-0-4-0-0-2-1-easing: cubic-bezier(0.4, 0, 0.2, 1);
  --ds-motion-motion-component-state-change-overlay-150-cubic-bezier-0-4-0-0-2-1-duration: 150ms;
  --ds-motion-motion-component-state-change-overlay-150-cubic-bezier-0-4-0-0-2-1-delay: 0ms;
  --ds-motion-motion-component-state-change-overlay-150-cubic-bezier-0-4-0-0-2-1-easing: cubic-bezier(0.4, 0, 0.2, 1);
  --ds-motion-motion-component-state-change-pointer-events-150-cubic-bezier-0-4-0-0-2-1-duration: 150ms;
  --ds-motion-motion-component-state-change-pointer-events-150-cubic-bezier-0-4-0-0-2-1-delay: 0ms;
  --ds-motion-motion-component-state-change-pointer-events-150-cubic-bezier-0-4-0-0-2-1-easing: cubic-bezier(0.4, 0, 0.2, 1);
  --ds-motion-motion-component-load-animation-30000-linear-duration: 30000ms;
  --ds-motion-motion-component-load-animation-30000-linear-delay: 0ms;
  --ds-motion-motion-component-load-animation-30000-linear-easing: linear;
  --ds-motion-motion-component-load-animation-50000-linear-duration: 50000ms;
  --ds-motion-motion-component-load-animation-50000-linear-delay: 0ms;
  --ds-motion-motion-component-load-animation-50000-linear-easing: linear;
  --ds-motion-motion-reveal-viewport-animation-2000-cubic-bezier-0-4-0-0-6-1-duration: 2000ms;
  --ds-motion-motion-reveal-viewport-animation-2000-cubic-bezier-0-4-0-0-6-1-delay: 0ms;
  --ds-motion-motion-reveal-viewport-animation-2000-cubic-bezier-0-4-0-0-6-1-easing: cubic-bezier(0.4, 0, 0.6, 1);
  --ds-motion-motion-reveal-viewport-animation-13500-ease-in-out-duration: 13500ms;
  --ds-motion-motion-reveal-viewport-animation-13500-ease-in-out-delay: 0ms;
  --ds-motion-motion-reveal-viewport-animation-13500-ease-in-out-easing: ease-in-out;
  --ds-motion-motion-reveal-viewport-animation-1000-linear-duration: 1000ms;
  --ds-motion-motion-reveal-viewport-animation-1000-linear-delay: 0ms;
  --ds-motion-motion-reveal-viewport-animation-1000-linear-easing: linear;
  --ds-motion-motion-navigation-hover-color-150-cubic-bezier-0-4-0-0-2-1-duration: 150ms;
  --ds-motion-motion-navigation-hover-color-150-cubic-bezier-0-4-0-0-2-1-delay: 0ms;
  --ds-motion-motion-navigation-hover-color-150-cubic-bezier-0-4-0-0-2-1-easing: cubic-bezier(0.4, 0, 0.2, 1);
  --ds-motion-motion-navigation-focus-color-150-cubic-bezier-0-4-0-0-2-1-duration: 150ms;
  --ds-motion-motion-navigation-focus-color-150-cubic-bezier-0-4-0-0-2-1-delay: 0ms;
  --ds-motion-motion-navigation-focus-color-150-cubic-bezier-0-4-0-0-2-1-easing: cubic-bezier(0.4, 0, 0.2, 1);
}
