:root {
  --ds-color-background: #ffffff;
  --ds-color-foreground: #101010;
  --ds-color-neutral-surface: #808080;
  --ds-color-accent: #c0a030;
  --ds-color-neutral-surface-2: #e0e0e0;
  --ds-color-accent-2: #b040d0;
  --ds-color-deep-accent: #304040;
  --ds-color-accent-3: #f0b050;
  --ds-color-deep-accent-2: #405060;
  --ds-color-neutral-surface-3: #d0d0c0;
  --ds-color-foreground-2: #000000;
  --ds-color-neutral-surface-4: #f2f2f2;
  --ds-spacing-component: 13.5px 36px 9px;
  --ds-radius-component: missing;
  --ds-shadow-component: missing;
  --ds-motion-motion-component-load-animation-1000-linear-duration: 1000ms;
  --ds-motion-motion-component-load-animation-1000-linear-delay: 0ms;
  --ds-motion-motion-component-load-animation-1000-linear-easing: linear;
  --ds-motion-motion-component-state-change-color-350-ease-in-out-duration: 350ms;
  --ds-motion-motion-component-state-change-color-350-ease-in-out-delay: 0ms;
  --ds-motion-motion-component-state-change-color-350-ease-in-out-easing: ease-in-out;
  --ds-motion-motion-component-state-change-opacity-250-ease-in-out-duration: 250ms;
  --ds-motion-motion-component-state-change-opacity-250-ease-in-out-delay: 0ms;
  --ds-motion-motion-component-state-change-opacity-250-ease-in-out-easing: ease-in-out;
  --ds-motion-motion-component-state-change-outline-250-ease-in-out-duration: 250ms;
  --ds-motion-motion-component-state-change-outline-250-ease-in-out-delay: 0ms;
  --ds-motion-motion-component-state-change-outline-250-ease-in-out-easing: ease-in-out;
  --ds-motion-motion-component-state-change-border-250-ease-in-out-duration: 250ms;
  --ds-motion-motion-component-state-change-border-250-ease-in-out-delay: 0ms;
  --ds-motion-motion-component-state-change-border-250-ease-in-out-easing: ease-in-out;
  --ds-motion-motion-navigation-state-change-top-350-ease-in-out-duration: 350ms;
  --ds-motion-motion-navigation-state-change-top-350-ease-in-out-delay: 0ms;
  --ds-motion-motion-navigation-state-change-top-350-ease-in-out-easing: ease-in-out;
  --ds-motion-motion-navigation-state-change-background-350-ease-out-duration: 350ms;
  --ds-motion-motion-navigation-state-change-background-350-ease-out-delay: 0ms;
  --ds-motion-motion-navigation-state-change-background-350-ease-out-easing: ease-out;
  --ds-motion-motion-navigation-state-change-opacity-350-ease-out-duration: 350ms;
  --ds-motion-motion-navigation-state-change-opacity-350-ease-out-delay: 0ms;
  --ds-motion-motion-navigation-state-change-opacity-350-ease-out-easing: ease-out;
  --ds-motion-motion-navigation-state-change-margin-1000-ease-out-duration: 1000ms;
  --ds-motion-motion-navigation-state-change-margin-1000-ease-out-delay: 0ms;
  --ds-motion-motion-navigation-state-change-margin-1000-ease-out-easing: ease-out;
  --ds-motion-motion-component-state-change-height-250-ease-in-out-duration: 250ms;
  --ds-motion-motion-component-state-change-height-250-ease-in-out-delay: 0ms;
  --ds-motion-motion-component-state-change-height-250-ease-in-out-easing: ease-in-out;
  --ds-motion-motion-component-state-change-transform-500-ease-in-out-duration: 500ms;
  --ds-motion-motion-component-state-change-transform-500-ease-in-out-delay: 0ms;
  --ds-motion-motion-component-state-change-transform-500-ease-in-out-easing: ease-in-out;
  --ds-motion-motion-component-state-change-opacity-2000-ease-in-out-duration: 2000ms;
  --ds-motion-motion-component-state-change-opacity-2000-ease-in-out-delay: 0ms;
  --ds-motion-motion-component-state-change-opacity-2000-ease-in-out-easing: ease-in-out;
  --ds-motion-motion-component-state-change-width-700-ease-in-out-duration: 700ms;
  --ds-motion-motion-component-state-change-width-700-ease-in-out-delay: 0ms;
  --ds-motion-motion-component-state-change-width-700-ease-in-out-easing: ease-in-out;
  --ds-motion-motion-component-state-change-height-700-ease-in-out-duration: 700ms;
  --ds-motion-motion-component-state-change-height-700-ease-in-out-delay: 0ms;
  --ds-motion-motion-component-state-change-height-700-ease-in-out-easing: ease-in-out;
  --ds-motion-motion-component-load-animation-1500-ease-in-out-duration: 1500ms;
  --ds-motion-motion-component-load-animation-1500-ease-in-out-delay: 0ms;
  --ds-motion-motion-component-load-animation-1500-ease-in-out-easing: ease-in-out;
  --ds-motion-motion-component-state-change-background-700-ease-in-out-duration: 700ms;
  --ds-motion-motion-component-state-change-background-700-ease-in-out-delay: 0ms;
  --ds-motion-motion-component-state-change-background-700-ease-in-out-easing: ease-in-out;
}
