:root {
  --ds-color-foreground: #101010;
  --ds-color-foreground-2: #303030;
  --ds-color-background: #ffffff;
  --ds-color-accent: #20f090;
  --ds-color-neutral-surface: #909090;
  --ds-color-foreground-3: #606060;
  --ds-color-neutral-surface-2: #c0c0c0;
  --ds-color-neutral-surface-3: #e0e0e0;
  --ds-color-accent-2: #20c070;
  --ds-color-deep-accent: #103020;
  --ds-color-foreground-4: #0a0a0a;
  --ds-color-foreground-5: #000000;
  --ds-spacing-component: 16px;
  --ds-radius-component: filtered abnormal computed value;
  --ds-shadow-component: missing;
  --ds-motion-motion-button-state-change-all-300-ease-in-out-duration: 300ms;
  --ds-motion-motion-button-state-change-all-300-ease-in-out-delay: 0ms;
  --ds-motion-motion-button-state-change-all-300-ease-in-out-easing: ease-in-out;
  --ds-motion-motion-component-state-change-transform-300-ease-in-out-duration: 300ms;
  --ds-motion-motion-component-state-change-transform-300-ease-in-out-delay: 0ms;
  --ds-motion-motion-component-state-change-transform-300-ease-in-out-easing: ease-in-out;
  --ds-motion-motion-component-state-change-all-300-ease-in-out-duration: 300ms;
  --ds-motion-motion-component-state-change-all-300-ease-in-out-delay: 0ms;
  --ds-motion-motion-component-state-change-all-300-ease-in-out-easing: ease-in-out;
  --ds-motion-motion-component-state-change-max-height-300-ease-out-duration: 300ms;
  --ds-motion-motion-component-state-change-max-height-300-ease-out-delay: 0ms;
  --ds-motion-motion-component-state-change-max-height-300-ease-out-easing: ease-out;
  --ds-motion-motion-component-state-change-opacity-200-ease-out-duration: 200ms;
  --ds-motion-motion-component-state-change-opacity-200-ease-out-delay: 100ms;
  --ds-motion-motion-component-state-change-opacity-200-ease-out-easing: ease-out;
  --ds-motion-motion-component-state-change-opacity-150-ease-out-duration: 150ms;
  --ds-motion-motion-component-state-change-opacity-150-ease-out-delay: 0ms;
  --ds-motion-motion-component-state-change-opacity-150-ease-out-easing: ease-out;
  --ds-motion-motion-component-load-animation-1000-linear-duration: 1000ms;
  --ds-motion-motion-component-load-animation-1000-linear-delay: 0ms;
  --ds-motion-motion-component-load-animation-1000-linear-easing: linear;
  --ds-motion-motion-reveal-viewport-animation-250-ease-in-out-duration: 250ms;
  --ds-motion-motion-reveal-viewport-animation-250-ease-in-out-delay: 0ms;
  --ds-motion-motion-reveal-viewport-animation-250-ease-in-out-easing: ease-in-out;
  --ds-motion-motion-reveal-viewport-animation-50000-linear-duration: 50000ms;
  --ds-motion-motion-reveal-viewport-animation-50000-linear-delay: 0ms;
  --ds-motion-motion-reveal-viewport-animation-50000-linear-easing: linear;
  --ds-motion-motion-reveal-viewport-animation-1000-cubic-bezier-0-0-2-1-duration: 1000ms;
  --ds-motion-motion-reveal-viewport-animation-1000-cubic-bezier-0-0-2-1-delay: 0ms;
  --ds-motion-motion-reveal-viewport-animation-1000-cubic-bezier-0-0-2-1-easing: cubic-bezier(0, 0, .2, 1);
  --ds-motion-motion-reveal-viewport-animation-2000-cubic-bezier-4-0-6-1-duration: 2000ms;
  --ds-motion-motion-reveal-viewport-animation-2000-cubic-bezier-4-0-6-1-delay: 0ms;
  --ds-motion-motion-reveal-viewport-animation-2000-cubic-bezier-4-0-6-1-easing: cubic-bezier(.4, 0, .6, 1);
  --ds-motion-motion-reveal-viewport-animation-1000-linear-duration: 1000ms;
  --ds-motion-motion-reveal-viewport-animation-1000-linear-delay: 0ms;
  --ds-motion-motion-reveal-viewport-animation-1000-linear-easing: linear;
  --ds-motion-motion-component-state-change-color-100-cubic-bezier-4-0-2-1-duration: 100ms;
  --ds-motion-motion-component-state-change-color-100-cubic-bezier-4-0-2-1-delay: 0ms;
  --ds-motion-motion-component-state-change-color-100-cubic-bezier-4-0-2-1-easing: cubic-bezier(.4, 0, .2, 1);
  --ds-motion-motion-component-state-change-background-color-100-cubic-bezier-4-0-2-1-duration: 100ms;
  --ds-motion-motion-component-state-change-background-color-100-cubic-bezier-4-0-2-1-delay: 0ms;
  --ds-motion-motion-component-state-change-background-color-100-cubic-bezier-4-0-2-1-easing: cubic-bezier(.4, 0, .2, 1);
  --ds-motion-motion-component-state-change-border-color-100-cubic-bezier-4-0-2-1-duration: 100ms;
  --ds-motion-motion-component-state-change-border-color-100-cubic-bezier-4-0-2-1-delay: 0ms;
  --ds-motion-motion-component-state-change-border-color-100-cubic-bezier-4-0-2-1-easing: cubic-bezier(.4, 0, .2, 1);
  --ds-motion-motion-component-state-change-outline-color-100-cubic-bezier-4-0-2-1-duration: 100ms;
  --ds-motion-motion-component-state-change-outline-color-100-cubic-bezier-4-0-2-1-delay: 0ms;
  --ds-motion-motion-component-state-change-outline-color-100-cubic-bezier-4-0-2-1-easing: cubic-bezier(.4, 0, .2, 1);
  --ds-motion-motion-component-state-change-text-decoration-color-100-cubic-bezier-4-0-2-1-duration: 100ms;
  --ds-motion-motion-component-state-change-text-decoration-color-100-cubic-bezier-4-0-2-1-delay: 0ms;
  --ds-motion-motion-component-state-change-text-decoration-color-100-cubic-bezier-4-0-2-1-easing: cubic-bezier(.4, 0, .2, 1);
  --ds-motion-motion-component-state-change-fill-100-cubic-bezier-4-0-2-1-duration: 100ms;
  --ds-motion-motion-component-state-change-fill-100-cubic-bezier-4-0-2-1-delay: 0ms;
  --ds-motion-motion-component-state-change-fill-100-cubic-bezier-4-0-2-1-easing: cubic-bezier(.4, 0, .2, 1);
  --ds-motion-motion-component-state-change-stroke-100-cubic-bezier-4-0-2-1-duration: 100ms;
  --ds-motion-motion-component-state-change-stroke-100-cubic-bezier-4-0-2-1-delay: 0ms;
  --ds-motion-motion-component-state-change-stroke-100-cubic-bezier-4-0-2-1-easing: cubic-bezier(.4, 0, .2, 1);
  --ds-motion-motion-component-state-change-tw-gradient-from-100-cubic-bezier-4-0-2-1-duration: 100ms;
  --ds-motion-motion-component-state-change-tw-gradient-from-100-cubic-bezier-4-0-2-1-delay: 0ms;
  --ds-motion-motion-component-state-change-tw-gradient-from-100-cubic-bezier-4-0-2-1-easing: cubic-bezier(.4, 0, .2, 1);
  --ds-motion-motion-component-state-change-tw-gradient-via-100-cubic-bezier-4-0-2-1-duration: 100ms;
  --ds-motion-motion-component-state-change-tw-gradient-via-100-cubic-bezier-4-0-2-1-delay: 0ms;
  --ds-motion-motion-component-state-change-tw-gradient-via-100-cubic-bezier-4-0-2-1-easing: cubic-bezier(.4, 0, .2, 1);
  --ds-motion-motion-component-state-change-tw-gradient-to-100-cubic-bezier-4-0-2-1-duration: 100ms;
  --ds-motion-motion-component-state-change-tw-gradient-to-100-cubic-bezier-4-0-2-1-delay: 0ms;
  --ds-motion-motion-component-state-change-tw-gradient-to-100-cubic-bezier-4-0-2-1-easing: cubic-bezier(.4, 0, .2, 1);
  --ds-motion-motion-component-state-change-opacity-100-cubic-bezier-4-0-2-1-duration: 100ms;
  --ds-motion-motion-component-state-change-opacity-100-cubic-bezier-4-0-2-1-delay: 0ms;
  --ds-motion-motion-component-state-change-opacity-100-cubic-bezier-4-0-2-1-easing: cubic-bezier(.4, 0, .2, 1);
  --ds-motion-motion-component-state-change-box-shadow-100-cubic-bezier-4-0-2-1-duration: 100ms;
  --ds-motion-motion-component-state-change-box-shadow-100-cubic-bezier-4-0-2-1-delay: 0ms;
  --ds-motion-motion-component-state-change-box-shadow-100-cubic-bezier-4-0-2-1-easing: cubic-bezier(.4, 0, .2, 1);
  --ds-motion-motion-component-state-change-transform-100-cubic-bezier-4-0-2-1-duration: 100ms;
  --ds-motion-motion-component-state-change-transform-100-cubic-bezier-4-0-2-1-delay: 0ms;
  --ds-motion-motion-component-state-change-transform-100-cubic-bezier-4-0-2-1-easing: cubic-bezier(.4, 0, .2, 1);
  --ds-motion-motion-component-state-change-translate-100-cubic-bezier-4-0-2-1-duration: 100ms;
  --ds-motion-motion-component-state-change-translate-100-cubic-bezier-4-0-2-1-delay: 0ms;
  --ds-motion-motion-component-state-change-translate-100-cubic-bezier-4-0-2-1-easing: cubic-bezier(.4, 0, .2, 1);
  --ds-motion-motion-component-state-change-scale-100-cubic-bezier-4-0-2-1-duration: 100ms;
  --ds-motion-motion-component-state-change-scale-100-cubic-bezier-4-0-2-1-delay: 0ms;
  --ds-motion-motion-component-state-change-scale-100-cubic-bezier-4-0-2-1-easing: cubic-bezier(.4, 0, .2, 1);
  --ds-motion-motion-component-state-change-rotate-100-cubic-bezier-4-0-2-1-duration: 100ms;
  --ds-motion-motion-component-state-change-rotate-100-cubic-bezier-4-0-2-1-delay: 0ms;
  --ds-motion-motion-component-state-change-rotate-100-cubic-bezier-4-0-2-1-easing: cubic-bezier(.4, 0, .2, 1);
  --ds-motion-motion-component-state-change-filter-100-cubic-bezier-4-0-2-1-duration: 100ms;
  --ds-motion-motion-component-state-change-filter-100-cubic-bezier-4-0-2-1-delay: 0ms;
  --ds-motion-motion-component-state-change-filter-100-cubic-bezier-4-0-2-1-easing: cubic-bezier(.4, 0, .2, 1);
  --ds-motion-motion-component-state-change-webkit-backdrop-filter-100-cubic-bezier-4-0-2-1-duration: 100ms;
  --ds-motion-motion-component-state-change-webkit-backdrop-filter-100-cubic-bezier-4-0-2-1-delay: 0ms;
  --ds-motion-motion-component-state-change-webkit-backdrop-filter-100-cubic-bezier-4-0-2-1-easing: cubic-bezier(.4, 0, .2, 1);
  --ds-motion-motion-component-state-change-backdrop-filter-100-cubic-bezier-4-0-2-1-duration: 100ms;
  --ds-motion-motion-component-state-change-backdrop-filter-100-cubic-bezier-4-0-2-1-delay: 0ms;
  --ds-motion-motion-component-state-change-backdrop-filter-100-cubic-bezier-4-0-2-1-easing: cubic-bezier(.4, 0, .2, 1);
  --ds-motion-motion-component-state-change-display-100-cubic-bezier-4-0-2-1-duration: 100ms;
  --ds-motion-motion-component-state-change-display-100-cubic-bezier-4-0-2-1-delay: 0ms;
  --ds-motion-motion-component-state-change-display-100-cubic-bezier-4-0-2-1-easing: cubic-bezier(.4, 0, .2, 1);
  --ds-motion-motion-component-state-change-content-visibility-100-cubic-bezier-4-0-2-1-duration: 100ms;
  --ds-motion-motion-component-state-change-content-visibility-100-cubic-bezier-4-0-2-1-delay: 0ms;
  --ds-motion-motion-component-state-change-content-visibility-100-cubic-bezier-4-0-2-1-easing: cubic-bezier(.4, 0, .2, 1);
  --ds-motion-motion-button-hover-color-0-ease-duration: 0ms;
  --ds-motion-motion-button-hover-color-0-ease-delay: 0ms;
  --ds-motion-motion-button-hover-color-0-ease-easing: ease;
  --ds-motion-motion-button-focus-color-0-ease-duration: 0ms;
  --ds-motion-motion-button-focus-color-0-ease-delay: 0ms;
  --ds-motion-motion-button-focus-color-0-ease-easing: ease;
}
