.ds-motion-motion-button-hover-boxshadow-175-ease {
  transition-property: boxShadow;
  transition-duration: var(--ds-motion-motion-button-hover-boxshadow-175-ease-duration);
  transition-delay: var(--ds-motion-motion-button-hover-boxshadow-175-ease-delay);
  transition-timing-function: var(--ds-motion-motion-button-hover-boxshadow-175-ease-easing);
  transform: rgba(255, 71, 0, 0.384) 0px 0px 30.6529px 0px;
}

.ds-motion-motion-button-focus-boxshadow-175-ease {
  transition-property: boxShadow;
  transition-duration: var(--ds-motion-motion-button-focus-boxshadow-175-ease-duration);
  transition-delay: var(--ds-motion-motion-button-focus-boxshadow-175-ease-delay);
  transition-timing-function: var(--ds-motion-motion-button-focus-boxshadow-175-ease-easing);
  transform: rgba(255, 71, 0, 0.392) 0px 0px 27.6701px 0px;
}

@media (prefers-reduced-motion: reduce) {
  [class*="ds-motion-"] {
    transition-duration: 0ms !important;
    animation-duration: 0ms !important;
  }
}
