:root {
  --ds-color-background: #ffffff;
  --ds-color-foreground: #000000;
  --ds-color-neutral-surface: #e0e0e0;
  --ds-color-neutral-surface-2: #c0c0c0;
  --ds-color-foreground-2: #404040;
  --ds-color-neutral-surface-3: #808080;
  --ds-color-foreground-3: #202020;
  --ds-color-neutral-surface-4: #a0a0a0;
  --ds-color-foreground-4: #606060;
  --ds-spacing-component: 10.8px 14.4px;
  --ds-radius-component: 19.2px;
  --ds-shadow-component: missing;
  --ds-motion-motion-component-state-change-opacity-0-ease-duration: 0ms;
  --ds-motion-motion-component-state-change-opacity-0-ease-delay: 0ms;
  --ds-motion-motion-component-state-change-opacity-0-ease-easing: ease;
  --ds-motion-motion-component-state-change-filter-150-ease-duration: 150ms;
  --ds-motion-motion-component-state-change-filter-150-ease-delay: 0ms;
  --ds-motion-motion-component-state-change-filter-150-ease-easing: ease;
  --ds-motion-motion-component-state-change-opacity-100-ease-duration: 100ms;
  --ds-motion-motion-component-state-change-opacity-100-ease-delay: 0ms;
  --ds-motion-motion-component-state-change-opacity-100-ease-easing: ease;
  --ds-motion-motion-component-state-change-transform-450-cubic-bezier-77-0-175-1-duration: 450ms;
  --ds-motion-motion-component-state-change-transform-450-cubic-bezier-77-0-175-1-delay: 0ms;
  --ds-motion-motion-component-state-change-transform-450-cubic-bezier-77-0-175-1-easing: cubic-bezier(.77,0,.175,1);
  --ds-motion-motion-component-state-change-opacity-80-ease-duration: 80ms;
  --ds-motion-motion-component-state-change-opacity-80-ease-delay: 0ms;
  --ds-motion-motion-component-state-change-opacity-80-ease-easing: ease;
  --ds-motion-motion-navigation-state-change-transform-450-cubic-bezier-77-0-175-1-duration: 450ms;
  --ds-motion-motion-navigation-state-change-transform-450-cubic-bezier-77-0-175-1-delay: 0ms;
  --ds-motion-motion-navigation-state-change-transform-450-cubic-bezier-77-0-175-1-easing: cubic-bezier(.77,0,.175,1);
  --ds-motion-motion-navigation-state-change-opacity-150-ease-duration: 150ms;
  --ds-motion-motion-navigation-state-change-opacity-150-ease-delay: 0ms;
  --ds-motion-motion-navigation-state-change-opacity-150-ease-easing: ease;
  --ds-motion-motion-component-state-change-opacity-150-ease-duration: 150ms;
  --ds-motion-motion-component-state-change-opacity-150-ease-delay: 0ms;
  --ds-motion-motion-component-state-change-opacity-150-ease-easing: ease;
  --ds-motion-motion-overlay-state-change-transform-450-cubic-bezier-77-0-175-1-duration: 450ms;
  --ds-motion-motion-overlay-state-change-transform-450-cubic-bezier-77-0-175-1-delay: 0ms;
  --ds-motion-motion-overlay-state-change-transform-450-cubic-bezier-77-0-175-1-easing: cubic-bezier(.77,0,.175,1);
  --ds-motion-motion-button-hover-backgroundcolor-450-cubic-bezier-0-77-0-0-175-1-duration: 450ms;
  --ds-motion-motion-button-hover-backgroundcolor-450-cubic-bezier-0-77-0-0-175-1-delay: 0ms;
  --ds-motion-motion-button-hover-backgroundcolor-450-cubic-bezier-0-77-0-0-175-1-easing: cubic-bezier(0.77, 0, 0.175, 1);
  --ds-motion-motion-button-focus-backgroundcolor-450-cubic-bezier-0-77-0-0-175-1-duration: 450ms;
  --ds-motion-motion-button-focus-backgroundcolor-450-cubic-bezier-0-77-0-0-175-1-delay: 0ms;
  --ds-motion-motion-button-focus-backgroundcolor-450-cubic-bezier-0-77-0-0-175-1-easing: cubic-bezier(0.77, 0, 0.175, 1);
  --ds-motion-motion-button-hover-backgroundcolor-0-ease-duration: 0ms;
  --ds-motion-motion-button-hover-backgroundcolor-0-ease-delay: 0ms;
  --ds-motion-motion-button-hover-backgroundcolor-0-ease-easing: ease;
  --ds-motion-motion-button-focus-backgroundcolor-0-ease-duration: 0ms;
  --ds-motion-motion-button-focus-backgroundcolor-0-ease-delay: 0ms;
  --ds-motion-motion-button-focus-backgroundcolor-0-ease-easing: ease;
}
