:root {
  --ds-color-deep-accent: #101020;
  --ds-color-deep-accent-2: #303040;
  --ds-color-neutral-surface: #a0a0b0;
  --ds-color-deep-accent-3: #606070;
  --ds-color-background: #ffffff;
  --ds-color-neutral-surface-2: #808090;
  --ds-color-neutral-surface-3: #e0e0e0;
  --ds-color-neutral-surface-4: #c0c0c0;
  --ds-color-foreground: #505050;
  --ds-color-supporting-color: #408060;
  --ds-color-deep-accent-4: #13111c;
  --ds-color-foreground-2: #000000;
  --ds-spacing-component: 0px 12px;
  --ds-radius-component: 50%;
  --ds-shadow-component: missing;
  --ds-motion-motion-reveal-viewport-animation-60000-linear-duration: 60000ms;
  --ds-motion-motion-reveal-viewport-animation-60000-linear-delay: 0ms;
  --ds-motion-motion-reveal-viewport-animation-60000-linear-easing: linear;
  --ds-motion-motion-reveal-viewport-animation-120000-linear-duration: 120000ms;
  --ds-motion-motion-reveal-viewport-animation-120000-linear-delay: 0ms;
  --ds-motion-motion-reveal-viewport-animation-120000-linear-easing: linear;
  --ds-motion-motion-reveal-viewport-animation-1200-ease-out-duration: 1200ms;
  --ds-motion-motion-reveal-viewport-animation-1200-ease-out-delay: 0ms;
  --ds-motion-motion-reveal-viewport-animation-1200-ease-out-easing: ease-out;
  --ds-motion-motion-reveal-viewport-animation-1000-cubic-bezier-0-0-2-1-duration: 1000ms;
  --ds-motion-motion-reveal-viewport-animation-1000-cubic-bezier-0-0-2-1-delay: 0ms;
  --ds-motion-motion-reveal-viewport-animation-1000-cubic-bezier-0-0-2-1-easing: cubic-bezier(0,0,.2,1);
  --ds-motion-motion-reveal-viewport-animation-2000-cubic-bezier-4-0-6-1-duration: 2000ms;
  --ds-motion-motion-reveal-viewport-animation-2000-cubic-bezier-4-0-6-1-delay: 0ms;
  --ds-motion-motion-reveal-viewport-animation-2000-cubic-bezier-4-0-6-1-easing: cubic-bezier(.4,0,.6,1);
  --ds-motion-motion-reveal-viewport-animation-3000-cubic-bezier-25-1-25-8-duration: 3000ms;
  --ds-motion-motion-reveal-viewport-animation-3000-cubic-bezier-25-1-25-8-delay: 0ms;
  --ds-motion-motion-reveal-viewport-animation-3000-cubic-bezier-25-1-25-8-easing: cubic-bezier(.25,.1,.25,.8);
  --ds-motion-motion-reveal-viewport-animation-40000-linear-duration: 40000ms;
  --ds-motion-motion-reveal-viewport-animation-40000-linear-delay: 0ms;
  --ds-motion-motion-reveal-viewport-animation-40000-linear-easing: linear;
  --ds-motion-motion-reveal-viewport-animation-5000-linear-duration: 5000ms;
  --ds-motion-motion-reveal-viewport-animation-5000-linear-delay: 0ms;
  --ds-motion-motion-reveal-viewport-animation-5000-linear-easing: linear;
  --ds-motion-motion-reveal-viewport-animation-500-ease-in-out-duration: 500ms;
  --ds-motion-motion-reveal-viewport-animation-500-ease-in-out-delay: 0ms;
  --ds-motion-motion-reveal-viewport-animation-500-ease-in-out-easing: ease-in-out;
  --ds-motion-motion-reveal-viewport-animation-30000-linear-duration: 30000ms;
  --ds-motion-motion-reveal-viewport-animation-30000-linear-delay: 0ms;
  --ds-motion-motion-reveal-viewport-animation-30000-linear-easing: linear;
  --ds-motion-motion-reveal-viewport-animation-100-ease-in-out-duration: 100ms;
  --ds-motion-motion-reveal-viewport-animation-100-ease-in-out-delay: 0ms;
  --ds-motion-motion-reveal-viewport-animation-100-ease-in-out-easing: ease-in-out;
  --ds-motion-motion-component-state-change-color-150-cubic-bezier-4-0-2-1-duration: 150ms;
  --ds-motion-motion-component-state-change-color-150-cubic-bezier-4-0-2-1-delay: 0ms;
  --ds-motion-motion-component-state-change-color-150-cubic-bezier-4-0-2-1-easing: cubic-bezier(.4,0,.2,1);
  --ds-motion-motion-component-state-change-background-color-150-cubic-bezier-4-0-2-1-duration: 150ms;
  --ds-motion-motion-component-state-change-background-color-150-cubic-bezier-4-0-2-1-delay: 0ms;
  --ds-motion-motion-component-state-change-background-color-150-cubic-bezier-4-0-2-1-easing: cubic-bezier(.4,0,.2,1);
  --ds-motion-motion-component-state-change-border-color-150-cubic-bezier-4-0-2-1-duration: 150ms;
  --ds-motion-motion-component-state-change-border-color-150-cubic-bezier-4-0-2-1-delay: 0ms;
  --ds-motion-motion-component-state-change-border-color-150-cubic-bezier-4-0-2-1-easing: cubic-bezier(.4,0,.2,1);
  --ds-motion-motion-component-state-change-text-decoration-color-150-cubic-bezier-4-0-2-1-duration: 150ms;
  --ds-motion-motion-component-state-change-text-decoration-color-150-cubic-bezier-4-0-2-1-delay: 0ms;
  --ds-motion-motion-component-state-change-text-decoration-color-150-cubic-bezier-4-0-2-1-easing: cubic-bezier(.4,0,.2,1);
  --ds-motion-motion-component-state-change-fill-150-cubic-bezier-4-0-2-1-duration: 150ms;
  --ds-motion-motion-component-state-change-fill-150-cubic-bezier-4-0-2-1-delay: 0ms;
  --ds-motion-motion-component-state-change-fill-150-cubic-bezier-4-0-2-1-easing: cubic-bezier(.4,0,.2,1);
  --ds-motion-motion-component-state-change-stroke-150-cubic-bezier-4-0-2-1-duration: 150ms;
  --ds-motion-motion-component-state-change-stroke-150-cubic-bezier-4-0-2-1-delay: 0ms;
  --ds-motion-motion-component-state-change-stroke-150-cubic-bezier-4-0-2-1-easing: cubic-bezier(.4,0,.2,1);
  --ds-motion-motion-component-state-change-opacity-150-cubic-bezier-4-0-2-1-duration: 150ms;
  --ds-motion-motion-component-state-change-opacity-150-cubic-bezier-4-0-2-1-delay: 0ms;
  --ds-motion-motion-component-state-change-opacity-150-cubic-bezier-4-0-2-1-easing: cubic-bezier(.4,0,.2,1);
  --ds-motion-motion-component-state-change-box-shadow-150-cubic-bezier-4-0-2-1-duration: 150ms;
  --ds-motion-motion-component-state-change-box-shadow-150-cubic-bezier-4-0-2-1-delay: 0ms;
  --ds-motion-motion-component-state-change-box-shadow-150-cubic-bezier-4-0-2-1-easing: cubic-bezier(.4,0,.2,1);
  --ds-motion-motion-component-state-change-transform-150-cubic-bezier-4-0-2-1-duration: 150ms;
  --ds-motion-motion-component-state-change-transform-150-cubic-bezier-4-0-2-1-delay: 0ms;
  --ds-motion-motion-component-state-change-transform-150-cubic-bezier-4-0-2-1-easing: cubic-bezier(.4,0,.2,1);
  --ds-motion-motion-component-state-change-filter-150-cubic-bezier-4-0-2-1-duration: 150ms;
  --ds-motion-motion-component-state-change-filter-150-cubic-bezier-4-0-2-1-delay: 0ms;
  --ds-motion-motion-component-state-change-filter-150-cubic-bezier-4-0-2-1-easing: cubic-bezier(.4,0,.2,1);
  --ds-motion-motion-component-state-change-webkit-backdrop-filter-150-cubic-bezier-4-0-2-1-duration: 150ms;
  --ds-motion-motion-component-state-change-webkit-backdrop-filter-150-cubic-bezier-4-0-2-1-delay: 0ms;
  --ds-motion-motion-component-state-change-webkit-backdrop-filter-150-cubic-bezier-4-0-2-1-easing: cubic-bezier(.4,0,.2,1);
  --ds-motion-motion-component-state-change-backdrop-filter-150-cubic-bezier-4-0-2-1-duration: 150ms;
  --ds-motion-motion-component-state-change-backdrop-filter-150-cubic-bezier-4-0-2-1-delay: 0ms;
  --ds-motion-motion-component-state-change-backdrop-filter-150-cubic-bezier-4-0-2-1-easing: cubic-bezier(.4,0,.2,1);
  --ds-motion-motion-component-state-change-background-size-150-cubic-bezier-4-0-2-1-duration: 150ms;
  --ds-motion-motion-component-state-change-background-size-150-cubic-bezier-4-0-2-1-delay: 0ms;
  --ds-motion-motion-component-state-change-background-size-150-cubic-bezier-4-0-2-1-easing: cubic-bezier(.4,0,.2,1);
  --ds-motion-motion-component-state-change-height-150-cubic-bezier-4-0-2-1-duration: 150ms;
  --ds-motion-motion-component-state-change-height-150-cubic-bezier-4-0-2-1-delay: 0ms;
  --ds-motion-motion-component-state-change-height-150-cubic-bezier-4-0-2-1-easing: cubic-bezier(.4,0,.2,1);
  --ds-motion-motion-component-state-change-margin-150-cubic-bezier-4-0-2-1-duration: 150ms;
  --ds-motion-motion-component-state-change-margin-150-cubic-bezier-4-0-2-1-delay: 0ms;
  --ds-motion-motion-component-state-change-margin-150-cubic-bezier-4-0-2-1-easing: cubic-bezier(.4,0,.2,1);
  --ds-motion-motion-component-state-change-padding-150-cubic-bezier-4-0-2-1-duration: 150ms;
  --ds-motion-motion-component-state-change-padding-150-cubic-bezier-4-0-2-1-delay: 0ms;
  --ds-motion-motion-component-state-change-padding-150-cubic-bezier-4-0-2-1-easing: cubic-bezier(.4,0,.2,1);
  --ds-motion-motion-component-state-change-width-150-cubic-bezier-4-0-2-1-duration: 150ms;
  --ds-motion-motion-component-state-change-width-150-cubic-bezier-4-0-2-1-delay: 0ms;
  --ds-motion-motion-component-state-change-width-150-cubic-bezier-4-0-2-1-easing: cubic-bezier(.4,0,.2,1);
  --ds-motion-motion-component-state-change-all-150-cubic-bezier-4-0-2-1-duration: 150ms;
  --ds-motion-motion-component-state-change-all-150-cubic-bezier-4-0-2-1-delay: 0ms;
  --ds-motion-motion-component-state-change-all-150-cubic-bezier-4-0-2-1-easing: cubic-bezier(.4,0,.2,1);
  --ds-motion-motion-navigation-hover-color-0-ease-duration: 0ms;
  --ds-motion-motion-navigation-hover-color-0-ease-delay: 0ms;
  --ds-motion-motion-navigation-hover-color-0-ease-easing: ease;
  --ds-motion-motion-navigation-focus-color-0-ease-duration: 0ms;
  --ds-motion-motion-navigation-focus-color-0-ease-delay: 0ms;
  --ds-motion-motion-navigation-focus-color-0-ease-easing: ease;
  --ds-motion-motion-button-hover-transform-200-ease-out-duration: 200ms;
  --ds-motion-motion-button-hover-transform-200-ease-out-delay: 0ms;
  --ds-motion-motion-button-hover-transform-200-ease-out-easing: ease-out;
  --ds-motion-motion-button-focus-transform-200-ease-out-duration: 200ms;
  --ds-motion-motion-button-focus-transform-200-ease-out-delay: 0ms;
  --ds-motion-motion-button-focus-transform-200-ease-out-easing: ease-out;
}
