:root {
  --ds-color-background: #ffffff;
  --ds-color-accent: #0050f0;
  --ds-color-foreground: #404050;
  --ds-color-accent-2: #6090ff;
  --ds-color-neutral-surface: #707070;
  --ds-color-neutral-surface-2: #e0e0e0;
  --ds-color-neutral-surface-3: #c0c0c0;
  --ds-color-supporting-color: #c0d0ff;
  --ds-color-neutral-surface-4: #909090;
  --ds-color-accent-3: #4080f0;
  --ds-color-foreground-2: #000000;
  --ds-color-supporting-color-2: #717783;
  --ds-spacing-component: 0px 16px;
  --ds-radius-component: filtered abnormal computed value;
  --ds-shadow-component: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
  --ds-motion-motion-reveal-viewport-animation-6000-ease-in-out-duration: 6000ms;
  --ds-motion-motion-reveal-viewport-animation-6000-ease-in-out-delay: 0ms;
  --ds-motion-motion-reveal-viewport-animation-6000-ease-in-out-easing: ease-in-out;
  --ds-motion-motion-reveal-viewport-animation-6000-steps-2-end-duration: 6000ms;
  --ds-motion-motion-reveal-viewport-animation-6000-steps-2-end-delay: 0ms;
  --ds-motion-motion-reveal-viewport-animation-6000-steps-2-end-easing: steps(2,end);
  --ds-motion-motion-reveal-viewport-animation-1000-cubic-bezier-0-0-2-1-duration: 1000ms;
  --ds-motion-motion-reveal-viewport-animation-1000-cubic-bezier-0-0-2-1-delay: 0ms;
  --ds-motion-motion-reveal-viewport-animation-1000-cubic-bezier-0-0-2-1-easing: cubic-bezier(0,0,.2,1);
  --ds-motion-motion-reveal-viewport-animation-1000-ease-in-out-duration: 1000ms;
  --ds-motion-motion-reveal-viewport-animation-1000-ease-in-out-delay: 1000ms;
  --ds-motion-motion-reveal-viewport-animation-1000-ease-in-out-easing: ease-in-out;
  --ds-motion-motion-reveal-viewport-animation-2000-cubic-bezier-4-0-6-1-duration: 2000ms;
  --ds-motion-motion-reveal-viewport-animation-2000-cubic-bezier-4-0-6-1-delay: 0ms;
  --ds-motion-motion-reveal-viewport-animation-2000-cubic-bezier-4-0-6-1-easing: cubic-bezier(.4,0,.6,1);
  --ds-motion-motion-reveal-viewport-animation-3000-ease-duration: 3000ms;
  --ds-motion-motion-reveal-viewport-animation-3000-ease-delay: 0ms;
  --ds-motion-motion-reveal-viewport-animation-3000-ease-easing: ease;
  --ds-motion-motion-reveal-viewport-animation-1000-linear-duration: 1000ms;
  --ds-motion-motion-reveal-viewport-animation-1000-linear-delay: 0ms;
  --ds-motion-motion-reveal-viewport-animation-1000-linear-easing: linear;
  --ds-motion-motion-reveal-viewport-animation-1000-cubic-bezier-65-0-35-1-duration: 1000ms;
  --ds-motion-motion-reveal-viewport-animation-1000-cubic-bezier-65-0-35-1-delay: 0ms;
  --ds-motion-motion-reveal-viewport-animation-1000-cubic-bezier-65-0-35-1-easing: cubic-bezier(.65,0,.35,1);
  --ds-motion-motion-component-state-change-color-300-cubic-bezier-5-2-5-7-7-duration: 300ms;
  --ds-motion-motion-component-state-change-color-300-cubic-bezier-5-2-5-7-7-delay: 0ms;
  --ds-motion-motion-component-state-change-color-300-cubic-bezier-5-2-5-7-7-easing: cubic-bezier(.5,2.5,.7,.7);
  --ds-motion-motion-component-state-change-background-color-300-cubic-bezier-5-2-5-7-7-duration: 300ms;
  --ds-motion-motion-component-state-change-background-color-300-cubic-bezier-5-2-5-7-7-delay: 0ms;
  --ds-motion-motion-component-state-change-background-color-300-cubic-bezier-5-2-5-7-7-easing: cubic-bezier(.5,2.5,.7,.7);
  --ds-motion-motion-component-state-change-border-color-300-cubic-bezier-5-2-5-7-7-duration: 300ms;
  --ds-motion-motion-component-state-change-border-color-300-cubic-bezier-5-2-5-7-7-delay: 0ms;
  --ds-motion-motion-component-state-change-border-color-300-cubic-bezier-5-2-5-7-7-easing: cubic-bezier(.5,2.5,.7,.7);
  --ds-motion-motion-component-state-change-outline-color-300-cubic-bezier-5-2-5-7-7-duration: 300ms;
  --ds-motion-motion-component-state-change-outline-color-300-cubic-bezier-5-2-5-7-7-delay: 0ms;
  --ds-motion-motion-component-state-change-outline-color-300-cubic-bezier-5-2-5-7-7-easing: cubic-bezier(.5,2.5,.7,.7);
  --ds-motion-motion-component-state-change-text-decoration-color-300-cubic-bezier-5-2-5-7-7-duration: 300ms;
  --ds-motion-motion-component-state-change-text-decoration-color-300-cubic-bezier-5-2-5-7-7-delay: 0ms;
  --ds-motion-motion-component-state-change-text-decoration-color-300-cubic-bezier-5-2-5-7-7-easing: cubic-bezier(.5,2.5,.7,.7);
  --ds-motion-motion-component-state-change-fill-300-cubic-bezier-5-2-5-7-7-duration: 300ms;
  --ds-motion-motion-component-state-change-fill-300-cubic-bezier-5-2-5-7-7-delay: 0ms;
  --ds-motion-motion-component-state-change-fill-300-cubic-bezier-5-2-5-7-7-easing: cubic-bezier(.5,2.5,.7,.7);
  --ds-motion-motion-component-state-change-stroke-300-cubic-bezier-5-2-5-7-7-duration: 300ms;
  --ds-motion-motion-component-state-change-stroke-300-cubic-bezier-5-2-5-7-7-delay: 0ms;
  --ds-motion-motion-component-state-change-stroke-300-cubic-bezier-5-2-5-7-7-easing: cubic-bezier(.5,2.5,.7,.7);
  --ds-motion-motion-component-state-change-tw-gradient-from-300-cubic-bezier-5-2-5-7-7-duration: 300ms;
  --ds-motion-motion-component-state-change-tw-gradient-from-300-cubic-bezier-5-2-5-7-7-delay: 0ms;
  --ds-motion-motion-component-state-change-tw-gradient-from-300-cubic-bezier-5-2-5-7-7-easing: cubic-bezier(.5,2.5,.7,.7);
  --ds-motion-motion-component-state-change-tw-gradient-via-300-cubic-bezier-5-2-5-7-7-duration: 300ms;
  --ds-motion-motion-component-state-change-tw-gradient-via-300-cubic-bezier-5-2-5-7-7-delay: 0ms;
  --ds-motion-motion-component-state-change-tw-gradient-via-300-cubic-bezier-5-2-5-7-7-easing: cubic-bezier(.5,2.5,.7,.7);
  --ds-motion-motion-component-state-change-tw-gradient-to-300-cubic-bezier-5-2-5-7-7-duration: 300ms;
  --ds-motion-motion-component-state-change-tw-gradient-to-300-cubic-bezier-5-2-5-7-7-delay: 0ms;
  --ds-motion-motion-component-state-change-tw-gradient-to-300-cubic-bezier-5-2-5-7-7-easing: cubic-bezier(.5,2.5,.7,.7);
  --ds-motion-motion-component-state-change-opacity-300-cubic-bezier-5-2-5-7-7-duration: 300ms;
  --ds-motion-motion-component-state-change-opacity-300-cubic-bezier-5-2-5-7-7-delay: 0ms;
  --ds-motion-motion-component-state-change-opacity-300-cubic-bezier-5-2-5-7-7-easing: cubic-bezier(.5,2.5,.7,.7);
  --ds-motion-motion-component-state-change-box-shadow-300-cubic-bezier-5-2-5-7-7-duration: 300ms;
  --ds-motion-motion-component-state-change-box-shadow-300-cubic-bezier-5-2-5-7-7-delay: 0ms;
  --ds-motion-motion-component-state-change-box-shadow-300-cubic-bezier-5-2-5-7-7-easing: cubic-bezier(.5,2.5,.7,.7);
  --ds-motion-motion-component-state-change-transform-300-cubic-bezier-5-2-5-7-7-duration: 300ms;
  --ds-motion-motion-component-state-change-transform-300-cubic-bezier-5-2-5-7-7-delay: 0ms;
  --ds-motion-motion-component-state-change-transform-300-cubic-bezier-5-2-5-7-7-easing: cubic-bezier(.5,2.5,.7,.7);
  --ds-motion-motion-component-state-change-translate-300-cubic-bezier-5-2-5-7-7-duration: 300ms;
  --ds-motion-motion-component-state-change-translate-300-cubic-bezier-5-2-5-7-7-delay: 0ms;
  --ds-motion-motion-component-state-change-translate-300-cubic-bezier-5-2-5-7-7-easing: cubic-bezier(.5,2.5,.7,.7);
  --ds-motion-motion-component-state-change-scale-300-cubic-bezier-5-2-5-7-7-duration: 300ms;
  --ds-motion-motion-component-state-change-scale-300-cubic-bezier-5-2-5-7-7-delay: 0ms;
  --ds-motion-motion-component-state-change-scale-300-cubic-bezier-5-2-5-7-7-easing: cubic-bezier(.5,2.5,.7,.7);
  --ds-motion-motion-component-state-change-rotate-300-cubic-bezier-5-2-5-7-7-duration: 300ms;
  --ds-motion-motion-component-state-change-rotate-300-cubic-bezier-5-2-5-7-7-delay: 0ms;
  --ds-motion-motion-component-state-change-rotate-300-cubic-bezier-5-2-5-7-7-easing: cubic-bezier(.5,2.5,.7,.7);
  --ds-motion-motion-component-state-change-filter-300-cubic-bezier-5-2-5-7-7-duration: 300ms;
  --ds-motion-motion-component-state-change-filter-300-cubic-bezier-5-2-5-7-7-delay: 0ms;
  --ds-motion-motion-component-state-change-filter-300-cubic-bezier-5-2-5-7-7-easing: cubic-bezier(.5,2.5,.7,.7);
  --ds-motion-motion-component-state-change-webkit-backdrop-filter-300-cubic-bezier-5-2-5-7-7-duration: 300ms;
  --ds-motion-motion-component-state-change-webkit-backdrop-filter-300-cubic-bezier-5-2-5-7-7-delay: 0ms;
  --ds-motion-motion-component-state-change-webkit-backdrop-filter-300-cubic-bezier-5-2-5-7-7-easing: cubic-bezier(.5,2.5,.7,.7);
  --ds-motion-motion-component-state-change-backdrop-filter-300-cubic-bezier-5-2-5-7-7-duration: 300ms;
  --ds-motion-motion-component-state-change-backdrop-filter-300-cubic-bezier-5-2-5-7-7-delay: 0ms;
  --ds-motion-motion-component-state-change-backdrop-filter-300-cubic-bezier-5-2-5-7-7-easing: cubic-bezier(.5,2.5,.7,.7);
  --ds-motion-motion-component-state-change-display-300-cubic-bezier-5-2-5-7-7-duration: 300ms;
  --ds-motion-motion-component-state-change-display-300-cubic-bezier-5-2-5-7-7-delay: 0ms;
  --ds-motion-motion-component-state-change-display-300-cubic-bezier-5-2-5-7-7-easing: cubic-bezier(.5,2.5,.7,.7);
  --ds-motion-motion-component-state-change-content-visibility-300-cubic-bezier-5-2-5-7-7-duration: 300ms;
  --ds-motion-motion-component-state-change-content-visibility-300-cubic-bezier-5-2-5-7-7-delay: 0ms;
  --ds-motion-motion-component-state-change-content-visibility-300-cubic-bezier-5-2-5-7-7-easing: cubic-bezier(.5,2.5,.7,.7);
  --ds-motion-motion-component-state-change-overlay-300-cubic-bezier-5-2-5-7-7-duration: 300ms;
  --ds-motion-motion-component-state-change-overlay-300-cubic-bezier-5-2-5-7-7-delay: 0ms;
  --ds-motion-motion-component-state-change-overlay-300-cubic-bezier-5-2-5-7-7-easing: cubic-bezier(.5,2.5,.7,.7);
  --ds-motion-motion-component-state-change-pointer-events-300-cubic-bezier-5-2-5-7-7-duration: 300ms;
  --ds-motion-motion-component-state-change-pointer-events-300-cubic-bezier-5-2-5-7-7-delay: 0ms;
  --ds-motion-motion-component-state-change-pointer-events-300-cubic-bezier-5-2-5-7-7-easing: cubic-bezier(.5,2.5,.7,.7);
  --ds-motion-motion-component-state-change-grid-template-rows-300-cubic-bezier-5-2-5-7-7-duration: 300ms;
  --ds-motion-motion-component-state-change-grid-template-rows-300-cubic-bezier-5-2-5-7-7-delay: 0ms;
  --ds-motion-motion-component-state-change-grid-template-rows-300-cubic-bezier-5-2-5-7-7-easing: cubic-bezier(.5,2.5,.7,.7);
}
