.ds-motion-motion-navigation-state-change-backgroundcolor-100-linear {
  transition-property: backgroundColor;
  transition-duration: var(--ds-motion-motion-navigation-state-change-backgroundcolor-100-linear-duration);
  transition-delay: var(--ds-motion-motion-navigation-state-change-backgroundcolor-100-linear-delay);
  transition-timing-function: var(--ds-motion-motion-navigation-state-change-backgroundcolor-100-linear-easing);
}

.ds-motion-motion-card-state-change-backgroundcolor-100-linear {
  transition-property: backgroundColor;
  transition-duration: var(--ds-motion-motion-card-state-change-backgroundcolor-100-linear-duration);
  transition-delay: var(--ds-motion-motion-card-state-change-backgroundcolor-100-linear-delay);
  transition-timing-function: var(--ds-motion-motion-card-state-change-backgroundcolor-100-linear-easing);
}

@media (prefers-reduced-motion: reduce) {
  [class*="ds-motion-"] {
    transition-duration: 0ms !important;
    animation-duration: 0ms !important;
  }
}
