:root {
  --ds-color-foreground: #101010;
  --ds-color-background: #f0fff0;
  --ds-color-deep-accent: #203040;
  --ds-color-deep-accent-2: #403030;
  --ds-color-deep-accent-3: #204060;
  --ds-color-deep-accent-4: #405060;
  --ds-color-neutral-surface: #909090;
  --ds-color-supporting-color: #b0b0e0;
  --ds-color-supporting-color-2: #506080;
  --ds-color-accent: #c06050;
  --ds-color-neutral-surface-2: #c5c9d3;
  --ds-color-neutral-surface-3: #e9ebdf;
  --ds-spacing-component: 4px 8px;
  --ds-radius-component: 9999px;
  --ds-shadow-component: missing;
  --ds-motion-motion-component-state-change-color-300-cubic-bezier-4-0-2-1-duration: 300ms;
  --ds-motion-motion-component-state-change-color-300-cubic-bezier-4-0-2-1-delay: 0ms;
  --ds-motion-motion-component-state-change-color-300-cubic-bezier-4-0-2-1-easing: cubic-bezier(.4,0,.2,1);
  --ds-motion-motion-component-state-change-background-color-300-cubic-bezier-4-0-2-1-duration: 300ms;
  --ds-motion-motion-component-state-change-background-color-300-cubic-bezier-4-0-2-1-delay: 0ms;
  --ds-motion-motion-component-state-change-background-color-300-cubic-bezier-4-0-2-1-easing: cubic-bezier(.4,0,.2,1);
  --ds-motion-motion-component-state-change-border-color-300-cubic-bezier-4-0-2-1-duration: 300ms;
  --ds-motion-motion-component-state-change-border-color-300-cubic-bezier-4-0-2-1-delay: 0ms;
  --ds-motion-motion-component-state-change-border-color-300-cubic-bezier-4-0-2-1-easing: cubic-bezier(.4,0,.2,1);
  --ds-motion-motion-component-state-change-text-decoration-color-300-cubic-bezier-4-0-2-1-duration: 300ms;
  --ds-motion-motion-component-state-change-text-decoration-color-300-cubic-bezier-4-0-2-1-delay: 0ms;
  --ds-motion-motion-component-state-change-text-decoration-color-300-cubic-bezier-4-0-2-1-easing: cubic-bezier(.4,0,.2,1);
  --ds-motion-motion-component-state-change-fill-300-cubic-bezier-4-0-2-1-duration: 300ms;
  --ds-motion-motion-component-state-change-fill-300-cubic-bezier-4-0-2-1-delay: 0ms;
  --ds-motion-motion-component-state-change-fill-300-cubic-bezier-4-0-2-1-easing: cubic-bezier(.4,0,.2,1);
  --ds-motion-motion-component-state-change-stroke-300-cubic-bezier-4-0-2-1-duration: 300ms;
  --ds-motion-motion-component-state-change-stroke-300-cubic-bezier-4-0-2-1-delay: 0ms;
  --ds-motion-motion-component-state-change-stroke-300-cubic-bezier-4-0-2-1-easing: cubic-bezier(.4,0,.2,1);
  --ds-motion-motion-component-state-change-all-300-cubic-bezier-4-0-2-1-duration: 300ms;
  --ds-motion-motion-component-state-change-all-300-cubic-bezier-4-0-2-1-delay: 0ms;
  --ds-motion-motion-component-state-change-all-300-cubic-bezier-4-0-2-1-easing: cubic-bezier(.4,0,.2,1);
  --ds-motion-motion-component-load-animation-800-linear-duration: 800ms;
  --ds-motion-motion-component-load-animation-800-linear-delay: 0ms;
  --ds-motion-motion-component-load-animation-800-linear-easing: linear;
  --ds-motion-motion-component-load-animation-2000-linear-duration: 2000ms;
  --ds-motion-motion-component-load-animation-2000-linear-delay: 0ms;
  --ds-motion-motion-component-load-animation-2000-linear-easing: linear;
  --ds-motion-motion-component-load-animation-10000-linear-duration: 10000ms;
  --ds-motion-motion-component-load-animation-10000-linear-delay: 0ms;
  --ds-motion-motion-component-load-animation-10000-linear-easing: linear;
  --ds-motion-motion-component-load-animation-8000-linear-duration: 8000ms;
  --ds-motion-motion-component-load-animation-8000-linear-delay: 0ms;
  --ds-motion-motion-component-load-animation-8000-linear-easing: linear;
  --ds-motion-motion-component-load-animation-3000-linear-duration: 3000ms;
  --ds-motion-motion-component-load-animation-3000-linear-delay: 0ms;
  --ds-motion-motion-component-load-animation-3000-linear-easing: linear;
  --ds-motion-motion-component-focus-animation-6000-linear-duration: 6000ms;
  --ds-motion-motion-component-focus-animation-6000-linear-delay: 0ms;
  --ds-motion-motion-component-focus-animation-6000-linear-easing: linear;
  --ds-motion-motion-card-state-change-opacity-400-cubic-bezier-72-0-12-1-duration: 400ms;
  --ds-motion-motion-card-state-change-opacity-400-cubic-bezier-72-0-12-1-delay: 0ms;
  --ds-motion-motion-card-state-change-opacity-400-cubic-bezier-72-0-12-1-easing: cubic-bezier(.72,0,.12,1);
  --ds-motion-motion-card-state-change-background-color-100-cubic-bezier-12-1-72-1-duration: 100ms;
  --ds-motion-motion-card-state-change-background-color-100-cubic-bezier-12-1-72-1-delay: 0ms;
  --ds-motion-motion-card-state-change-background-color-100-cubic-bezier-12-1-72-1-easing: cubic-bezier(.12,1,.72,1);
  --ds-motion-motion-component-load-animation-20000-linear-duration: 20000ms;
  --ds-motion-motion-component-load-animation-20000-linear-delay: 0ms;
  --ds-motion-motion-component-load-animation-20000-linear-easing: linear;
  --ds-motion-motion-component-state-change-color-800-cubic-bezier-72-0-12-1-duration: 800ms;
  --ds-motion-motion-component-state-change-color-800-cubic-bezier-72-0-12-1-delay: 0ms;
  --ds-motion-motion-component-state-change-color-800-cubic-bezier-72-0-12-1-easing: cubic-bezier(.72,0,.12,1);
  --ds-motion-motion-component-state-change-background-color-800-cubic-bezier-72-0-12-1-duration: 800ms;
  --ds-motion-motion-component-state-change-background-color-800-cubic-bezier-72-0-12-1-delay: 0ms;
  --ds-motion-motion-component-state-change-background-color-800-cubic-bezier-72-0-12-1-easing: cubic-bezier(.72,0,.12,1);
  --ds-motion-motion-component-state-change-border-color-800-cubic-bezier-72-0-12-1-duration: 800ms;
  --ds-motion-motion-component-state-change-border-color-800-cubic-bezier-72-0-12-1-delay: 0ms;
  --ds-motion-motion-component-state-change-border-color-800-cubic-bezier-72-0-12-1-easing: cubic-bezier(.72,0,.12,1);
  --ds-motion-motion-component-state-change-text-decoration-color-800-cubic-bezier-72-0-12-1-duration: 800ms;
  --ds-motion-motion-component-state-change-text-decoration-color-800-cubic-bezier-72-0-12-1-delay: 0ms;
  --ds-motion-motion-component-state-change-text-decoration-color-800-cubic-bezier-72-0-12-1-easing: cubic-bezier(.72,0,.12,1);
  --ds-motion-motion-component-state-change-fill-800-cubic-bezier-72-0-12-1-duration: 800ms;
  --ds-motion-motion-component-state-change-fill-800-cubic-bezier-72-0-12-1-delay: 0ms;
  --ds-motion-motion-component-state-change-fill-800-cubic-bezier-72-0-12-1-easing: cubic-bezier(.72,0,.12,1);
  --ds-motion-motion-component-state-change-stroke-800-cubic-bezier-72-0-12-1-duration: 800ms;
  --ds-motion-motion-component-state-change-stroke-800-cubic-bezier-72-0-12-1-delay: 0ms;
  --ds-motion-motion-component-state-change-stroke-800-cubic-bezier-72-0-12-1-easing: cubic-bezier(.72,0,.12,1);
  --ds-motion-motion-card-state-change-transform-300-ease-in-out-duration: 300ms;
  --ds-motion-motion-card-state-change-transform-300-ease-in-out-delay: 0ms;
  --ds-motion-motion-card-state-change-transform-300-ease-in-out-easing: ease-in-out;
}
