:root {
  --ds-color-accent: #b000f0;
  --ds-color-background: #ffffff;
  --ds-color-foreground: #303030;
  --ds-color-foreground-2: #000000;
  --ds-color-neutral-surface: #d0d0d0;
  --ds-color-foreground-3: #505050;
  --ds-color-neutral-surface-2: #b0b0b0;
  --ds-color-neutral-surface-3: #707070;
  --ds-color-neutral-surface-4: #909090;
  --ds-color-accent-2: #9000d0;
  --ds-color-deep-accent: #23282f;
  --ds-color-accent-3: #ac00ef;
  --ds-spacing-component: 0px 0px 72px;
  --ds-radius-component: missing;
  --ds-shadow-component: missing;
  --ds-motion-motion-component-state-change-box-shadow-300-ease-duration: 300ms;
  --ds-motion-motion-component-state-change-box-shadow-300-ease-delay: 0ms;
  --ds-motion-motion-component-state-change-box-shadow-300-ease-easing: ease;
  --ds-motion-motion-component-load-transform-400-ease-in-out-duration: 400ms;
  --ds-motion-motion-component-load-transform-400-ease-in-out-delay: 0ms;
  --ds-motion-motion-component-load-transform-400-ease-in-out-easing: ease-in-out;
  --ds-motion-motion-component-load-animation-300-ease-duration: 300ms;
  --ds-motion-motion-component-load-animation-300-ease-delay: 0ms;
  --ds-motion-motion-component-load-animation-300-ease-easing: ease;
  --ds-motion-motion-component-state-change-all-300-ease-duration: 300ms;
  --ds-motion-motion-component-state-change-all-300-ease-delay: 0ms;
  --ds-motion-motion-component-state-change-all-300-ease-easing: ease;
  --ds-motion-motion-navigation-state-change-transform-300-ease-duration: 300ms;
  --ds-motion-motion-navigation-state-change-transform-300-ease-delay: 0ms;
  --ds-motion-motion-navigation-state-change-transform-300-ease-easing: ease;
  --ds-motion-motion-navigation-load-animation-200-ease-duration: 200ms;
  --ds-motion-motion-navigation-load-animation-200-ease-delay: 0ms;
  --ds-motion-motion-navigation-load-animation-200-ease-easing: ease;
  --ds-motion-motion-navigation-state-change-height-350-cubic-bezier-4-0-2-1-duration: 350ms;
  --ds-motion-motion-navigation-state-change-height-350-cubic-bezier-4-0-2-1-delay: 0ms;
  --ds-motion-motion-navigation-state-change-height-350-cubic-bezier-4-0-2-1-easing: cubic-bezier(.4,0,.2,1);
  --ds-motion-motion-navigation-state-change-width-350-cubic-bezier-4-0-2-1-duration: 350ms;
  --ds-motion-motion-navigation-state-change-width-350-cubic-bezier-4-0-2-1-delay: 0ms;
  --ds-motion-motion-navigation-state-change-width-350-cubic-bezier-4-0-2-1-easing: cubic-bezier(.4,0,.2,1);
  --ds-motion-motion-card-state-change-all-300-ease-duration: 300ms;
  --ds-motion-motion-card-state-change-all-300-ease-delay: 0ms;
  --ds-motion-motion-card-state-change-all-300-ease-easing: ease;
  --ds-motion-motion-card-state-change-transform-300-ease-duration: 300ms;
  --ds-motion-motion-card-state-change-transform-300-ease-delay: 0ms;
  --ds-motion-motion-card-state-change-transform-300-ease-easing: ease;
  --ds-motion-motion-card-state-change-opacity-300-ease-duration: 300ms;
  --ds-motion-motion-card-state-change-opacity-300-ease-delay: 0ms;
  --ds-motion-motion-card-state-change-opacity-300-ease-easing: ease;
  --ds-motion-motion-component-state-change-all-200-ease-duration: 200ms;
  --ds-motion-motion-component-state-change-all-200-ease-delay: 0ms;
  --ds-motion-motion-component-state-change-all-200-ease-easing: ease;
  --ds-motion-motion-component-state-change-opacity-200-ease-duration: 200ms;
  --ds-motion-motion-component-state-change-opacity-200-ease-delay: 100ms;
  --ds-motion-motion-component-state-change-opacity-200-ease-easing: ease;
  --ds-motion-motion-component-state-change-transform-200-ease-duration: 200ms;
  --ds-motion-motion-component-state-change-transform-200-ease-delay: 100ms;
  --ds-motion-motion-component-state-change-transform-200-ease-easing: ease;
  --ds-motion-motion-component-state-change-width-200-ease-duration: 200ms;
  --ds-motion-motion-component-state-change-width-200-ease-delay: 0ms;
  --ds-motion-motion-component-state-change-width-200-ease-easing: ease;
  --ds-motion-motion-component-load-animation-1000-linear-duration: 1000ms;
  --ds-motion-motion-component-load-animation-1000-linear-delay: 0ms;
  --ds-motion-motion-component-load-animation-1000-linear-easing: linear;
  --ds-motion-motion-component-state-change-opacity-400-ease-in-out-duration: 400ms;
  --ds-motion-motion-component-state-change-opacity-400-ease-in-out-delay: 0ms;
  --ds-motion-motion-component-state-change-opacity-400-ease-in-out-easing: ease-in-out;
  --ds-motion-motion-component-state-change-transform-400-ease-in-out-duration: 400ms;
  --ds-motion-motion-component-state-change-transform-400-ease-in-out-delay: 0ms;
  --ds-motion-motion-component-state-change-transform-400-ease-in-out-easing: ease-in-out;
  --ds-motion-motion-component-state-change-opacity-300-ease-duration: 300ms;
  --ds-motion-motion-component-state-change-opacity-300-ease-delay: 0ms;
  --ds-motion-motion-component-state-change-opacity-300-ease-easing: ease;
  --ds-motion-motion-component-state-change-opacity-500-cubic-bezier-4-0-2-1-duration: 500ms;
  --ds-motion-motion-component-state-change-opacity-500-cubic-bezier-4-0-2-1-delay: 0ms;
  --ds-motion-motion-component-state-change-opacity-500-cubic-bezier-4-0-2-1-easing: cubic-bezier(.4,0,.2,1);
  --ds-motion-motion-component-state-change-transform-500-cubic-bezier-4-0-2-1-duration: 500ms;
  --ds-motion-motion-component-state-change-transform-500-cubic-bezier-4-0-2-1-delay: 0ms;
  --ds-motion-motion-component-state-change-transform-500-cubic-bezier-4-0-2-1-easing: cubic-bezier(.4,0,.2,1);
  --ds-motion-motion-component-state-change-transform-1000-cubic-bezier-4-0-2-1-duration: 1000ms;
  --ds-motion-motion-component-state-change-transform-1000-cubic-bezier-4-0-2-1-delay: 200ms;
  --ds-motion-motion-component-state-change-transform-1000-cubic-bezier-4-0-2-1-easing: cubic-bezier(.4,0,.2,1);
  --ds-motion-motion-component-state-change-transform-700-cubic-bezier-4-0-2-1-duration: 700ms;
  --ds-motion-motion-component-state-change-transform-700-cubic-bezier-4-0-2-1-delay: 0ms;
  --ds-motion-motion-component-state-change-transform-700-cubic-bezier-4-0-2-1-easing: cubic-bezier(.4,0,.2,1);
}
