:root {
  --ds-color-foreground: #202020;
  --ds-color-background: #ffffff;
  --ds-color-deep-accent: #403030;
  --ds-color-foreground-2: #505060;
  --ds-color-deep-accent-2: #605040;
  --ds-color-deep-accent-3: #101000;
  --ds-color-accent: #ff8000;
  --ds-color-supporting-color: #807050;
  --ds-color-supporting-color-2: #908070;
  --ds-color-neutral-surface: #e0e0f0;
  --ds-color-deep-accent-4: #23282f;
  --ds-color-deep-accent-5: #181c20;
  --ds-spacing-component: 30px;
  --ds-radius-component: missing;
  --ds-shadow-component: missing;
  --ds-motion-motion-component-state-change-box-shadow-300-ease-duration: 300ms;
  --ds-motion-motion-component-state-change-box-shadow-300-ease-delay: 0ms;
  --ds-motion-motion-component-state-change-box-shadow-300-ease-easing: ease;
  --ds-motion-motion-component-load-transform-400-ease-in-out-duration: 400ms;
  --ds-motion-motion-component-load-transform-400-ease-in-out-delay: 0ms;
  --ds-motion-motion-component-load-transform-400-ease-in-out-easing: ease-in-out;
  --ds-motion-motion-component-load-animation-300-ease-duration: 300ms;
  --ds-motion-motion-component-load-animation-300-ease-delay: 0ms;
  --ds-motion-motion-component-load-animation-300-ease-easing: ease;
  --ds-motion-motion-component-state-change-all-300-ease-duration: 300ms;
  --ds-motion-motion-component-state-change-all-300-ease-delay: 0ms;
  --ds-motion-motion-component-state-change-all-300-ease-easing: ease;
  --ds-motion-motion-navigation-state-change-transform-300-ease-duration: 300ms;
  --ds-motion-motion-navigation-state-change-transform-300-ease-delay: 0ms;
  --ds-motion-motion-navigation-state-change-transform-300-ease-easing: ease;
  --ds-motion-motion-navigation-load-animation-200-ease-duration: 200ms;
  --ds-motion-motion-navigation-load-animation-200-ease-delay: 0ms;
  --ds-motion-motion-navigation-load-animation-200-ease-easing: ease;
  --ds-motion-motion-navigation-state-change-height-350-cubic-bezier-4-0-2-1-duration: 350ms;
  --ds-motion-motion-navigation-state-change-height-350-cubic-bezier-4-0-2-1-delay: 0ms;
  --ds-motion-motion-navigation-state-change-height-350-cubic-bezier-4-0-2-1-easing: cubic-bezier(.4,0,.2,1);
  --ds-motion-motion-navigation-state-change-width-350-cubic-bezier-4-0-2-1-duration: 350ms;
  --ds-motion-motion-navigation-state-change-width-350-cubic-bezier-4-0-2-1-delay: 0ms;
  --ds-motion-motion-navigation-state-change-width-350-cubic-bezier-4-0-2-1-easing: cubic-bezier(.4,0,.2,1);
  --ds-motion-motion-card-state-change-all-300-ease-duration: 300ms;
  --ds-motion-motion-card-state-change-all-300-ease-delay: 0ms;
  --ds-motion-motion-card-state-change-all-300-ease-easing: ease;
  --ds-motion-motion-card-state-change-transform-300-ease-duration: 300ms;
  --ds-motion-motion-card-state-change-transform-300-ease-delay: 0ms;
  --ds-motion-motion-card-state-change-transform-300-ease-easing: ease;
  --ds-motion-motion-card-state-change-opacity-300-ease-duration: 300ms;
  --ds-motion-motion-card-state-change-opacity-300-ease-delay: 0ms;
  --ds-motion-motion-card-state-change-opacity-300-ease-easing: ease;
  --ds-motion-motion-component-state-change-all-200-ease-duration: 200ms;
  --ds-motion-motion-component-state-change-all-200-ease-delay: 0ms;
  --ds-motion-motion-component-state-change-all-200-ease-easing: ease;
  --ds-motion-motion-component-state-change-opacity-200-ease-duration: 200ms;
  --ds-motion-motion-component-state-change-opacity-200-ease-delay: 100ms;
  --ds-motion-motion-component-state-change-opacity-200-ease-easing: ease;
  --ds-motion-motion-component-state-change-transform-200-ease-duration: 200ms;
  --ds-motion-motion-component-state-change-transform-200-ease-delay: 100ms;
  --ds-motion-motion-component-state-change-transform-200-ease-easing: ease;
  --ds-motion-motion-component-state-change-width-200-ease-duration: 200ms;
  --ds-motion-motion-component-state-change-width-200-ease-delay: 0ms;
  --ds-motion-motion-component-state-change-width-200-ease-easing: ease;
  --ds-motion-motion-component-load-animation-1000-linear-duration: 1000ms;
  --ds-motion-motion-component-load-animation-1000-linear-delay: 0ms;
  --ds-motion-motion-component-load-animation-1000-linear-easing: linear;
  --ds-motion-motion-component-state-change-opacity-400-ease-in-out-duration: 400ms;
  --ds-motion-motion-component-state-change-opacity-400-ease-in-out-delay: 0ms;
  --ds-motion-motion-component-state-change-opacity-400-ease-in-out-easing: ease-in-out;
  --ds-motion-motion-component-state-change-transform-400-ease-in-out-duration: 400ms;
  --ds-motion-motion-component-state-change-transform-400-ease-in-out-delay: 0ms;
  --ds-motion-motion-component-state-change-transform-400-ease-in-out-easing: ease-in-out;
  --ds-motion-motion-component-state-change-opacity-300-ease-duration: 300ms;
  --ds-motion-motion-component-state-change-opacity-300-ease-delay: 0ms;
  --ds-motion-motion-component-state-change-opacity-300-ease-easing: ease;
  --ds-motion-motion-component-state-change-color-300-cubic-bezier-4-0-2-1-duration: 300ms;
  --ds-motion-motion-component-state-change-color-300-cubic-bezier-4-0-2-1-delay: 0ms;
  --ds-motion-motion-component-state-change-color-300-cubic-bezier-4-0-2-1-easing: cubic-bezier(.4,0,.2,1);
  --ds-motion-motion-component-state-change-background-color-300-cubic-bezier-4-0-2-1-duration: 300ms;
  --ds-motion-motion-component-state-change-background-color-300-cubic-bezier-4-0-2-1-delay: 0ms;
  --ds-motion-motion-component-state-change-background-color-300-cubic-bezier-4-0-2-1-easing: cubic-bezier(.4,0,.2,1);
  --ds-motion-motion-component-state-change-border-color-300-cubic-bezier-4-0-2-1-duration: 300ms;
  --ds-motion-motion-component-state-change-border-color-300-cubic-bezier-4-0-2-1-delay: 0ms;
  --ds-motion-motion-component-state-change-border-color-300-cubic-bezier-4-0-2-1-easing: cubic-bezier(.4,0,.2,1);
  --ds-motion-motion-component-state-change-text-decoration-color-300-cubic-bezier-4-0-2-1-duration: 300ms;
  --ds-motion-motion-component-state-change-text-decoration-color-300-cubic-bezier-4-0-2-1-delay: 0ms;
  --ds-motion-motion-component-state-change-text-decoration-color-300-cubic-bezier-4-0-2-1-easing: cubic-bezier(.4,0,.2,1);
  --ds-motion-motion-component-state-change-fill-300-cubic-bezier-4-0-2-1-duration: 300ms;
  --ds-motion-motion-component-state-change-fill-300-cubic-bezier-4-0-2-1-delay: 0ms;
  --ds-motion-motion-component-state-change-fill-300-cubic-bezier-4-0-2-1-easing: cubic-bezier(.4,0,.2,1);
  --ds-motion-motion-component-state-change-stroke-300-cubic-bezier-4-0-2-1-duration: 300ms;
  --ds-motion-motion-component-state-change-stroke-300-cubic-bezier-4-0-2-1-delay: 0ms;
  --ds-motion-motion-component-state-change-stroke-300-cubic-bezier-4-0-2-1-easing: cubic-bezier(.4,0,.2,1);
  --ds-motion-motion-component-state-change-opacity-300-cubic-bezier-4-0-2-1-duration: 300ms;
  --ds-motion-motion-component-state-change-opacity-300-cubic-bezier-4-0-2-1-delay: 0ms;
  --ds-motion-motion-component-state-change-opacity-300-cubic-bezier-4-0-2-1-easing: cubic-bezier(.4,0,.2,1);
  --ds-motion-motion-component-state-change-box-shadow-300-cubic-bezier-4-0-2-1-duration: 300ms;
  --ds-motion-motion-component-state-change-box-shadow-300-cubic-bezier-4-0-2-1-delay: 0ms;
  --ds-motion-motion-component-state-change-box-shadow-300-cubic-bezier-4-0-2-1-easing: cubic-bezier(.4,0,.2,1);
  --ds-motion-motion-component-state-change-transform-300-cubic-bezier-4-0-2-1-duration: 300ms;
  --ds-motion-motion-component-state-change-transform-300-cubic-bezier-4-0-2-1-delay: 0ms;
  --ds-motion-motion-component-state-change-transform-300-cubic-bezier-4-0-2-1-easing: cubic-bezier(.4,0,.2,1);
  --ds-motion-motion-component-state-change-filter-300-cubic-bezier-4-0-2-1-duration: 300ms;
  --ds-motion-motion-component-state-change-filter-300-cubic-bezier-4-0-2-1-delay: 0ms;
  --ds-motion-motion-component-state-change-filter-300-cubic-bezier-4-0-2-1-easing: cubic-bezier(.4,0,.2,1);
  --ds-motion-motion-component-state-change-backdrop-filter-300-cubic-bezier-4-0-2-1-duration: 300ms;
  --ds-motion-motion-component-state-change-backdrop-filter-300-cubic-bezier-4-0-2-1-delay: 0ms;
  --ds-motion-motion-component-state-change-backdrop-filter-300-cubic-bezier-4-0-2-1-easing: cubic-bezier(.4,0,.2,1);
  --ds-motion-motion-component-state-change-webkit-backdrop-filter-300-cubic-bezier-4-0-2-1-duration: 300ms;
  --ds-motion-motion-component-state-change-webkit-backdrop-filter-300-cubic-bezier-4-0-2-1-delay: 0ms;
  --ds-motion-motion-component-state-change-webkit-backdrop-filter-300-cubic-bezier-4-0-2-1-easing: cubic-bezier(.4,0,.2,1);
  --ds-motion-motion-button-state-change-color-300-cubic-bezier-4-0-2-1-duration: 300ms;
  --ds-motion-motion-button-state-change-color-300-cubic-bezier-4-0-2-1-delay: 0ms;
  --ds-motion-motion-button-state-change-color-300-cubic-bezier-4-0-2-1-easing: cubic-bezier(.4,0,.2,1);
  --ds-motion-motion-navigation-hover-transform-500-cubic-bezier-0-4-0-0-2-1-duration: 500ms;
  --ds-motion-motion-navigation-hover-transform-500-cubic-bezier-0-4-0-0-2-1-delay: 0ms;
  --ds-motion-motion-navigation-hover-transform-500-cubic-bezier-0-4-0-0-2-1-easing: cubic-bezier(0.4, 0, 0.2, 1);
  --ds-motion-motion-navigation-focus-transform-500-cubic-bezier-0-4-0-0-2-1-duration: 500ms;
  --ds-motion-motion-navigation-focus-transform-500-cubic-bezier-0-4-0-0-2-1-delay: 0ms;
  --ds-motion-motion-navigation-focus-transform-500-cubic-bezier-0-4-0-0-2-1-easing: cubic-bezier(0.4, 0, 0.2, 1);
}
