.ds-motion-motion-button-hover-opacity-150-ease {
  transition-property: opacity;
  transition-duration: var(--ds-motion-motion-button-hover-opacity-150-ease-duration);
  transition-delay: var(--ds-motion-motion-button-hover-opacity-150-ease-delay);
  transition-timing-function: var(--ds-motion-motion-button-hover-opacity-150-ease-easing);
  transform: 0.659066;
}

.ds-motion-motion-button-focus-opacity-150-ease {
  transition-property: opacity;
  transition-duration: var(--ds-motion-motion-button-focus-opacity-150-ease-duration);
  transition-delay: var(--ds-motion-motion-button-focus-opacity-150-ease-delay);
  transition-timing-function: var(--ds-motion-motion-button-focus-opacity-150-ease-easing);
  transform: 0.630563;
}

.ds-motion-motion-button-hover-backgroundcolor-150-ease {
  transition-property: backgroundColor;
  transition-duration: var(--ds-motion-motion-button-hover-backgroundcolor-150-ease-duration);
  transition-delay: var(--ds-motion-motion-button-hover-backgroundcolor-150-ease-delay);
  transition-timing-function: var(--ds-motion-motion-button-hover-backgroundcolor-150-ease-easing);
  transform: rgba(8, 2, 17, 0.008);
}

.ds-motion-motion-button-focus-backgroundcolor-150-ease {
  transition-property: backgroundColor;
  transition-duration: var(--ds-motion-motion-button-focus-backgroundcolor-150-ease-duration);
  transition-delay: var(--ds-motion-motion-button-focus-backgroundcolor-150-ease-delay);
  transition-timing-function: var(--ds-motion-motion-button-focus-backgroundcolor-150-ease-easing);
  transform: rgba(8, 2, 19, 0.008);
}

@media (prefers-reduced-motion: reduce) {
  [class*="ds-motion-"] {
    transition-duration: 0ms !important;
    animation-duration: 0ms !important;
  }
}
