:root {
  --ds-color-neutral-surface: #c0c0c0;
  --ds-color-foreground: #000000;
  --ds-color-neutral-surface-2: #a0a0a0;
  --ds-color-foreground-2: #303030;
  --ds-color-foreground-3: #606060;
  --ds-color-neutral-surface-3: #808080;
  --ds-color-deep-accent: #101020;
  --ds-color-foreground-4: #404050;
  --ds-color-deep-accent-2: #020203;
  --ds-color-neutral-surface-4: #c4c4c4;
  --ds-spacing-component: 24.48px;
  --ds-radius-component: 122.4px;
  --ds-shadow-component: missing;
  --ds-motion-motion-component-load-animation-2500-cubic-bezier-0-455-0-03-0-515-0-955-duration: 2500ms;
  --ds-motion-motion-component-load-animation-2500-cubic-bezier-0-455-0-03-0-515-0-955-delay: 0ms;
  --ds-motion-motion-component-load-animation-2500-cubic-bezier-0-455-0-03-0-515-0-955-easing: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  --ds-motion-motion-button-state-change-background-color-200-cubic-bezier-0-075-0-82-0-165-1-duration: 200ms;
  --ds-motion-motion-button-state-change-background-color-200-cubic-bezier-0-075-0-82-0-165-1-delay: 0ms;
  --ds-motion-motion-button-state-change-background-color-200-cubic-bezier-0-075-0-82-0-165-1-easing: cubic-bezier(0.075, 0.82, 0.165, 1);
  --ds-motion-motion-component-state-change-background-color-200-cubic-bezier-0-075-0-82-0-165-1-duration: 200ms;
  --ds-motion-motion-component-state-change-background-color-200-cubic-bezier-0-075-0-82-0-165-1-delay: 0ms;
  --ds-motion-motion-component-state-change-background-color-200-cubic-bezier-0-075-0-82-0-165-1-easing: cubic-bezier(0.075, 0.82, 0.165, 1);
  --ds-motion-motion-component-load-transform-300-cubic-bezier-0-785-0-135-0-15-0-86-duration: 300ms;
  --ds-motion-motion-component-load-transform-300-cubic-bezier-0-785-0-135-0-15-0-86-delay: 0ms;
  --ds-motion-motion-component-load-transform-300-cubic-bezier-0-785-0-135-0-15-0-86-easing: cubic-bezier(0.785, 0.135, 0.15, 0.86);
  --ds-motion-motion-component-state-change-transform-300-cubic-bezier-0-785-0-135-0-15-0-86-duration: 300ms;
  --ds-motion-motion-component-state-change-transform-300-cubic-bezier-0-785-0-135-0-15-0-86-delay: 0ms;
  --ds-motion-motion-component-state-change-transform-300-cubic-bezier-0-785-0-135-0-15-0-86-easing: cubic-bezier(0.785, 0.135, 0.15, 0.86);
  --ds-motion-motion-component-state-change-transform-300-ease-duration: 300ms;
  --ds-motion-motion-component-state-change-transform-300-ease-delay: 0ms;
  --ds-motion-motion-component-state-change-transform-300-ease-easing: ease;
  --ds-motion-motion-component-state-change-color-300-ease-duration: 300ms;
  --ds-motion-motion-component-state-change-color-300-ease-delay: 0ms;
  --ds-motion-motion-component-state-change-color-300-ease-easing: ease;
  --ds-motion-motion-component-load-animation-6000-cubic-bezier-0-455-0-03-0-515-0-955-duration: 6000ms;
  --ds-motion-motion-component-load-animation-6000-cubic-bezier-0-455-0-03-0-515-0-955-delay: 400ms;
  --ds-motion-motion-component-load-animation-6000-cubic-bezier-0-455-0-03-0-515-0-955-easing: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  --ds-motion-motion-component-load-animation-2750-cubic-bezier-0-785-0-135-0-15-0-86-duration: 2750ms;
  --ds-motion-motion-component-load-animation-2750-cubic-bezier-0-785-0-135-0-15-0-86-delay: 0ms;
  --ds-motion-motion-component-load-animation-2750-cubic-bezier-0-785-0-135-0-15-0-86-easing: cubic-bezier(0.785, 0.135, 0.15, 0.86);
  --ds-motion-motion-component-load-animation-7000-cubic-bezier-1-0-0-1-duration: 7000ms;
  --ds-motion-motion-component-load-animation-7000-cubic-bezier-1-0-0-1-delay: 0ms;
  --ds-motion-motion-component-load-animation-7000-cubic-bezier-1-0-0-1-easing: cubic-bezier(1, 0, 0, 1);
  --ds-motion-motion-component-load-box-shadow-300-cubic-bezier-0-215-0-61-0-355-1-duration: 300ms;
  --ds-motion-motion-component-load-box-shadow-300-cubic-bezier-0-215-0-61-0-355-1-delay: 300ms;
  --ds-motion-motion-component-load-box-shadow-300-cubic-bezier-0-215-0-61-0-355-1-easing: cubic-bezier(0.215, 0.61, 0.355, 1);
  --ds-motion-motion-component-load-animation-150-linear-duration: 150ms;
  --ds-motion-motion-component-load-animation-150-linear-delay: 200ms;
  --ds-motion-motion-component-load-animation-150-linear-easing: linear;
  --ds-motion-motion-component-hover-box-shadow-300-cubic-bezier-0-215-0-61-0-355-1-duration: 300ms;
  --ds-motion-motion-component-hover-box-shadow-300-cubic-bezier-0-215-0-61-0-355-1-delay: 0ms;
  --ds-motion-motion-component-hover-box-shadow-300-cubic-bezier-0-215-0-61-0-355-1-easing: cubic-bezier(0.215, 0.61, 0.355, 1);
  --ds-motion-motion-component-state-change-transform-300-cubic-bezier-0-455-0-03-0-515-0-955-duration: 300ms;
  --ds-motion-motion-component-state-change-transform-300-cubic-bezier-0-455-0-03-0-515-0-955-delay: 100ms;
  --ds-motion-motion-component-state-change-transform-300-cubic-bezier-0-455-0-03-0-515-0-955-easing: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  --ds-motion-motion-component-state-change-box-shadow-300-cubic-bezier-0-25-0-46-0-45-0-94-duration: 300ms;
  --ds-motion-motion-component-state-change-box-shadow-300-cubic-bezier-0-25-0-46-0-45-0-94-delay: 100ms;
  --ds-motion-motion-component-state-change-box-shadow-300-cubic-bezier-0-25-0-46-0-45-0-94-easing: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  --ds-motion-motion-component-hover-transform-300-cubic-bezier-0-455-0-03-0-515-0-955-duration: 300ms;
  --ds-motion-motion-component-hover-transform-300-cubic-bezier-0-455-0-03-0-515-0-955-delay: 0ms;
  --ds-motion-motion-component-hover-transform-300-cubic-bezier-0-455-0-03-0-515-0-955-easing: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  --ds-motion-motion-component-hover-box-shadow-300-cubic-bezier-0-25-0-46-0-45-0-94-duration: 300ms;
  --ds-motion-motion-component-hover-box-shadow-300-cubic-bezier-0-25-0-46-0-45-0-94-delay: 100ms;
  --ds-motion-motion-component-hover-box-shadow-300-cubic-bezier-0-25-0-46-0-45-0-94-easing: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  --ds-motion-motion-component-state-change-transform-300-cubic-bezier-0-6-0-04-0-98-0-335-duration: 300ms;
  --ds-motion-motion-component-state-change-transform-300-cubic-bezier-0-6-0-04-0-98-0-335-delay: 0ms;
  --ds-motion-motion-component-state-change-transform-300-cubic-bezier-0-6-0-04-0-98-0-335-easing: cubic-bezier(0.6, 0.04, 0.98, 0.335);
  --ds-motion-motion-component-hover-transform-400-cubic-bezier-0-075-0-82-0-165-1-duration: 400ms;
  --ds-motion-motion-component-hover-transform-400-cubic-bezier-0-075-0-82-0-165-1-delay: 150ms;
  --ds-motion-motion-component-hover-transform-400-cubic-bezier-0-075-0-82-0-165-1-easing: cubic-bezier(0.075, 0.82, 0.165, 1);
  --ds-motion-motion-component-state-change-opacity-300-linear-duration: 300ms;
  --ds-motion-motion-component-state-change-opacity-300-linear-delay: 100ms;
  --ds-motion-motion-component-state-change-opacity-300-linear-easing: linear;
  --ds-motion-motion-component-state-change-opacity-300-ease-duration: 300ms;
  --ds-motion-motion-component-state-change-opacity-300-ease-delay: 0ms;
  --ds-motion-motion-component-state-change-opacity-300-ease-easing: ease;
  --ds-motion-motion-button-state-change-background-color-300-ease-duration: 300ms;
  --ds-motion-motion-button-state-change-background-color-300-ease-delay: 0ms;
  --ds-motion-motion-button-state-change-background-color-300-ease-easing: ease;
  --ds-motion-motion-button-state-change-transform-300-cubic-bezier-0-075-0-82-0-165-1-duration: 300ms;
  --ds-motion-motion-button-state-change-transform-300-cubic-bezier-0-075-0-82-0-165-1-delay: 0ms;
  --ds-motion-motion-button-state-change-transform-300-cubic-bezier-0-075-0-82-0-165-1-easing: cubic-bezier(0.075, 0.82, 0.165, 1);
  --ds-motion-motion-button-hover-backgroundcolor-200-cubic-bezier-0-075-0-82-0-165-1-duration: 200ms;
  --ds-motion-motion-button-hover-backgroundcolor-200-cubic-bezier-0-075-0-82-0-165-1-delay: 0ms;
  --ds-motion-motion-button-hover-backgroundcolor-200-cubic-bezier-0-075-0-82-0-165-1-easing: cubic-bezier(0.075, 0.82, 0.165, 1);
  --ds-motion-motion-button-focus-backgroundcolor-200-cubic-bezier-0-075-0-82-0-165-1-duration: 200ms;
  --ds-motion-motion-button-focus-backgroundcolor-200-cubic-bezier-0-075-0-82-0-165-1-delay: 0ms;
  --ds-motion-motion-button-focus-backgroundcolor-200-cubic-bezier-0-075-0-82-0-165-1-easing: cubic-bezier(0.075, 0.82, 0.165, 1);
}
