:root {
  --ds-color-deep-accent: #202030;
  --ds-color-foreground: #404040;
  --ds-color-supporting-color: #8090a0;
  --ds-color-neutral-surface: #b0a0a0;
  --ds-color-foreground-2: #606050;
  --ds-color-deep-accent-2: #405060;
  --ds-color-supporting-color-2: #a09080;
  --ds-color-supporting-color-3: #607080;
  --ds-color-neutral-surface-2: #808080;
  --ds-color-neutral-surface-3: #c0c0c0;
  --ds-color-background: #ffffff;
  --ds-color-foreground-3: #000000;
  --ds-spacing-component: 16px 32px;
  --ds-radius-component: 4px;
  --ds-shadow-component: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(86, 86, 118, 0.1) 0px 0px 6px 0px;
  --ds-motion-motion-reveal-viewport-animation-300-ease-out-duration: 300ms;
  --ds-motion-motion-reveal-viewport-animation-300-ease-out-delay: 0ms;
  --ds-motion-motion-reveal-viewport-animation-300-ease-out-easing: ease-out;
  --ds-motion-motion-reveal-viewport-animation-150-ease-out-duration: 150ms;
  --ds-motion-motion-reveal-viewport-animation-150-ease-out-delay: 150ms;
  --ds-motion-motion-reveal-viewport-animation-150-ease-out-easing: ease-out;
  --ds-motion-motion-reveal-viewport-animation-4500-linear-duration: 4500ms;
  --ds-motion-motion-reveal-viewport-animation-4500-linear-delay: 0ms;
  --ds-motion-motion-reveal-viewport-animation-4500-linear-easing: linear;
  --ds-motion-motion-reveal-viewport-animation-1000-linear-duration: 1000ms;
  --ds-motion-motion-reveal-viewport-animation-1000-linear-delay: 0ms;
  --ds-motion-motion-reveal-viewport-animation-1000-linear-easing: linear;
  --ds-motion-motion-reveal-viewport-animation-1500-cubic-bezier-05-2-35-1-duration: 1500ms;
  --ds-motion-motion-reveal-viewport-animation-1500-cubic-bezier-05-2-35-1-delay: 0ms;
  --ds-motion-motion-reveal-viewport-animation-1500-cubic-bezier-05-2-35-1-easing: cubic-bezier(.05,.2,.35,1);
  --ds-motion-motion-component-state-change-color-150-cubic-bezier-4-0-2-1-duration: 150ms;
  --ds-motion-motion-component-state-change-color-150-cubic-bezier-4-0-2-1-delay: 0ms;
  --ds-motion-motion-component-state-change-color-150-cubic-bezier-4-0-2-1-easing: cubic-bezier(.4,0,.2,1);
  --ds-motion-motion-component-state-change-background-color-150-cubic-bezier-4-0-2-1-duration: 150ms;
  --ds-motion-motion-component-state-change-background-color-150-cubic-bezier-4-0-2-1-delay: 0ms;
  --ds-motion-motion-component-state-change-background-color-150-cubic-bezier-4-0-2-1-easing: cubic-bezier(.4,0,.2,1);
  --ds-motion-motion-component-state-change-border-color-150-cubic-bezier-4-0-2-1-duration: 150ms;
  --ds-motion-motion-component-state-change-border-color-150-cubic-bezier-4-0-2-1-delay: 0ms;
  --ds-motion-motion-component-state-change-border-color-150-cubic-bezier-4-0-2-1-easing: cubic-bezier(.4,0,.2,1);
  --ds-motion-motion-component-state-change-outline-color-150-cubic-bezier-4-0-2-1-duration: 150ms;
  --ds-motion-motion-component-state-change-outline-color-150-cubic-bezier-4-0-2-1-delay: 0ms;
  --ds-motion-motion-component-state-change-outline-color-150-cubic-bezier-4-0-2-1-easing: cubic-bezier(.4,0,.2,1);
  --ds-motion-motion-component-state-change-text-decoration-color-150-cubic-bezier-4-0-2-1-duration: 150ms;
  --ds-motion-motion-component-state-change-text-decoration-color-150-cubic-bezier-4-0-2-1-delay: 0ms;
  --ds-motion-motion-component-state-change-text-decoration-color-150-cubic-bezier-4-0-2-1-easing: cubic-bezier(.4,0,.2,1);
  --ds-motion-motion-component-state-change-fill-150-cubic-bezier-4-0-2-1-duration: 150ms;
  --ds-motion-motion-component-state-change-fill-150-cubic-bezier-4-0-2-1-delay: 0ms;
  --ds-motion-motion-component-state-change-fill-150-cubic-bezier-4-0-2-1-easing: cubic-bezier(.4,0,.2,1);
  --ds-motion-motion-component-state-change-stroke-150-cubic-bezier-4-0-2-1-duration: 150ms;
  --ds-motion-motion-component-state-change-stroke-150-cubic-bezier-4-0-2-1-delay: 0ms;
  --ds-motion-motion-component-state-change-stroke-150-cubic-bezier-4-0-2-1-easing: cubic-bezier(.4,0,.2,1);
  --ds-motion-motion-component-state-change-tw-gradient-from-150-cubic-bezier-4-0-2-1-duration: 150ms;
  --ds-motion-motion-component-state-change-tw-gradient-from-150-cubic-bezier-4-0-2-1-delay: 0ms;
  --ds-motion-motion-component-state-change-tw-gradient-from-150-cubic-bezier-4-0-2-1-easing: cubic-bezier(.4,0,.2,1);
  --ds-motion-motion-component-state-change-tw-gradient-via-150-cubic-bezier-4-0-2-1-duration: 150ms;
  --ds-motion-motion-component-state-change-tw-gradient-via-150-cubic-bezier-4-0-2-1-delay: 0ms;
  --ds-motion-motion-component-state-change-tw-gradient-via-150-cubic-bezier-4-0-2-1-easing: cubic-bezier(.4,0,.2,1);
  --ds-motion-motion-component-state-change-tw-gradient-to-150-cubic-bezier-4-0-2-1-duration: 150ms;
  --ds-motion-motion-component-state-change-tw-gradient-to-150-cubic-bezier-4-0-2-1-delay: 0ms;
  --ds-motion-motion-component-state-change-tw-gradient-to-150-cubic-bezier-4-0-2-1-easing: cubic-bezier(.4,0,.2,1);
  --ds-motion-motion-component-state-change-opacity-150-cubic-bezier-4-0-2-1-duration: 150ms;
  --ds-motion-motion-component-state-change-opacity-150-cubic-bezier-4-0-2-1-delay: 0ms;
  --ds-motion-motion-component-state-change-opacity-150-cubic-bezier-4-0-2-1-easing: cubic-bezier(.4,0,.2,1);
  --ds-motion-motion-component-state-change-box-shadow-150-cubic-bezier-4-0-2-1-duration: 150ms;
  --ds-motion-motion-component-state-change-box-shadow-150-cubic-bezier-4-0-2-1-delay: 0ms;
  --ds-motion-motion-component-state-change-box-shadow-150-cubic-bezier-4-0-2-1-easing: cubic-bezier(.4,0,.2,1);
  --ds-motion-motion-component-state-change-transform-150-cubic-bezier-4-0-2-1-duration: 150ms;
  --ds-motion-motion-component-state-change-transform-150-cubic-bezier-4-0-2-1-delay: 0ms;
  --ds-motion-motion-component-state-change-transform-150-cubic-bezier-4-0-2-1-easing: cubic-bezier(.4,0,.2,1);
  --ds-motion-motion-component-state-change-translate-150-cubic-bezier-4-0-2-1-duration: 150ms;
  --ds-motion-motion-component-state-change-translate-150-cubic-bezier-4-0-2-1-delay: 0ms;
  --ds-motion-motion-component-state-change-translate-150-cubic-bezier-4-0-2-1-easing: cubic-bezier(.4,0,.2,1);
  --ds-motion-motion-component-state-change-scale-150-cubic-bezier-4-0-2-1-duration: 150ms;
  --ds-motion-motion-component-state-change-scale-150-cubic-bezier-4-0-2-1-delay: 0ms;
  --ds-motion-motion-component-state-change-scale-150-cubic-bezier-4-0-2-1-easing: cubic-bezier(.4,0,.2,1);
  --ds-motion-motion-component-state-change-rotate-150-cubic-bezier-4-0-2-1-duration: 150ms;
  --ds-motion-motion-component-state-change-rotate-150-cubic-bezier-4-0-2-1-delay: 0ms;
  --ds-motion-motion-component-state-change-rotate-150-cubic-bezier-4-0-2-1-easing: cubic-bezier(.4,0,.2,1);
  --ds-motion-motion-component-state-change-filter-150-cubic-bezier-4-0-2-1-duration: 150ms;
  --ds-motion-motion-component-state-change-filter-150-cubic-bezier-4-0-2-1-delay: 0ms;
  --ds-motion-motion-component-state-change-filter-150-cubic-bezier-4-0-2-1-easing: cubic-bezier(.4,0,.2,1);
  --ds-motion-motion-component-state-change-backdrop-filter-150-cubic-bezier-4-0-2-1-duration: 150ms;
  --ds-motion-motion-component-state-change-backdrop-filter-150-cubic-bezier-4-0-2-1-delay: 0ms;
  --ds-motion-motion-component-state-change-backdrop-filter-150-cubic-bezier-4-0-2-1-easing: cubic-bezier(.4,0,.2,1);
  --ds-motion-motion-component-state-change-display-150-cubic-bezier-4-0-2-1-duration: 150ms;
  --ds-motion-motion-component-state-change-display-150-cubic-bezier-4-0-2-1-delay: 0ms;
  --ds-motion-motion-component-state-change-display-150-cubic-bezier-4-0-2-1-easing: cubic-bezier(.4,0,.2,1);
  --ds-motion-motion-component-state-change-content-visibility-150-cubic-bezier-4-0-2-1-duration: 150ms;
  --ds-motion-motion-component-state-change-content-visibility-150-cubic-bezier-4-0-2-1-delay: 0ms;
  --ds-motion-motion-component-state-change-content-visibility-150-cubic-bezier-4-0-2-1-easing: cubic-bezier(.4,0,.2,1);
  --ds-motion-motion-component-state-change-overlay-150-cubic-bezier-4-0-2-1-duration: 150ms;
  --ds-motion-motion-component-state-change-overlay-150-cubic-bezier-4-0-2-1-delay: 0ms;
  --ds-motion-motion-component-state-change-overlay-150-cubic-bezier-4-0-2-1-easing: cubic-bezier(.4,0,.2,1);
  --ds-motion-motion-component-state-change-pointer-events-150-cubic-bezier-4-0-2-1-duration: 150ms;
  --ds-motion-motion-component-state-change-pointer-events-150-cubic-bezier-4-0-2-1-delay: 0ms;
  --ds-motion-motion-component-state-change-pointer-events-150-cubic-bezier-4-0-2-1-easing: cubic-bezier(.4,0,.2,1);
  --ds-motion-motion-component-state-change-bottom-150-cubic-bezier-4-0-2-1-duration: 150ms;
  --ds-motion-motion-component-state-change-bottom-150-cubic-bezier-4-0-2-1-delay: 0ms;
  --ds-motion-motion-component-state-change-bottom-150-cubic-bezier-4-0-2-1-easing: cubic-bezier(.4,0,.2,1);
  --ds-motion-motion-component-state-change-clip-path-150-cubic-bezier-4-0-2-1-duration: 150ms;
  --ds-motion-motion-component-state-change-clip-path-150-cubic-bezier-4-0-2-1-delay: 0ms;
  --ds-motion-motion-component-state-change-clip-path-150-cubic-bezier-4-0-2-1-easing: cubic-bezier(.4,0,.2,1);
  --ds-motion-motion-component-state-change-grid-template-rows-150-cubic-bezier-4-0-2-1-duration: 150ms;
  --ds-motion-motion-component-state-change-grid-template-rows-150-cubic-bezier-4-0-2-1-delay: 0ms;
  --ds-motion-motion-component-state-change-grid-template-rows-150-cubic-bezier-4-0-2-1-easing: cubic-bezier(.4,0,.2,1);
  --ds-motion-motion-component-state-change-height-150-cubic-bezier-4-0-2-1-duration: 150ms;
  --ds-motion-motion-component-state-change-height-150-cubic-bezier-4-0-2-1-delay: 0ms;
  --ds-motion-motion-component-state-change-height-150-cubic-bezier-4-0-2-1-easing: cubic-bezier(.4,0,.2,1);
  --ds-motion-motion-component-state-change-width-150-cubic-bezier-4-0-2-1-duration: 150ms;
  --ds-motion-motion-component-state-change-width-150-cubic-bezier-4-0-2-1-delay: 0ms;
  --ds-motion-motion-component-state-change-width-150-cubic-bezier-4-0-2-1-easing: cubic-bezier(.4,0,.2,1);
  --ds-motion-motion-component-load-animation-1000-linear-duration: 1000ms;
  --ds-motion-motion-component-load-animation-1000-linear-delay: 0ms;
  --ds-motion-motion-component-load-animation-1000-linear-easing: linear;
  --ds-motion-motion-component-load-animation-1500-ease-in-out-duration: 1500ms;
  --ds-motion-motion-component-load-animation-1500-ease-in-out-delay: 0ms;
  --ds-motion-motion-component-load-animation-1500-ease-in-out-easing: ease-in-out;
  --ds-motion-motion-button-hover-backgroundcolor-0-ease-duration: 0ms;
  --ds-motion-motion-button-hover-backgroundcolor-0-ease-delay: 0ms;
  --ds-motion-motion-button-hover-backgroundcolor-0-ease-easing: ease;
  --ds-motion-motion-button-focus-backgroundcolor-0-ease-duration: 0ms;
  --ds-motion-motion-button-focus-backgroundcolor-0-ease-delay: 0ms;
  --ds-motion-motion-button-focus-backgroundcolor-0-ease-easing: ease;
}
