.ds-motion-motion-button-hover-backgroundcolor-150-ease-in-out {
  transition-property: backgroundColor;
  transition-duration: var(--ds-motion-motion-button-hover-backgroundcolor-150-ease-in-out-duration);
  transition-delay: var(--ds-motion-motion-button-hover-backgroundcolor-150-ease-in-out-delay);
  transition-timing-function: var(--ds-motion-motion-button-hover-backgroundcolor-150-ease-in-out-easing);
  transform: rgba(188, 189, 191, 0.682);
}

.ds-motion-motion-button-focus-backgroundcolor-150-ease-in-out {
  transition-property: backgroundColor;
  transition-duration: var(--ds-motion-motion-button-focus-backgroundcolor-150-ease-in-out-duration);
  transition-delay: var(--ds-motion-motion-button-focus-backgroundcolor-150-ease-in-out-delay);
  transition-timing-function: var(--ds-motion-motion-button-focus-backgroundcolor-150-ease-in-out-easing);
  transform: rgba(188, 189, 191, 0.698);
}

.ds-motion-motion-button-state-change-transform-300-ease-in-out {
  transition-property: transform;
  transition-duration: var(--ds-motion-motion-button-state-change-transform-300-ease-in-out-duration);
  transition-delay: var(--ds-motion-motion-button-state-change-transform-300-ease-in-out-delay);
  transition-timing-function: var(--ds-motion-motion-button-state-change-transform-300-ease-in-out-easing);
}

.ds-motion-motion-button-state-change-color-150-ease-in-out {
  transition-property: color;
  transition-duration: var(--ds-motion-motion-button-state-change-color-150-ease-in-out-duration);
  transition-delay: var(--ds-motion-motion-button-state-change-color-150-ease-in-out-delay);
  transition-timing-function: var(--ds-motion-motion-button-state-change-color-150-ease-in-out-easing);
}

.ds-motion-motion-card-state-change-transform-600-ease-in {
  transition-property: transform;
  transition-duration: var(--ds-motion-motion-card-state-change-transform-600-ease-in-duration);
  transition-delay: var(--ds-motion-motion-card-state-change-transform-600-ease-in-delay);
  transition-timing-function: var(--ds-motion-motion-card-state-change-transform-600-ease-in-easing);
}

.ds-motion-motion-component-state-change-transform-300-ease-in-out {
  transition-property: transform;
  transition-duration: var(--ds-motion-motion-component-state-change-transform-300-ease-in-out-duration);
  transition-delay: var(--ds-motion-motion-component-state-change-transform-300-ease-in-out-delay);
  transition-timing-function: var(--ds-motion-motion-component-state-change-transform-300-ease-in-out-easing);
}

.ds-motion-motion-component-state-change-color-150-ease-in-out {
  transition-property: color;
  transition-duration: var(--ds-motion-motion-component-state-change-color-150-ease-in-out-duration);
  transition-delay: var(--ds-motion-motion-component-state-change-color-150-ease-in-out-delay);
  transition-timing-function: var(--ds-motion-motion-component-state-change-color-150-ease-in-out-easing);
}

@media (prefers-reduced-motion: reduce) {
  [class*="ds-motion-"] {
    transition-duration: 0ms !important;
    animation-duration: 0ms !important;
  }
}
