:root {
  --ds-color-foreground: #303030;
  --ds-color-background: #ffffff;
  --ds-color-accent: #80f030;
  --ds-color-deep-accent: #607060;
  --ds-color-neutral-surface: #d0d0d0;
  --ds-color-neutral-surface-2: #90a090;
  --ds-color-foreground-2: #405040;
  --ds-color-neutral-surface-3: #808080;
  --ds-color-neutral-surface-4: #b0b0b0;
  --ds-color-supporting-color: #609030;
  --ds-color-foreground-3: #000000;
  --ds-color-foreground-4: #2b372a;
  --ds-spacing-component: 1.6px 12px;
  --ds-radius-component: 5px;
  --ds-shadow-component: missing;
  --ds-motion-motion-component-state-change-padding-top-500-cubic-bezier-0-25-0-46-0-45-0-94-duration: 500ms;
  --ds-motion-motion-component-state-change-padding-top-500-cubic-bezier-0-25-0-46-0-45-0-94-delay: 0ms;
  --ds-motion-motion-component-state-change-padding-top-500-cubic-bezier-0-25-0-46-0-45-0-94-easing: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  --ds-motion-motion-component-state-change-all-500-ease-out-duration: 500ms;
  --ds-motion-motion-component-state-change-all-500-ease-out-delay: 0ms;
  --ds-motion-motion-component-state-change-all-500-ease-out-easing: ease-out;
  --ds-motion-motion-component-state-change-transform-600-cubic-bezier-0-55-0-085-0-68-0-53-duration: 600ms;
  --ds-motion-motion-component-state-change-transform-600-cubic-bezier-0-55-0-085-0-68-0-53-delay: 0ms;
  --ds-motion-motion-component-state-change-transform-600-cubic-bezier-0-55-0-085-0-68-0-53-easing: cubic-bezier(0.55, 0.085, 0.68, 0.53);
  --ds-motion-motion-component-state-change-opacity-200-ease-out-duration: 200ms;
  --ds-motion-motion-component-state-change-opacity-200-ease-out-delay: 300ms;
  --ds-motion-motion-component-state-change-opacity-200-ease-out-easing: ease-out;
  --ds-motion-motion-component-state-change-webkit-transform-600-cubic-bezier-0-55-0-085-0-68-0-53-duration: 600ms;
  --ds-motion-motion-component-state-change-webkit-transform-600-cubic-bezier-0-55-0-085-0-68-0-53-delay: 0ms;
  --ds-motion-motion-component-state-change-webkit-transform-600-cubic-bezier-0-55-0-085-0-68-0-53-easing: cubic-bezier(0.55, 0.085, 0.68, 0.53);
  --ds-motion-motion-component-state-change-transform-800-cubic-bezier-0-25-0-46-0-45-0-94-duration: 800ms;
  --ds-motion-motion-component-state-change-transform-800-cubic-bezier-0-25-0-46-0-45-0-94-delay: 0ms;
  --ds-motion-motion-component-state-change-transform-800-cubic-bezier-0-25-0-46-0-45-0-94-easing: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  --ds-motion-motion-component-state-change-opacity-250-ease-in-duration: 250ms;
  --ds-motion-motion-component-state-change-opacity-250-ease-in-delay: 0ms;
  --ds-motion-motion-component-state-change-opacity-250-ease-in-easing: ease-in;
  --ds-motion-motion-component-state-change-webkit-transform-800-cubic-bezier-0-25-0-46-0-45-0-94-duration: 800ms;
  --ds-motion-motion-component-state-change-webkit-transform-800-cubic-bezier-0-25-0-46-0-45-0-94-delay: 0ms;
  --ds-motion-motion-component-state-change-webkit-transform-800-cubic-bezier-0-25-0-46-0-45-0-94-easing: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  --ds-motion-motion-button-state-change-all-150-cubic-bezier-0-25-0-46-0-45-0-94-duration: 150ms;
  --ds-motion-motion-button-state-change-all-150-cubic-bezier-0-25-0-46-0-45-0-94-delay: 0ms;
  --ds-motion-motion-button-state-change-all-150-cubic-bezier-0-25-0-46-0-45-0-94-easing: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  --ds-motion-motion-navigation-state-change-z-index-10-linear-duration: 10ms;
  --ds-motion-motion-navigation-state-change-z-index-10-linear-delay: 400ms;
  --ds-motion-motion-navigation-state-change-z-index-10-linear-easing: linear;
  --ds-motion-motion-navigation-state-change-opacity-400-cubic-bezier-0-25-0-46-0-45-0-94-duration: 400ms;
  --ds-motion-motion-navigation-state-change-opacity-400-cubic-bezier-0-25-0-46-0-45-0-94-delay: 10ms;
  --ds-motion-motion-navigation-state-change-opacity-400-cubic-bezier-0-25-0-46-0-45-0-94-easing: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  --ds-motion-motion-navigation-state-change-visibility-10-linear-duration: 10ms;
  --ds-motion-motion-navigation-state-change-visibility-10-linear-delay: 0ms;
  --ds-motion-motion-navigation-state-change-visibility-10-linear-easing: linear;
  --ds-motion-motion-navigation-state-change-all-150-cubic-bezier-0-25-0-46-0-45-0-94-duration: 150ms;
  --ds-motion-motion-navigation-state-change-all-150-cubic-bezier-0-25-0-46-0-45-0-94-delay: 0ms;
  --ds-motion-motion-navigation-state-change-all-150-cubic-bezier-0-25-0-46-0-45-0-94-easing: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  --ds-motion-motion-navigation-state-change-top-125-cubic-bezier-0-455-0-03-0-515-0-955-duration: 125ms;
  --ds-motion-motion-navigation-state-change-top-125-cubic-bezier-0-455-0-03-0-515-0-955-delay: 0ms;
  --ds-motion-motion-navigation-state-change-top-125-cubic-bezier-0-455-0-03-0-515-0-955-easing: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  --ds-motion-motion-navigation-state-change-transform-125-cubic-bezier-0-455-0-03-0-515-0-955-duration: 125ms;
  --ds-motion-motion-navigation-state-change-transform-125-cubic-bezier-0-455-0-03-0-515-0-955-delay: 125ms;
  --ds-motion-motion-navigation-state-change-transform-125-cubic-bezier-0-455-0-03-0-515-0-955-easing: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  --ds-motion-motion-navigation-state-change-webkit-transform-125-cubic-bezier-0-455-0-03-0-515-0-955-duration: 125ms;
  --ds-motion-motion-navigation-state-change-webkit-transform-125-cubic-bezier-0-455-0-03-0-515-0-955-delay: 125ms;
  --ds-motion-motion-navigation-state-change-webkit-transform-125-cubic-bezier-0-455-0-03-0-515-0-955-easing: cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
