:root {
  --ds-color-foreground: #000000;
  --ds-color-background: #ffffff;
  --ds-color-supporting-color: #b0c0d0;
  --ds-color-supporting-color-2: #90b0c0;
  --ds-color-foreground-2: #202020;
  --ds-color-supporting-color-3: #6090b0;
  --ds-color-neutral-surface: #d0e0e0;
  --ds-color-deep-accent: #203040;
  --ds-color-foreground-3: #404040;
  --ds-color-supporting-color-4: #4080a0;
  --ds-color-neutral-surface-2: #707070;
  --ds-color-neutral-surface-3: #808080;
  --ds-spacing-component: 0px 30px 10px 0px;
  --ds-radius-component: missing;
  --ds-shadow-component: missing;
  --ds-motion-motion-button-state-change-transform-250-ease-out-duration: 250ms;
  --ds-motion-motion-button-state-change-transform-250-ease-out-delay: 0ms;
  --ds-motion-motion-button-state-change-transform-250-ease-out-easing: ease-out;
  --ds-motion-motion-button-state-change-all-800-cubic-bezier-77-0-175-1-duration: 800ms;
  --ds-motion-motion-button-state-change-all-800-cubic-bezier-77-0-175-1-delay: 0ms;
  --ds-motion-motion-button-state-change-all-800-cubic-bezier-77-0-175-1-easing: cubic-bezier(.77,0,.175,1);
  --ds-motion-motion-button-state-change-all-200-ease-in-out-duration: 200ms;
  --ds-motion-motion-button-state-change-all-200-ease-in-out-delay: 0ms;
  --ds-motion-motion-button-state-change-all-200-ease-in-out-easing: ease-in-out;
  --ds-motion-motion-navigation-state-change-all-300-ease-out-duration: 300ms;
  --ds-motion-motion-navigation-state-change-all-300-ease-out-delay: 0ms;
  --ds-motion-motion-navigation-state-change-all-300-ease-out-easing: ease-out;
  --ds-motion-motion-navigation-state-change-all-500-ease-in-out-duration: 500ms;
  --ds-motion-motion-navigation-state-change-all-500-ease-in-out-delay: 0ms;
  --ds-motion-motion-navigation-state-change-all-500-ease-in-out-easing: ease-in-out;
  --ds-motion-motion-card-state-change-transform-450-ease-duration: 450ms;
  --ds-motion-motion-card-state-change-transform-450-ease-delay: 0ms;
  --ds-motion-motion-card-state-change-transform-450-ease-easing: ease;
  --ds-motion-motion-card-state-change-background-450-ease-duration: 450ms;
  --ds-motion-motion-card-state-change-background-450-ease-delay: 0ms;
  --ds-motion-motion-card-state-change-background-450-ease-easing: ease;
  --ds-motion-motion-component-load-animation-0-linear-duration: 0ms;
  --ds-motion-motion-component-load-animation-0-linear-delay: 0ms;
  --ds-motion-motion-component-load-animation-0-linear-easing: linear;
  --ds-motion-motion-component-state-change-all-800-cubic-bezier-77-0-175-1-duration: 800ms;
  --ds-motion-motion-component-state-change-all-800-cubic-bezier-77-0-175-1-delay: 0ms;
  --ds-motion-motion-component-state-change-all-800-cubic-bezier-77-0-175-1-easing: cubic-bezier(.77,0,.175,1);
  --ds-motion-motion-component-state-change-all-200-ease-out-duration: 200ms;
  --ds-motion-motion-component-state-change-all-200-ease-out-delay: 0ms;
  --ds-motion-motion-component-state-change-all-200-ease-out-easing: ease-out;
  --ds-motion-motion-component-state-change-all-500-ease-in-out-duration: 500ms;
  --ds-motion-motion-component-state-change-all-500-ease-in-out-delay: 0ms;
  --ds-motion-motion-component-state-change-all-500-ease-in-out-easing: ease-in-out;
  --ds-motion-motion-component-state-change-all-300-ease-in-out-duration: 300ms;
  --ds-motion-motion-component-state-change-all-300-ease-in-out-delay: 0ms;
  --ds-motion-motion-component-state-change-all-300-ease-in-out-easing: ease-in-out;
  --ds-motion-motion-navigation-state-change-top-300-ease-out-duration: 300ms;
  --ds-motion-motion-navigation-state-change-top-300-ease-out-delay: 0ms;
  --ds-motion-motion-navigation-state-change-top-300-ease-out-easing: ease-out;
  --ds-motion-motion-button-state-change-all-200-ease-out-duration: 200ms;
  --ds-motion-motion-button-state-change-all-200-ease-out-delay: 0ms;
  --ds-motion-motion-button-state-change-all-200-ease-out-easing: ease-out;
  --ds-motion-motion-navigation-state-change-margin-400-ease-duration: 400ms;
  --ds-motion-motion-navigation-state-change-margin-400-ease-delay: 0ms;
  --ds-motion-motion-navigation-state-change-margin-400-ease-easing: ease;
  --ds-motion-motion-button-state-change-width-800-cubic-bezier-86-0-07-1-duration: 800ms;
  --ds-motion-motion-button-state-change-width-800-cubic-bezier-86-0-07-1-delay: 0ms;
  --ds-motion-motion-button-state-change-width-800-cubic-bezier-86-0-07-1-easing: cubic-bezier(.86,0,.07,1);
  --ds-motion-motion-button-state-change-transform-300-cubic-bezier-175-885-32-1-275-duration: 300ms;
  --ds-motion-motion-button-state-change-transform-300-cubic-bezier-175-885-32-1-275-delay: 0ms;
  --ds-motion-motion-button-state-change-transform-300-cubic-bezier-175-885-32-1-275-easing: cubic-bezier(.175,.885,.32,1.275);
  --ds-motion-motion-button-state-change-opacity-300-cubic-bezier-175-885-32-1-duration: 300ms;
  --ds-motion-motion-button-state-change-opacity-300-cubic-bezier-175-885-32-1-delay: 0ms;
  --ds-motion-motion-button-state-change-opacity-300-cubic-bezier-175-885-32-1-easing: cubic-bezier(.175,.885,.32,1);
  --ds-motion-motion-overlay-state-change-all-400-cubic-bezier-165-84-44-1-duration: 400ms;
  --ds-motion-motion-overlay-state-change-all-400-cubic-bezier-165-84-44-1-delay: 700ms;
  --ds-motion-motion-overlay-state-change-all-400-cubic-bezier-165-84-44-1-easing: cubic-bezier(.165,.84,.44,1);
  --ds-motion-motion-overlay-state-change-all-400-cubic-bezier-895-03-685-22-duration: 400ms;
  --ds-motion-motion-overlay-state-change-all-400-cubic-bezier-895-03-685-22-delay: 0ms;
  --ds-motion-motion-overlay-state-change-all-400-cubic-bezier-895-03-685-22-easing: cubic-bezier(.895,.03,.685,.22);
  --ds-motion-motion-overlay-hover-all-400-cubic-bezier-895-03-685-22-duration: 400ms;
  --ds-motion-motion-overlay-hover-all-400-cubic-bezier-895-03-685-22-delay: 100ms;
  --ds-motion-motion-overlay-hover-all-400-cubic-bezier-895-03-685-22-easing: cubic-bezier(.895,.03,.685,.22);
  --ds-motion-motion-overlay-hover-all-400-cubic-bezier-165-84-44-1-duration: 400ms;
  --ds-motion-motion-overlay-hover-all-400-cubic-bezier-165-84-44-1-delay: 600ms;
  --ds-motion-motion-overlay-hover-all-400-cubic-bezier-165-84-44-1-easing: cubic-bezier(.165,.84,.44,1);
  --ds-motion-motion-component-load-animation-5000-linear-duration: 5000ms;
  --ds-motion-motion-component-load-animation-5000-linear-delay: 0ms;
  --ds-motion-motion-component-load-animation-5000-linear-easing: linear;
  --ds-motion-motion-component-state-change-color-200-ease-out-duration: 200ms;
  --ds-motion-motion-component-state-change-color-200-ease-out-delay: 0ms;
  --ds-motion-motion-component-state-change-color-200-ease-out-easing: ease-out;
  --ds-motion-motion-navigation-state-change-color-200-ease-out-duration: 200ms;
  --ds-motion-motion-navigation-state-change-color-200-ease-out-delay: 0ms;
  --ds-motion-motion-navigation-state-change-color-200-ease-out-easing: ease-out;
}
