.ds-motion-motion-navigation-hover-backgroundcolor-0-ease {
  transition-property: backgroundColor;
  transition-duration: var(--ds-motion-motion-navigation-hover-backgroundcolor-0-ease-duration);
  transition-delay: var(--ds-motion-motion-navigation-hover-backgroundcolor-0-ease-delay);
  transition-timing-function: var(--ds-motion-motion-navigation-hover-backgroundcolor-0-ease-easing);
  transform: rgb(255, 255, 255);
}

.ds-motion-motion-navigation-focus-backgroundcolor-0-ease {
  transition-property: backgroundColor;
  transition-duration: var(--ds-motion-motion-navigation-focus-backgroundcolor-0-ease-duration);
  transition-delay: var(--ds-motion-motion-navigation-focus-backgroundcolor-0-ease-delay);
  transition-timing-function: var(--ds-motion-motion-navigation-focus-backgroundcolor-0-ease-easing);
  transform: rgb(255, 255, 255);
}

.ds-motion-motion-form-hover-opacity-0-ease {
  transition-property: opacity;
  transition-duration: var(--ds-motion-motion-form-hover-opacity-0-ease-duration);
  transition-delay: var(--ds-motion-motion-form-hover-opacity-0-ease-delay);
  transition-timing-function: var(--ds-motion-motion-form-hover-opacity-0-ease-easing);
  transform: 0.832163;
}

.ds-motion-motion-form-focus-opacity-0-ease {
  transition-property: opacity;
  transition-duration: var(--ds-motion-motion-form-focus-opacity-0-ease-duration);
  transition-delay: var(--ds-motion-motion-form-focus-opacity-0-ease-delay);
  transition-timing-function: var(--ds-motion-motion-form-focus-opacity-0-ease-easing);
  transform: 0.819672;
}

@media (prefers-reduced-motion: reduce) {
  [class*="ds-motion-"] {
    transition-duration: 0ms !important;
    animation-duration: 0ms !important;
  }
}
