.ds-motion-motion-card-state-change-fontsize-130-ease-in-out {
  transition-property: fontSize;
  transition-duration: var(--ds-motion-motion-card-state-change-fontsize-130-ease-in-out-duration);
  transition-delay: var(--ds-motion-motion-card-state-change-fontsize-130-ease-in-out-delay);
  transition-timing-function: var(--ds-motion-motion-card-state-change-fontsize-130-ease-in-out-easing);
}

@media (prefers-reduced-motion: reduce) {
  [class*="ds-motion-"] {
    transition-duration: 0ms !important;
    animation-duration: 0ms !important;
  }
}
