:root {
  --ds-color-background: #ffffff;
  --ds-color-foreground: #101010;
  --ds-color-deep-accent: #606040;
  --ds-color-supporting-color: #b0a090;
  --ds-color-neutral-surface: #c0d0d0;
  --ds-color-neutral-surface-2: #e0e0d0;
  --ds-color-deep-accent-2: #303020;
  --ds-color-deep-accent-3: #504030;
  --ds-color-supporting-color-2: #808070;
  --ds-color-supporting-color-3: #106090;
  --ds-color-foreground-2: #444444;
  --ds-color-foreground-3: #616161;
  --ds-spacing-component: 57.5938px 14.3906px 0px 43.1875px;
  --ds-radius-component: missing;
  --ds-shadow-component: missing;
  --ds-motion-motion-card-state-change-fontsize-130-ease-in-out-duration: 130ms;
  --ds-motion-motion-card-state-change-fontsize-130-ease-in-out-delay: 0ms;
  --ds-motion-motion-card-state-change-fontsize-130-ease-in-out-easing: ease-in-out;
}
