.ds-motion-motion-button-load-animation-4000-linear {
  transition-property: animation;
  transition-duration: var(--ds-motion-motion-button-load-animation-4000-linear-duration);
  transition-delay: var(--ds-motion-motion-button-load-animation-4000-linear-delay);
  transition-timing-function: var(--ds-motion-motion-button-load-animation-4000-linear-easing);
  transform: scale(1.2) translateY(-44px) rotate(1turn) translateZ(0);
}

.ds-motion-motion-component-state-change-max-height-400-cubic-bezier-33-1-68-1 {
  transition-property: max-height;
  transition-duration: var(--ds-motion-motion-component-state-change-max-height-400-cubic-bezier-33-1-68-1-duration);
  transition-delay: var(--ds-motion-motion-component-state-change-max-height-400-cubic-bezier-33-1-68-1-delay);
  transition-timing-function: var(--ds-motion-motion-component-state-change-max-height-400-cubic-bezier-33-1-68-1-easing);
}

.ds-motion-motion-component-state-change-opacity-400-cubic-bezier-33-1-68-1 {
  transition-property: opacity;
  transition-duration: var(--ds-motion-motion-component-state-change-opacity-400-cubic-bezier-33-1-68-1-duration);
  transition-delay: var(--ds-motion-motion-component-state-change-opacity-400-cubic-bezier-33-1-68-1-delay);
  transition-timing-function: var(--ds-motion-motion-component-state-change-opacity-400-cubic-bezier-33-1-68-1-easing);
}

.ds-motion-motion-component-state-change-opacity-200-cubic-bezier-33-1-68-1 {
  transition-property: opacity;
  transition-duration: var(--ds-motion-motion-component-state-change-opacity-200-cubic-bezier-33-1-68-1-duration);
  transition-delay: var(--ds-motion-motion-component-state-change-opacity-200-cubic-bezier-33-1-68-1-delay);
  transition-timing-function: var(--ds-motion-motion-component-state-change-opacity-200-cubic-bezier-33-1-68-1-easing);
  transform: translate(-50%,4px) scale(.8);
}

.ds-motion-motion-component-state-change-visibility-400-cubic-bezier-33-1-68-1 {
  transition-property: visibility;
  transition-duration: var(--ds-motion-motion-component-state-change-visibility-400-cubic-bezier-33-1-68-1-duration);
  transition-delay: var(--ds-motion-motion-component-state-change-visibility-400-cubic-bezier-33-1-68-1-delay);
  transition-timing-function: var(--ds-motion-motion-component-state-change-visibility-400-cubic-bezier-33-1-68-1-easing);
}

.ds-motion-motion-component-state-change-border-color-200-cubic-bezier-33-1-68-1 {
  transition-property: border-color;
  transition-duration: var(--ds-motion-motion-component-state-change-border-color-200-cubic-bezier-33-1-68-1-duration);
  transition-delay: var(--ds-motion-motion-component-state-change-border-color-200-cubic-bezier-33-1-68-1-delay);
  transition-timing-function: var(--ds-motion-motion-component-state-change-border-color-200-cubic-bezier-33-1-68-1-easing);
}

.ds-motion-motion-component-state-change-transform-400-cubic-bezier-33-1-68-1 {
  transition-property: transform;
  transition-duration: var(--ds-motion-motion-component-state-change-transform-400-cubic-bezier-33-1-68-1-duration);
  transition-delay: var(--ds-motion-motion-component-state-change-transform-400-cubic-bezier-33-1-68-1-delay);
  transition-timing-function: var(--ds-motion-motion-component-state-change-transform-400-cubic-bezier-33-1-68-1-easing);
  transform: translateX(-24px);
}

.ds-motion-motion-button-state-change-opacity-200-cubic-bezier-33-1-68-1 {
  transition-property: opacity;
  transition-duration: var(--ds-motion-motion-button-state-change-opacity-200-cubic-bezier-33-1-68-1-duration);
  transition-delay: var(--ds-motion-motion-button-state-change-opacity-200-cubic-bezier-33-1-68-1-delay);
  transition-timing-function: var(--ds-motion-motion-button-state-change-opacity-200-cubic-bezier-33-1-68-1-easing);
}

.ds-motion-motion-button-state-change-opacity-200-cubic-bezier-19-1-22-1 {
  transition-property: opacity;
  transition-duration: var(--ds-motion-motion-button-state-change-opacity-200-cubic-bezier-19-1-22-1-duration);
  transition-delay: var(--ds-motion-motion-button-state-change-opacity-200-cubic-bezier-19-1-22-1-delay);
  transition-timing-function: var(--ds-motion-motion-button-state-change-opacity-200-cubic-bezier-19-1-22-1-easing);
}

.ds-motion-motion-button-state-change-transform-400-cubic-bezier-19-1-22-1 {
  transition-property: transform;
  transition-duration: var(--ds-motion-motion-button-state-change-transform-400-cubic-bezier-19-1-22-1-duration);
  transition-delay: var(--ds-motion-motion-button-state-change-transform-400-cubic-bezier-19-1-22-1-delay);
  transition-timing-function: var(--ds-motion-motion-button-state-change-transform-400-cubic-bezier-19-1-22-1-easing);
}

.ds-motion-motion-button-state-change-transform-200-cubic-bezier-19-1-22-1 {
  transition-property: transform;
  transition-duration: var(--ds-motion-motion-button-state-change-transform-200-cubic-bezier-19-1-22-1-duration);
  transition-delay: var(--ds-motion-motion-button-state-change-transform-200-cubic-bezier-19-1-22-1-delay);
  transition-timing-function: var(--ds-motion-motion-button-state-change-transform-200-cubic-bezier-19-1-22-1-easing);
}

.ds-motion-motion-button-state-change-opacity-400-cubic-bezier-19-1-22-1 {
  transition-property: opacity;
  transition-duration: var(--ds-motion-motion-button-state-change-opacity-400-cubic-bezier-19-1-22-1-duration);
  transition-delay: var(--ds-motion-motion-button-state-change-opacity-400-cubic-bezier-19-1-22-1-delay);
  transition-timing-function: var(--ds-motion-motion-button-state-change-opacity-400-cubic-bezier-19-1-22-1-easing);
}

.ds-motion-motion-button-state-change-transform-600-cubic-bezier-19-1-22-1 {
  transition-property: transform;
  transition-duration: var(--ds-motion-motion-button-state-change-transform-600-cubic-bezier-19-1-22-1-duration);
  transition-delay: var(--ds-motion-motion-button-state-change-transform-600-cubic-bezier-19-1-22-1-delay);
  transition-timing-function: var(--ds-motion-motion-button-state-change-transform-600-cubic-bezier-19-1-22-1-easing);
}

.ds-motion-motion-component-state-change-background-color-400-cubic-bezier-33-1-68-1 {
  transition-property: background-color;
  transition-duration: var(--ds-motion-motion-component-state-change-background-color-400-cubic-bezier-33-1-68-1-duration);
  transition-delay: var(--ds-motion-motion-component-state-change-background-color-400-cubic-bezier-33-1-68-1-delay);
  transition-timing-function: var(--ds-motion-motion-component-state-change-background-color-400-cubic-bezier-33-1-68-1-easing);
}

.ds-motion-motion-component-state-change-opacity-200-cubic-bezier-075-82-165-1 {
  transition-property: opacity;
  transition-duration: var(--ds-motion-motion-component-state-change-opacity-200-cubic-bezier-075-82-165-1-duration);
  transition-delay: var(--ds-motion-motion-component-state-change-opacity-200-cubic-bezier-075-82-165-1-delay);
  transition-timing-function: var(--ds-motion-motion-component-state-change-opacity-200-cubic-bezier-075-82-165-1-easing);
}

.ds-motion-motion-component-state-change-background-color-200-cubic-bezier-33-1-68-1 {
  transition-property: background-color;
  transition-duration: var(--ds-motion-motion-component-state-change-background-color-200-cubic-bezier-33-1-68-1-duration);
  transition-delay: var(--ds-motion-motion-component-state-change-background-color-200-cubic-bezier-33-1-68-1-delay);
  transition-timing-function: var(--ds-motion-motion-component-state-change-background-color-200-cubic-bezier-33-1-68-1-easing);
}

.ds-motion-motion-component-state-change-transform-200-cubic-bezier-33-1-68-1 {
  transition-property: transform;
  transition-duration: var(--ds-motion-motion-component-state-change-transform-200-cubic-bezier-33-1-68-1-duration);
  transition-delay: var(--ds-motion-motion-component-state-change-transform-200-cubic-bezier-33-1-68-1-delay);
  transition-timing-function: var(--ds-motion-motion-component-state-change-transform-200-cubic-bezier-33-1-68-1-easing);
  transform: translate(-50%,4px) scale(.8);
}

.ds-motion-motion-component-state-change-visibility-200-cubic-bezier-33-1-68-1 {
  transition-property: visibility;
  transition-duration: var(--ds-motion-motion-component-state-change-visibility-200-cubic-bezier-33-1-68-1-duration);
  transition-delay: var(--ds-motion-motion-component-state-change-visibility-200-cubic-bezier-33-1-68-1-delay);
  transition-timing-function: var(--ds-motion-motion-component-state-change-visibility-200-cubic-bezier-33-1-68-1-easing);
  transform: translate(-50%,4px) scale(.8);
}

.ds-motion-motion-component-state-change-color-600-cubic-bezier-33-1-68-1 {
  transition-property: color;
  transition-duration: var(--ds-motion-motion-component-state-change-color-600-cubic-bezier-33-1-68-1-duration);
  transition-delay: var(--ds-motion-motion-component-state-change-color-600-cubic-bezier-33-1-68-1-delay);
  transition-timing-function: var(--ds-motion-motion-component-state-change-color-600-cubic-bezier-33-1-68-1-easing);
}

.ds-motion-motion-component-state-change-margin-right-400-cubic-bezier-33-1-68-1 {
  transition-property: margin-right;
  transition-duration: var(--ds-motion-motion-component-state-change-margin-right-400-cubic-bezier-33-1-68-1-duration);
  transition-delay: var(--ds-motion-motion-component-state-change-margin-right-400-cubic-bezier-33-1-68-1-delay);
  transition-timing-function: var(--ds-motion-motion-component-state-change-margin-right-400-cubic-bezier-33-1-68-1-easing);
}

.ds-motion-motion-component-state-change-transform-400-cubic-bezier-0-33-1-0-68-1 {
  transition-property: transform;
  transition-duration: var(--ds-motion-motion-component-state-change-transform-400-cubic-bezier-0-33-1-0-68-1-duration);
  transition-delay: var(--ds-motion-motion-component-state-change-transform-400-cubic-bezier-0-33-1-0-68-1-delay);
  transition-timing-function: var(--ds-motion-motion-component-state-change-transform-400-cubic-bezier-0-33-1-0-68-1-easing);
}

.ds-motion-motion-component-state-change-opacity-200-cubic-bezier-0-33-1-0-68-1 {
  transition-property: opacity;
  transition-duration: var(--ds-motion-motion-component-state-change-opacity-200-cubic-bezier-0-33-1-0-68-1-duration);
  transition-delay: var(--ds-motion-motion-component-state-change-opacity-200-cubic-bezier-0-33-1-0-68-1-delay);
  transition-timing-function: var(--ds-motion-motion-component-state-change-opacity-200-cubic-bezier-0-33-1-0-68-1-easing);
}

.ds-motion-motion-component-state-change-visibility-800-cubic-bezier-33-1-68-1 {
  transition-property: visibility;
  transition-duration: var(--ds-motion-motion-component-state-change-visibility-800-cubic-bezier-33-1-68-1-duration);
  transition-delay: var(--ds-motion-motion-component-state-change-visibility-800-cubic-bezier-33-1-68-1-delay);
  transition-timing-function: var(--ds-motion-motion-component-state-change-visibility-800-cubic-bezier-33-1-68-1-easing);
}

.ds-motion-motion-component-state-change-transform-600-cubic-bezier-33-1-68-1 {
  transition-property: transform;
  transition-duration: var(--ds-motion-motion-component-state-change-transform-600-cubic-bezier-33-1-68-1-duration);
  transition-delay: var(--ds-motion-motion-component-state-change-transform-600-cubic-bezier-33-1-68-1-delay);
  transition-timing-function: var(--ds-motion-motion-component-state-change-transform-600-cubic-bezier-33-1-68-1-easing);
}

.ds-motion-motion-component-state-change-opacity-300-cubic-bezier-33-1-68-1 {
  transition-property: opacity;
  transition-duration: var(--ds-motion-motion-component-state-change-opacity-300-cubic-bezier-33-1-68-1-duration);
  transition-delay: var(--ds-motion-motion-component-state-change-opacity-300-cubic-bezier-33-1-68-1-delay);
  transition-timing-function: var(--ds-motion-motion-component-state-change-opacity-300-cubic-bezier-33-1-68-1-easing);
}

.ds-motion-motion-button-state-change-opacity-400-cubic-bezier-33-1-68-1 {
  transition-property: opacity;
  transition-duration: var(--ds-motion-motion-button-state-change-opacity-400-cubic-bezier-33-1-68-1-duration);
  transition-delay: var(--ds-motion-motion-button-state-change-opacity-400-cubic-bezier-33-1-68-1-delay);
  transition-timing-function: var(--ds-motion-motion-button-state-change-opacity-400-cubic-bezier-33-1-68-1-easing);
}

.ds-motion-motion-button-state-change-border-color-400-cubic-bezier-33-1-68-1 {
  transition-property: border-color;
  transition-duration: var(--ds-motion-motion-button-state-change-border-color-400-cubic-bezier-33-1-68-1-duration);
  transition-delay: var(--ds-motion-motion-button-state-change-border-color-400-cubic-bezier-33-1-68-1-delay);
  transition-timing-function: var(--ds-motion-motion-button-state-change-border-color-400-cubic-bezier-33-1-68-1-easing);
}

.ds-motion-motion-navigation-state-change-transform-400-cubic-bezier-0-33-1-0-68-1 {
  transition-property: transform;
  transition-duration: var(--ds-motion-motion-navigation-state-change-transform-400-cubic-bezier-0-33-1-0-68-1-duration);
  transition-delay: var(--ds-motion-motion-navigation-state-change-transform-400-cubic-bezier-0-33-1-0-68-1-delay);
  transition-timing-function: var(--ds-motion-motion-navigation-state-change-transform-400-cubic-bezier-0-33-1-0-68-1-easing);
}

.ds-motion-motion-navigation-state-change-opacity-200-cubic-bezier-0-33-1-0-68-1 {
  transition-property: opacity;
  transition-duration: var(--ds-motion-motion-navigation-state-change-opacity-200-cubic-bezier-0-33-1-0-68-1-duration);
  transition-delay: var(--ds-motion-motion-navigation-state-change-opacity-200-cubic-bezier-0-33-1-0-68-1-delay);
  transition-timing-function: var(--ds-motion-motion-navigation-state-change-opacity-200-cubic-bezier-0-33-1-0-68-1-easing);
}

.ds-motion-motion-navigation-state-change-transform-600-cubic-bezier-33-1-68-1 {
  transition-property: transform;
  transition-duration: var(--ds-motion-motion-navigation-state-change-transform-600-cubic-bezier-33-1-68-1-duration);
  transition-delay: var(--ds-motion-motion-navigation-state-change-transform-600-cubic-bezier-33-1-68-1-delay);
  transition-timing-function: var(--ds-motion-motion-navigation-state-change-transform-600-cubic-bezier-33-1-68-1-easing);
}

.ds-motion-motion-component-state-change-width-400-cubic-bezier-33-1-68-1 {
  transition-property: width;
  transition-duration: var(--ds-motion-motion-component-state-change-width-400-cubic-bezier-33-1-68-1-duration);
  transition-delay: var(--ds-motion-motion-component-state-change-width-400-cubic-bezier-33-1-68-1-delay);
  transition-timing-function: var(--ds-motion-motion-component-state-change-width-400-cubic-bezier-33-1-68-1-easing);
}

.ds-motion-motion-button-hover-transform-200-ease {
  transition-property: transform;
  transition-duration: var(--ds-motion-motion-button-hover-transform-200-ease-duration);
  transition-delay: var(--ds-motion-motion-button-hover-transform-200-ease-delay);
  transition-timing-function: var(--ds-motion-motion-button-hover-transform-200-ease-easing);
  transform: matrix(1, 0, 0, 1, 0, -0.00176559);
}

.ds-motion-motion-button-focus-transform-200-ease {
  transition-property: transform;
  transition-duration: var(--ds-motion-motion-button-focus-transform-200-ease-duration);
  transition-delay: var(--ds-motion-motion-button-focus-transform-200-ease-delay);
  transition-timing-function: var(--ds-motion-motion-button-focus-transform-200-ease-easing);
  transform: matrix(1, 0, 0, 1, 0, -0.00176559);
}

@media (prefers-reduced-motion: reduce) {
  [class*="ds-motion-"] {
    transition-duration: 0ms !important;
    animation-duration: 0ms !important;
  }
}
