:root {
  --ds-color-deep-accent: #000010;
  --ds-color-deep-accent-2: #201010;
  --ds-color-neutral-surface: #a0a0a0;
  --ds-color-neutral-surface-2: #d0d0d0;
  --ds-color-foreground: #606060;
  --ds-color-foreground-2: #404040;
  --ds-color-neutral-surface-3: #808080;
  --ds-color-deep-accent-3: #202030;
  --ds-color-accent: #ff6060;
  --ds-color-background: #ffffff;
  --ds-color-deep-accent-4: #07080a;
  --ds-color-neutral-surface-4: #9c9c9d;
  --ds-spacing-component: 8px 12px;
  --ds-radius-component: 8px;
  --ds-shadow-component: rgba(0, 0, 0, 0.5) 0px 0px 0px 2px, rgba(255, 255, 255, 0.19) 0px 0px 14px 0px, rgba(0, 0, 0, 0.2) 0px -1px 0.4px 0px inset, rgb(255, 255, 255) 0px 1px 0.4px 0px inset;
  --ds-motion-motion-component-load-animation-2000-ease-in-out-duration: 2000ms;
  --ds-motion-motion-component-load-animation-2000-ease-in-out-delay: 0ms;
  --ds-motion-motion-component-load-animation-2000-ease-in-out-easing: ease-in-out;
  --ds-motion-motion-button-state-change-box-shadow-200-ease-in-out-duration: 200ms;
  --ds-motion-motion-button-state-change-box-shadow-200-ease-in-out-delay: 0ms;
  --ds-motion-motion-button-state-change-box-shadow-200-ease-in-out-easing: ease-in-out;
  --ds-motion-motion-button-state-change-transform-100-ease-in-out-duration: 100ms;
  --ds-motion-motion-button-state-change-transform-100-ease-in-out-delay: 0ms;
  --ds-motion-motion-button-state-change-transform-100-ease-in-out-easing: ease-in-out;
  --ds-motion-motion-component-state-change-opacity-300-cubic-bezier-4-0-2-1-duration: 300ms;
  --ds-motion-motion-component-state-change-opacity-300-cubic-bezier-4-0-2-1-delay: 0ms;
  --ds-motion-motion-component-state-change-opacity-300-cubic-bezier-4-0-2-1-easing: cubic-bezier(.4,0,.2,1);
  --ds-motion-motion-component-state-change-width-300-ease-duration: 300ms;
  --ds-motion-motion-component-state-change-width-300-ease-delay: 0ms;
  --ds-motion-motion-component-state-change-width-300-ease-easing: ease;
  --ds-motion-motion-component-state-change-opacity-400-ease-duration: 400ms;
  --ds-motion-motion-component-state-change-opacity-400-ease-delay: 0ms;
  --ds-motion-motion-component-state-change-opacity-400-ease-easing: ease;
  --ds-motion-motion-component-state-change-all-300-ease-duration: 300ms;
  --ds-motion-motion-component-state-change-all-300-ease-delay: 0ms;
  --ds-motion-motion-component-state-change-all-300-ease-easing: ease;
  --ds-motion-motion-component-state-change-color-300-ease-duration: 300ms;
  --ds-motion-motion-component-state-change-color-300-ease-delay: 0ms;
  --ds-motion-motion-component-state-change-color-300-ease-easing: ease;
  --ds-motion-motion-component-state-change-opacity-200-ease-duration: 200ms;
  --ds-motion-motion-component-state-change-opacity-200-ease-delay: 0ms;
  --ds-motion-motion-component-state-change-opacity-200-ease-easing: ease;
  --ds-motion-motion-component-state-change-opacity-150-ease-duration: 150ms;
  --ds-motion-motion-component-state-change-opacity-150-ease-delay: 0ms;
  --ds-motion-motion-component-state-change-opacity-150-ease-easing: ease;
  --ds-motion-motion-component-state-change-transform-150-ease-duration: 150ms;
  --ds-motion-motion-component-state-change-transform-150-ease-delay: 0ms;
  --ds-motion-motion-component-state-change-transform-150-ease-easing: ease;
  --ds-motion-motion-component-load-animation-300-ease-duration: 300ms;
  --ds-motion-motion-component-load-animation-300-ease-delay: 0ms;
  --ds-motion-motion-component-load-animation-300-ease-easing: ease;
  --ds-motion-motion-component-load-animation-1500-cubic-bezier-455-03-515-955-duration: 1500ms;
  --ds-motion-motion-component-load-animation-1500-cubic-bezier-455-03-515-955-delay: 0ms;
  --ds-motion-motion-component-load-animation-1500-cubic-bezier-455-03-515-955-easing: cubic-bezier(.455,.03,.515,.955);
  --ds-motion-motion-component-state-change-box-shadow-200-ease-in-out-duration: 200ms;
  --ds-motion-motion-component-state-change-box-shadow-200-ease-in-out-delay: 0ms;
  --ds-motion-motion-component-state-change-box-shadow-200-ease-in-out-easing: ease-in-out;
  --ds-motion-motion-component-state-change-opacity-600-cubic-bezier-4-0-22-96-duration: 600ms;
  --ds-motion-motion-component-state-change-opacity-600-cubic-bezier-4-0-22-96-delay: 0ms;
  --ds-motion-motion-component-state-change-opacity-600-cubic-bezier-4-0-22-96-easing: cubic-bezier(.4,0,.22,.96);
  --ds-motion-motion-component-state-change-transform-600-cubic-bezier-4-0-22-96-duration: 600ms;
  --ds-motion-motion-component-state-change-transform-600-cubic-bezier-4-0-22-96-delay: 0ms;
  --ds-motion-motion-component-state-change-transform-600-cubic-bezier-4-0-22-96-easing: cubic-bezier(.4,0,.22,.96);
  --ds-motion-motion-hero-state-change-all-200-ease-duration: 200ms;
  --ds-motion-motion-hero-state-change-all-200-ease-delay: 0ms;
  --ds-motion-motion-hero-state-change-all-200-ease-easing: ease;
  --ds-motion-motion-hero-viewport-animation-3000-linear-duration: 3000ms;
  --ds-motion-motion-hero-viewport-animation-3000-linear-delay: 0ms;
  --ds-motion-motion-hero-viewport-animation-3000-linear-easing: linear;
  --ds-motion-motion-component-state-change-text-underline-offset-100-ease-out-duration: 100ms;
  --ds-motion-motion-component-state-change-text-underline-offset-100-ease-out-delay: 0ms;
  --ds-motion-motion-component-state-change-text-underline-offset-100-ease-out-easing: ease-out;
  --ds-motion-motion-component-state-change-transform-200-ease-out-duration: 200ms;
  --ds-motion-motion-component-state-change-transform-200-ease-out-delay: 0ms;
  --ds-motion-motion-component-state-change-transform-200-ease-out-easing: ease-out;
  --ds-motion-motion-component-state-change-opacity-400-ease-out-duration: 400ms;
  --ds-motion-motion-component-state-change-opacity-400-ease-out-delay: 0ms;
  --ds-motion-motion-component-state-change-opacity-400-ease-out-easing: ease-out;
  --ds-motion-motion-component-state-change-transform-100-ease-out-duration: 100ms;
  --ds-motion-motion-component-state-change-transform-100-ease-out-delay: 0ms;
  --ds-motion-motion-component-state-change-transform-100-ease-out-easing: ease-out;
  --ds-motion-motion-component-load-animation-1000-linear-duration: 1000ms;
  --ds-motion-motion-component-load-animation-1000-linear-delay: 0ms;
  --ds-motion-motion-component-load-animation-1000-linear-easing: linear;
  --ds-motion-motion-navigation-state-change-all-200-ease-in-out-duration: 200ms;
  --ds-motion-motion-navigation-state-change-all-200-ease-in-out-delay: 0ms;
  --ds-motion-motion-navigation-state-change-all-200-ease-in-out-easing: ease-in-out;
  --ds-motion-motion-component-state-change-transform-1500-cubic-bezier-165-84-44-1-duration: 1500ms;
  --ds-motion-motion-component-state-change-transform-1500-cubic-bezier-165-84-44-1-delay: 0ms;
  --ds-motion-motion-component-state-change-transform-1500-cubic-bezier-165-84-44-1-easing: cubic-bezier(.165,.84,.44,1);
  --ds-motion-motion-button-hover-backgroundcolor-200-ease-ease-ease-in-out-ease-in-out-duration: 200ms;
  --ds-motion-motion-button-hover-backgroundcolor-200-ease-ease-ease-in-out-ease-in-out-delay: 0ms;
  --ds-motion-motion-button-hover-backgroundcolor-200-ease-ease-ease-in-out-ease-in-out-easing: ease, ease, ease-in-out, ease-in-out;
  --ds-motion-motion-button-focus-backgroundcolor-200-ease-ease-ease-in-out-ease-in-out-duration: 200ms;
  --ds-motion-motion-button-focus-backgroundcolor-200-ease-ease-ease-in-out-ease-in-out-delay: 0ms;
  --ds-motion-motion-button-focus-backgroundcolor-200-ease-ease-ease-in-out-ease-in-out-easing: ease, ease, ease-in-out, ease-in-out;
  --ds-motion-motion-form-hover-style-300-ease-ease-duration: 300ms;
  --ds-motion-motion-form-hover-style-300-ease-ease-delay: 0ms;
  --ds-motion-motion-form-hover-style-300-ease-ease-easing: ease, ease;
  --ds-motion-motion-form-focus-style-300-ease-ease-duration: 300ms;
  --ds-motion-motion-form-focus-style-300-ease-ease-delay: 0ms;
  --ds-motion-motion-form-focus-style-300-ease-ease-easing: ease, ease;
  --ds-motion-motion-form-hover-style-300-ease-in-out-ease-in-out-ease-in-out-duration: 300ms;
  --ds-motion-motion-form-hover-style-300-ease-in-out-ease-in-out-ease-in-out-delay: 0ms;
  --ds-motion-motion-form-hover-style-300-ease-in-out-ease-in-out-ease-in-out-easing: ease-in-out, ease-in-out, ease-in-out;
  --ds-motion-motion-form-focus-style-300-ease-in-out-ease-in-out-ease-in-out-duration: 300ms;
  --ds-motion-motion-form-focus-style-300-ease-in-out-ease-in-out-ease-in-out-delay: 0ms;
  --ds-motion-motion-form-focus-style-300-ease-in-out-ease-in-out-ease-in-out-easing: ease-in-out, ease-in-out, ease-in-out;
}
