:root {
  --ds-color-background: #ffffff;
  --ds-color-supporting-color: #e0f0ff;
  --ds-color-neutral-surface: #e0e0e0;
  --ds-color-supporting-color-2: #b0c0ff;
  --ds-color-accent: #4070ff;
  --ds-color-neutral-surface-2: #c0c0c0;
  --ds-color-foreground: #000000;
  --ds-color-accent-2: #80a0ff;
  --ds-color-neutral-surface-3: #a0a0a0;
  --ds-color-foreground-2: #606060;
  --ds-color-background-2: #fbfbfb;
  --ds-spacing-component: 0px 0px 40px;
  --ds-radius-component: missing;
  --ds-shadow-component: missing;
  --ds-motion-motion-button-hover-color-150-cubic-bezier-0-4-0-0-2-1-duration: 150ms;
  --ds-motion-motion-button-hover-color-150-cubic-bezier-0-4-0-0-2-1-delay: 0ms;
  --ds-motion-motion-button-hover-color-150-cubic-bezier-0-4-0-0-2-1-easing: cubic-bezier(0.4, 0, 0.2, 1);
  --ds-motion-motion-button-focus-color-150-cubic-bezier-0-4-0-0-2-1-duration: 150ms;
  --ds-motion-motion-button-focus-color-150-cubic-bezier-0-4-0-0-2-1-delay: 0ms;
  --ds-motion-motion-button-focus-color-150-cubic-bezier-0-4-0-0-2-1-easing: cubic-bezier(0.4, 0, 0.2, 1);
  --ds-motion-motion-button-hover-color-0-ease-duration: 0ms;
  --ds-motion-motion-button-hover-color-0-ease-delay: 0ms;
  --ds-motion-motion-button-hover-color-0-ease-easing: ease;
  --ds-motion-motion-button-focus-color-0-ease-duration: 0ms;
  --ds-motion-motion-button-focus-color-0-ease-delay: 0ms;
  --ds-motion-motion-button-focus-color-0-ease-easing: ease;
}
