:root {
  --ds-color-foreground: #405050;
  --ds-color-supporting-color: #c0d0e0;
  --ds-color-neutral-surface: #f0e0e0;
  --ds-color-neutral-surface-2: #b0c0c0;
  --ds-color-neutral-surface-3: #707070;
  --ds-color-accent: #90e0f0;
  --ds-color-neutral-surface-4: #a0a0a0;
  --ds-color-supporting-color-2: #806020;
  --ds-color-supporting-color-3: #508080;
  --ds-color-accent-2: #ffc020;
  --ds-color-neutral-surface-5: #f4f1f1;
  --ds-color-neutral-surface-6: #cccccc;
  --ds-spacing-component: 0px 0px 0px 23px;
  --ds-radius-component: 6px 0px 0px 6px;
  --ds-shadow-component: missing;
  --ds-motion-motion-component-load-animation-300-ease-in-duration: 300ms;
  --ds-motion-motion-component-load-animation-300-ease-in-delay: 0ms;
  --ds-motion-motion-component-load-animation-300-ease-in-easing: ease-in;
  --ds-motion-motion-component-load-animation-300-ease-out-duration: 300ms;
  --ds-motion-motion-component-load-animation-300-ease-out-delay: 0ms;
  --ds-motion-motion-component-load-animation-300-ease-out-easing: ease-out;
  --ds-motion-motion-card-load-transform-400-ease-in-out-duration: 400ms;
  --ds-motion-motion-card-load-transform-400-ease-in-out-delay: 0ms;
  --ds-motion-motion-card-load-transform-400-ease-in-out-easing: ease-in-out;
  --ds-motion-motion-card-state-change-color-200-ease-in-out-duration: 200ms;
  --ds-motion-motion-card-state-change-color-200-ease-in-out-delay: 0ms;
  --ds-motion-motion-card-state-change-color-200-ease-in-out-easing: ease-in-out;
  --ds-motion-motion-card-state-change-opacity-200-ease-in-out-duration: 200ms;
  --ds-motion-motion-card-state-change-opacity-200-ease-in-out-delay: 0ms;
  --ds-motion-motion-card-state-change-opacity-200-ease-in-out-easing: ease-in-out;
  --ds-motion-motion-component-state-change-transform-300-ease-duration: 300ms;
  --ds-motion-motion-component-state-change-transform-300-ease-delay: 0ms;
  --ds-motion-motion-component-state-change-transform-300-ease-easing: ease;
  --ds-motion-motion-button-state-change-background-300-ease-duration: 300ms;
  --ds-motion-motion-button-state-change-background-300-ease-delay: 0ms;
  --ds-motion-motion-button-state-change-background-300-ease-easing: ease;
  --ds-motion-motion-component-state-change-all-300-ease-duration: 300ms;
  --ds-motion-motion-component-state-change-all-300-ease-delay: 0ms;
  --ds-motion-motion-component-state-change-all-300-ease-easing: ease;
  --ds-motion-motion-component-state-change-opacity-300-ease-in-out-duration: 300ms;
  --ds-motion-motion-component-state-change-opacity-300-ease-in-out-delay: 0ms;
  --ds-motion-motion-component-state-change-opacity-300-ease-in-out-easing: ease-in-out;
  --ds-motion-motion-navigation-state-change-width-300-ease-out-duration: 300ms;
  --ds-motion-motion-navigation-state-change-width-300-ease-out-delay: 0ms;
  --ds-motion-motion-navigation-state-change-width-300-ease-out-easing: ease-out;
  --ds-motion-motion-card-state-change-width-300-ease-out-duration: 300ms;
  --ds-motion-motion-card-state-change-width-300-ease-out-delay: 0ms;
  --ds-motion-motion-card-state-change-width-300-ease-out-easing: ease-out;
  --ds-motion-motion-navigation-state-change-margin-300-ease-out-duration: 300ms;
  --ds-motion-motion-navigation-state-change-margin-300-ease-out-delay: 0ms;
  --ds-motion-motion-navigation-state-change-margin-300-ease-out-easing: ease-out;
  --ds-motion-motion-component-load-animation-400-ease-out-duration: 400ms;
  --ds-motion-motion-component-load-animation-400-ease-out-delay: 0ms;
  --ds-motion-motion-component-load-animation-400-ease-out-easing: ease-out;
  --ds-motion-motion-button-state-change-transform-200-ease-in-out-duration: 200ms;
  --ds-motion-motion-button-state-change-transform-200-ease-in-out-delay: 0ms;
  --ds-motion-motion-button-state-change-transform-200-ease-in-out-easing: ease-in-out;
  --ds-motion-motion-component-state-change-transform-200-ease-in-out-duration: 200ms;
  --ds-motion-motion-component-state-change-transform-200-ease-in-out-delay: 0ms;
  --ds-motion-motion-component-state-change-transform-200-ease-in-out-easing: ease-in-out;
  --ds-motion-motion-component-load-animation-3000-cubic-bezier-0-2-8-1-duration: 3000ms;
  --ds-motion-motion-component-load-animation-3000-cubic-bezier-0-2-8-1-delay: 0ms;
  --ds-motion-motion-component-load-animation-3000-cubic-bezier-0-2-8-1-easing: cubic-bezier(0,.2,.8,1);
  --ds-motion-motion-component-load-animation-2000-cubic-bezier-0-2-8-1-duration: 2000ms;
  --ds-motion-motion-component-load-animation-2000-cubic-bezier-0-2-8-1-delay: 0ms;
  --ds-motion-motion-component-load-animation-2000-cubic-bezier-0-2-8-1-easing: cubic-bezier(0,.2,.8,1);
  --ds-motion-motion-component-state-change-bottom-300-ease-out-duration: 300ms;
  --ds-motion-motion-component-state-change-bottom-300-ease-out-delay: 0ms;
  --ds-motion-motion-component-state-change-bottom-300-ease-out-easing: ease-out;
  --ds-motion-motion-card-load-animation-500-ease-in-out-duration: 500ms;
  --ds-motion-motion-card-load-animation-500-ease-in-out-delay: 0ms;
  --ds-motion-motion-card-load-animation-500-ease-in-out-easing: ease-in-out;
  --ds-motion-motion-button-state-change-opacity-200-linear-duration: 200ms;
  --ds-motion-motion-button-state-change-opacity-200-linear-delay: 0ms;
  --ds-motion-motion-button-state-change-opacity-200-linear-easing: linear;
  --ds-motion-motion-button-load-animation-2000-linear-duration: 2000ms;
  --ds-motion-motion-button-load-animation-2000-linear-delay: 0ms;
  --ds-motion-motion-button-load-animation-2000-linear-easing: linear;
  --ds-motion-motion-component-state-change-opacity-750-ease-in-out-duration: 750ms;
  --ds-motion-motion-component-state-change-opacity-750-ease-in-out-delay: 0ms;
  --ds-motion-motion-component-state-change-opacity-750-ease-in-out-easing: ease-in-out;
  --ds-motion-motion-component-state-change-opacity-100-ease-in-out-duration: 100ms;
  --ds-motion-motion-component-state-change-opacity-100-ease-in-out-delay: 0ms;
  --ds-motion-motion-component-state-change-opacity-100-ease-in-out-easing: ease-in-out;
  --ds-motion-motion-button-state-change-margin-300-ease-out-duration: 300ms;
  --ds-motion-motion-button-state-change-margin-300-ease-out-delay: 0ms;
  --ds-motion-motion-button-state-change-margin-300-ease-out-easing: ease-out;
  --ds-motion-motion-card-state-change-transform-300-ease-in-out-duration: 300ms;
  --ds-motion-motion-card-state-change-transform-300-ease-in-out-delay: 0ms;
  --ds-motion-motion-card-state-change-transform-300-ease-in-out-easing: ease-in-out;
  --ds-motion-motion-button-hover-backgroundcolor-200-ease-duration: 200ms;
  --ds-motion-motion-button-hover-backgroundcolor-200-ease-delay: 0ms;
  --ds-motion-motion-button-hover-backgroundcolor-200-ease-easing: ease;
  --ds-motion-motion-button-focus-backgroundcolor-200-ease-duration: 200ms;
  --ds-motion-motion-button-focus-backgroundcolor-200-ease-delay: 0ms;
  --ds-motion-motion-button-focus-backgroundcolor-200-ease-easing: ease;
}
