:root {
  --ds-color-background: #ffffff;
  --ds-color-supporting-color: #e0e0ff;
  --ds-color-accent: #5040f0;
  --ds-color-accent-2: #6060ff;
  --ds-color-foreground: #202020;
  --ds-color-supporting-color-2: #707080;
  --ds-color-neutral-surface: #c0c0c0;
  --ds-color-neutral-surface-2: #a0a0a0;
  --ds-color-foreground-2: #404040;
  --ds-color-foreground-3: #606060;
  --ds-color-neutral-surface-3: #e6e6e6;
  --ds-color-foreground-4: #000000;
  --ds-spacing-component: 20px 0px;
  --ds-radius-component: 6px;
  --ds-shadow-component: missing;
  --ds-motion-motion-reveal-viewport-animation-300-cubic-bezier-23-1-32-1-duration: 300ms;
  --ds-motion-motion-reveal-viewport-animation-300-cubic-bezier-23-1-32-1-delay: 0ms;
  --ds-motion-motion-reveal-viewport-animation-300-cubic-bezier-23-1-32-1-easing: cubic-bezier(.23,1,.32,1);
  --ds-motion-motion-overlay-load-animation-200-ease-in-duration: 200ms;
  --ds-motion-motion-overlay-load-animation-200-ease-in-delay: 0ms;
  --ds-motion-motion-overlay-load-animation-200-ease-in-easing: ease-in;
  --ds-motion-motion-overlay-state-change-opacity-100-ease-in-duration: 100ms;
  --ds-motion-motion-overlay-state-change-opacity-100-ease-in-delay: 0ms;
  --ds-motion-motion-overlay-state-change-opacity-100-ease-in-easing: ease-in;
  --ds-motion-motion-component-load-animation-200-ease-in-duration: 200ms;
  --ds-motion-motion-component-load-animation-200-ease-in-delay: 0ms;
  --ds-motion-motion-component-load-animation-200-ease-in-easing: ease-in;
  --ds-motion-motion-component-load-animation-1000-ease-in-out-duration: 1000ms;
  --ds-motion-motion-component-load-animation-1000-ease-in-out-delay: 0ms;
  --ds-motion-motion-component-load-animation-1000-ease-in-out-easing: ease-in-out;
  --ds-motion-motion-reveal-viewport-animation-1500-cubic-bezier-4-0-6-1-duration: 1500ms;
  --ds-motion-motion-reveal-viewport-animation-1500-cubic-bezier-4-0-6-1-delay: 0ms;
  --ds-motion-motion-reveal-viewport-animation-1500-cubic-bezier-4-0-6-1-easing: cubic-bezier(.4,0,.6,1);
  --ds-motion-motion-reveal-viewport-animation-1000-linear-duration: 1000ms;
  --ds-motion-motion-reveal-viewport-animation-1000-linear-delay: 0ms;
  --ds-motion-motion-reveal-viewport-animation-1000-linear-easing: linear;
  --ds-motion-motion-component-state-change-color-500-cubic-bezier-0-0-2-1-duration: 500ms;
  --ds-motion-motion-component-state-change-color-500-cubic-bezier-0-0-2-1-delay: 0ms;
  --ds-motion-motion-component-state-change-color-500-cubic-bezier-0-0-2-1-easing: cubic-bezier(0,0,.2,1);
  --ds-motion-motion-component-state-change-background-color-500-cubic-bezier-0-0-2-1-duration: 500ms;
  --ds-motion-motion-component-state-change-background-color-500-cubic-bezier-0-0-2-1-delay: 0ms;
  --ds-motion-motion-component-state-change-background-color-500-cubic-bezier-0-0-2-1-easing: cubic-bezier(0,0,.2,1);
  --ds-motion-motion-component-state-change-border-color-500-cubic-bezier-0-0-2-1-duration: 500ms;
  --ds-motion-motion-component-state-change-border-color-500-cubic-bezier-0-0-2-1-delay: 0ms;
  --ds-motion-motion-component-state-change-border-color-500-cubic-bezier-0-0-2-1-easing: cubic-bezier(0,0,.2,1);
  --ds-motion-motion-component-state-change-outline-color-500-cubic-bezier-0-0-2-1-duration: 500ms;
  --ds-motion-motion-component-state-change-outline-color-500-cubic-bezier-0-0-2-1-delay: 0ms;
  --ds-motion-motion-component-state-change-outline-color-500-cubic-bezier-0-0-2-1-easing: cubic-bezier(0,0,.2,1);
  --ds-motion-motion-component-state-change-text-decoration-color-500-cubic-bezier-0-0-2-1-duration: 500ms;
  --ds-motion-motion-component-state-change-text-decoration-color-500-cubic-bezier-0-0-2-1-delay: 0ms;
  --ds-motion-motion-component-state-change-text-decoration-color-500-cubic-bezier-0-0-2-1-easing: cubic-bezier(0,0,.2,1);
  --ds-motion-motion-component-state-change-fill-500-cubic-bezier-0-0-2-1-duration: 500ms;
  --ds-motion-motion-component-state-change-fill-500-cubic-bezier-0-0-2-1-delay: 0ms;
  --ds-motion-motion-component-state-change-fill-500-cubic-bezier-0-0-2-1-easing: cubic-bezier(0,0,.2,1);
  --ds-motion-motion-component-state-change-stroke-500-cubic-bezier-0-0-2-1-duration: 500ms;
  --ds-motion-motion-component-state-change-stroke-500-cubic-bezier-0-0-2-1-delay: 0ms;
  --ds-motion-motion-component-state-change-stroke-500-cubic-bezier-0-0-2-1-easing: cubic-bezier(0,0,.2,1);
  --ds-motion-motion-component-state-change-tw-gradient-from-500-cubic-bezier-0-0-2-1-duration: 500ms;
  --ds-motion-motion-component-state-change-tw-gradient-from-500-cubic-bezier-0-0-2-1-delay: 0ms;
  --ds-motion-motion-component-state-change-tw-gradient-from-500-cubic-bezier-0-0-2-1-easing: cubic-bezier(0,0,.2,1);
  --ds-motion-motion-component-state-change-tw-gradient-via-500-cubic-bezier-0-0-2-1-duration: 500ms;
  --ds-motion-motion-component-state-change-tw-gradient-via-500-cubic-bezier-0-0-2-1-delay: 0ms;
  --ds-motion-motion-component-state-change-tw-gradient-via-500-cubic-bezier-0-0-2-1-easing: cubic-bezier(0,0,.2,1);
  --ds-motion-motion-component-state-change-tw-gradient-to-500-cubic-bezier-0-0-2-1-duration: 500ms;
  --ds-motion-motion-component-state-change-tw-gradient-to-500-cubic-bezier-0-0-2-1-delay: 0ms;
  --ds-motion-motion-component-state-change-tw-gradient-to-500-cubic-bezier-0-0-2-1-easing: cubic-bezier(0,0,.2,1);
  --ds-motion-motion-component-state-change-opacity-500-cubic-bezier-0-0-2-1-duration: 500ms;
  --ds-motion-motion-component-state-change-opacity-500-cubic-bezier-0-0-2-1-delay: 0ms;
  --ds-motion-motion-component-state-change-opacity-500-cubic-bezier-0-0-2-1-easing: cubic-bezier(0,0,.2,1);
  --ds-motion-motion-component-state-change-box-shadow-500-cubic-bezier-0-0-2-1-duration: 500ms;
  --ds-motion-motion-component-state-change-box-shadow-500-cubic-bezier-0-0-2-1-delay: 0ms;
  --ds-motion-motion-component-state-change-box-shadow-500-cubic-bezier-0-0-2-1-easing: cubic-bezier(0,0,.2,1);
  --ds-motion-motion-component-state-change-transform-500-cubic-bezier-0-0-2-1-duration: 500ms;
  --ds-motion-motion-component-state-change-transform-500-cubic-bezier-0-0-2-1-delay: 0ms;
  --ds-motion-motion-component-state-change-transform-500-cubic-bezier-0-0-2-1-easing: cubic-bezier(0,0,.2,1);
  --ds-motion-motion-component-state-change-translate-500-cubic-bezier-0-0-2-1-duration: 500ms;
  --ds-motion-motion-component-state-change-translate-500-cubic-bezier-0-0-2-1-delay: 0ms;
  --ds-motion-motion-component-state-change-translate-500-cubic-bezier-0-0-2-1-easing: cubic-bezier(0,0,.2,1);
  --ds-motion-motion-component-state-change-scale-500-cubic-bezier-0-0-2-1-duration: 500ms;
  --ds-motion-motion-component-state-change-scale-500-cubic-bezier-0-0-2-1-delay: 0ms;
  --ds-motion-motion-component-state-change-scale-500-cubic-bezier-0-0-2-1-easing: cubic-bezier(0,0,.2,1);
  --ds-motion-motion-component-state-change-rotate-500-cubic-bezier-0-0-2-1-duration: 500ms;
  --ds-motion-motion-component-state-change-rotate-500-cubic-bezier-0-0-2-1-delay: 0ms;
  --ds-motion-motion-component-state-change-rotate-500-cubic-bezier-0-0-2-1-easing: cubic-bezier(0,0,.2,1);
  --ds-motion-motion-component-state-change-filter-500-cubic-bezier-0-0-2-1-duration: 500ms;
  --ds-motion-motion-component-state-change-filter-500-cubic-bezier-0-0-2-1-delay: 0ms;
  --ds-motion-motion-component-state-change-filter-500-cubic-bezier-0-0-2-1-easing: cubic-bezier(0,0,.2,1);
  --ds-motion-motion-component-state-change-webkit-backdrop-filter-500-cubic-bezier-0-0-2-1-duration: 500ms;
  --ds-motion-motion-component-state-change-webkit-backdrop-filter-500-cubic-bezier-0-0-2-1-delay: 0ms;
  --ds-motion-motion-component-state-change-webkit-backdrop-filter-500-cubic-bezier-0-0-2-1-easing: cubic-bezier(0,0,.2,1);
  --ds-motion-motion-component-state-change-backdrop-filter-500-cubic-bezier-0-0-2-1-duration: 500ms;
  --ds-motion-motion-component-state-change-backdrop-filter-500-cubic-bezier-0-0-2-1-delay: 0ms;
  --ds-motion-motion-component-state-change-backdrop-filter-500-cubic-bezier-0-0-2-1-easing: cubic-bezier(0,0,.2,1);
  --ds-motion-motion-component-state-change-display-500-cubic-bezier-0-0-2-1-duration: 500ms;
  --ds-motion-motion-component-state-change-display-500-cubic-bezier-0-0-2-1-delay: 0ms;
  --ds-motion-motion-component-state-change-display-500-cubic-bezier-0-0-2-1-easing: cubic-bezier(0,0,.2,1);
  --ds-motion-motion-component-state-change-visibility-500-cubic-bezier-0-0-2-1-duration: 500ms;
  --ds-motion-motion-component-state-change-visibility-500-cubic-bezier-0-0-2-1-delay: 0ms;
  --ds-motion-motion-component-state-change-visibility-500-cubic-bezier-0-0-2-1-easing: cubic-bezier(0,0,.2,1);
  --ds-motion-motion-component-state-change-content-visibility-500-cubic-bezier-0-0-2-1-duration: 500ms;
  --ds-motion-motion-component-state-change-content-visibility-500-cubic-bezier-0-0-2-1-delay: 0ms;
  --ds-motion-motion-component-state-change-content-visibility-500-cubic-bezier-0-0-2-1-easing: cubic-bezier(0,0,.2,1);
  --ds-motion-motion-component-state-change-overlay-500-cubic-bezier-0-0-2-1-duration: 500ms;
  --ds-motion-motion-component-state-change-overlay-500-cubic-bezier-0-0-2-1-delay: 0ms;
  --ds-motion-motion-component-state-change-overlay-500-cubic-bezier-0-0-2-1-easing: cubic-bezier(0,0,.2,1);
  --ds-motion-motion-component-state-change-pointer-events-500-cubic-bezier-0-0-2-1-duration: 500ms;
  --ds-motion-motion-component-state-change-pointer-events-500-cubic-bezier-0-0-2-1-delay: 0ms;
  --ds-motion-motion-component-state-change-pointer-events-500-cubic-bezier-0-0-2-1-easing: cubic-bezier(0,0,.2,1);
  --ds-motion-motion-component-state-change-height-500-cubic-bezier-0-0-2-1-duration: 500ms;
  --ds-motion-motion-component-state-change-height-500-cubic-bezier-0-0-2-1-delay: 0ms;
  --ds-motion-motion-component-state-change-height-500-cubic-bezier-0-0-2-1-easing: cubic-bezier(0,0,.2,1);
  --ds-motion-motion-component-state-change-width-500-cubic-bezier-0-0-2-1-duration: 500ms;
  --ds-motion-motion-component-state-change-width-500-cubic-bezier-0-0-2-1-delay: 0ms;
  --ds-motion-motion-component-state-change-width-500-cubic-bezier-0-0-2-1-easing: cubic-bezier(0,0,.2,1);
  --ds-motion-motion-component-state-change-all-500-cubic-bezier-0-0-2-1-duration: 500ms;
  --ds-motion-motion-component-state-change-all-500-cubic-bezier-0-0-2-1-delay: 0ms;
  --ds-motion-motion-component-state-change-all-500-cubic-bezier-0-0-2-1-easing: cubic-bezier(0,0,.2,1);
  --ds-motion-motion-navigation-focus-boxshadow-0-ease-duration: 0ms;
  --ds-motion-motion-navigation-focus-boxshadow-0-ease-delay: 0ms;
  --ds-motion-motion-navigation-focus-boxshadow-0-ease-easing: ease;
  --ds-motion-motion-navigation-hover-color-100-ease-in-duration: 100ms;
  --ds-motion-motion-navigation-hover-color-100-ease-in-delay: 0ms;
  --ds-motion-motion-navigation-hover-color-100-ease-in-easing: ease-in;
  --ds-motion-motion-navigation-focus-color-100-ease-in-duration: 100ms;
  --ds-motion-motion-navigation-focus-color-100-ease-in-delay: 0ms;
  --ds-motion-motion-navigation-focus-color-100-ease-in-easing: ease-in;
  --ds-motion-motion-button-hover-backgroundcolor-150-cubic-bezier-0-4-0-0-2-1-duration: 150ms;
  --ds-motion-motion-button-hover-backgroundcolor-150-cubic-bezier-0-4-0-0-2-1-delay: 0ms;
  --ds-motion-motion-button-hover-backgroundcolor-150-cubic-bezier-0-4-0-0-2-1-easing: cubic-bezier(0.4, 0, 0.2, 1);
  --ds-motion-motion-button-focus-backgroundcolor-150-cubic-bezier-0-4-0-0-2-1-duration: 150ms;
  --ds-motion-motion-button-focus-backgroundcolor-150-cubic-bezier-0-4-0-0-2-1-delay: 0ms;
  --ds-motion-motion-button-focus-backgroundcolor-150-cubic-bezier-0-4-0-0-2-1-easing: cubic-bezier(0.4, 0, 0.2, 1);
  --ds-motion-motion-button-focus-boxshadow-0-ease-duration: 0ms;
  --ds-motion-motion-button-focus-boxshadow-0-ease-delay: 0ms;
  --ds-motion-motion-button-focus-boxshadow-0-ease-easing: ease;
}
