:root {
  --ds-color-background: #ffffff;
  --ds-color-foreground: #606060;
  --ds-color-foreground-2: #202020;
  --ds-color-foreground-3: #404040;
  --ds-color-deep-accent: #100000;
  --ds-color-neutral-surface: #c0c0c0;
  --ds-color-neutral-surface-2: #b0b0a0;
  --ds-color-deep-accent-2: #403020;
  --ds-color-deep-accent-3: #402000;
  --ds-color-deep-accent-4: #605040;
  --ds-spacing-component: 15.68px 10px 11.2px;
  --ds-radius-component: missing;
  --ds-shadow-component: rgb(0, 0, 0) 0px 0px 0px 1px inset;
  --ds-motion-motion-card-state-change-transform-250-ease-out-duration: 250ms;
  --ds-motion-motion-card-state-change-transform-250-ease-out-delay: 0ms;
  --ds-motion-motion-card-state-change-transform-250-ease-out-easing: ease-out;
  --ds-motion-motion-card-state-change-box-shadow-250-ease-out-duration: 250ms;
  --ds-motion-motion-card-state-change-box-shadow-250-ease-out-delay: 0ms;
  --ds-motion-motion-card-state-change-box-shadow-250-ease-out-easing: ease-out;
  --ds-motion-motion-button-state-change-opacity-300-ease-duration: 300ms;
  --ds-motion-motion-button-state-change-opacity-300-ease-delay: 0ms;
  --ds-motion-motion-button-state-change-opacity-300-ease-easing: ease;
  --ds-motion-motion-component-state-change-opacity-300-ease-duration: 300ms;
  --ds-motion-motion-component-state-change-opacity-300-ease-delay: 0ms;
  --ds-motion-motion-component-state-change-opacity-300-ease-easing: ease;
  --ds-motion-motion-component-state-change-background-100-linear-duration: 100ms;
  --ds-motion-motion-component-state-change-background-100-linear-delay: 0ms;
  --ds-motion-motion-component-state-change-background-100-linear-easing: linear;
  --ds-motion-motion-button-state-change-background-200-ease-in-out-duration: 200ms;
  --ds-motion-motion-button-state-change-background-200-ease-in-out-delay: 0ms;
  --ds-motion-motion-button-state-change-background-200-ease-in-out-easing: ease-in-out;
  --ds-motion-motion-component-state-change-opacity-500-ease-in-out-duration: 500ms;
  --ds-motion-motion-component-state-change-opacity-500-ease-in-out-delay: 0ms;
  --ds-motion-motion-component-state-change-opacity-500-ease-in-out-easing: ease-in-out;
  --ds-motion-motion-component-load-animation-1000-linear-duration: 1000ms;
  --ds-motion-motion-component-load-animation-1000-linear-delay: 0ms;
  --ds-motion-motion-component-load-animation-1000-linear-easing: linear;
  --ds-motion-motion-component-load-animation-2000-linear-duration: 2000ms;
  --ds-motion-motion-component-load-animation-2000-linear-delay: 0ms;
  --ds-motion-motion-component-load-animation-2000-linear-easing: linear;
  --ds-motion-motion-navigation-hover-style-125-ease-in-out-duration: 125ms;
  --ds-motion-motion-navigation-hover-style-125-ease-in-out-delay: 0ms;
  --ds-motion-motion-navigation-hover-style-125-ease-in-out-easing: ease-in-out;
  --ds-motion-motion-navigation-focus-style-125-ease-in-out-duration: 125ms;
  --ds-motion-motion-navigation-focus-style-125-ease-in-out-delay: 0ms;
  --ds-motion-motion-navigation-focus-style-125-ease-in-out-easing: ease-in-out;
  --ds-motion-motion-navigation-hover-color-125-ease-in-out-duration: 125ms;
  --ds-motion-motion-navigation-hover-color-125-ease-in-out-delay: 0ms;
  --ds-motion-motion-navigation-hover-color-125-ease-in-out-easing: ease-in-out;
  --ds-motion-motion-navigation-focus-color-125-ease-in-out-duration: 125ms;
  --ds-motion-motion-navigation-focus-color-125-ease-in-out-delay: 0ms;
  --ds-motion-motion-navigation-focus-color-125-ease-in-out-easing: ease-in-out;
  --ds-motion-motion-button-hover-style-125-ease-in-out-duration: 125ms;
  --ds-motion-motion-button-hover-style-125-ease-in-out-delay: 0ms;
  --ds-motion-motion-button-hover-style-125-ease-in-out-easing: ease-in-out;
  --ds-motion-motion-button-focus-style-125-ease-in-out-duration: 125ms;
  --ds-motion-motion-button-focus-style-125-ease-in-out-delay: 0ms;
  --ds-motion-motion-button-focus-style-125-ease-in-out-easing: ease-in-out;
  --ds-motion-motion-button-hover-color-125-ease-in-out-ease-in-out-duration: 125ms;
  --ds-motion-motion-button-hover-color-125-ease-in-out-ease-in-out-delay: 0ms;
  --ds-motion-motion-button-hover-color-125-ease-in-out-ease-in-out-easing: ease-in-out, ease-in-out;
  --ds-motion-motion-button-focus-color-125-ease-in-out-ease-in-out-duration: 125ms;
  --ds-motion-motion-button-focus-color-125-ease-in-out-ease-in-out-delay: 0ms;
  --ds-motion-motion-button-focus-color-125-ease-in-out-ease-in-out-easing: ease-in-out, ease-in-out;
}
