:root {
  --ds-color-neutral-surface: #f0f0f0;
  --ds-color-accent: #30d0c0;
  --ds-color-foreground: #202020;
  --ds-color-deep-accent: #204040;
  --ds-color-deep-accent-2: #207060;
  --ds-color-supporting-color: #20a090;
  --ds-color-foreground-2: #505050;
  --ds-color-accent-2: #4060c0;
  --ds-color-neutral-surface-2: #c0c0c0;
  --ds-color-neutral-surface-3: #a0a0a0;
  --ds-color-background: #ffffff;
  --ds-color-accent-3: #ffe89d;
  --ds-spacing-component: 8px;
  --ds-radius-component: missing;
  --ds-shadow-component: missing;
  --ds-motion-motion-component-state-change-color-150-ease-in-duration: 150ms;
  --ds-motion-motion-component-state-change-color-150-ease-in-delay: 0ms;
  --ds-motion-motion-component-state-change-color-150-ease-in-easing: ease-in;
  --ds-motion-motion-component-active-color-150-ease-in-duration: 150ms;
  --ds-motion-motion-component-active-color-150-ease-in-delay: 0ms;
  --ds-motion-motion-component-active-color-150-ease-in-easing: ease-in;
  --ds-motion-motion-component-focus-color-150-ease-in-duration: 150ms;
  --ds-motion-motion-component-focus-color-150-ease-in-delay: 0ms;
  --ds-motion-motion-component-focus-color-150-ease-in-easing: ease-in;
  --ds-motion-motion-component-hover-color-150-ease-in-duration: 150ms;
  --ds-motion-motion-component-hover-color-150-ease-in-delay: 0ms;
  --ds-motion-motion-component-hover-color-150-ease-in-easing: ease-in;
  --ds-motion-motion-component-state-change-opacity-150-ease-in-duration: 150ms;
  --ds-motion-motion-component-state-change-opacity-150-ease-in-delay: 0ms;
  --ds-motion-motion-component-state-change-opacity-150-ease-in-easing: ease-in;
  --ds-motion-motion-component-focus-opacity-150-ease-in-duration: 150ms;
  --ds-motion-motion-component-focus-opacity-150-ease-in-delay: 0ms;
  --ds-motion-motion-component-focus-opacity-150-ease-in-easing: ease-in;
  --ds-motion-motion-component-hover-opacity-150-ease-in-duration: 150ms;
  --ds-motion-motion-component-hover-opacity-150-ease-in-delay: 0ms;
  --ds-motion-motion-component-hover-opacity-150-ease-in-easing: ease-in;
  --ds-motion-motion-component-active-opacity-150-ease-out-duration: 150ms;
  --ds-motion-motion-component-active-opacity-150-ease-out-delay: 0ms;
  --ds-motion-motion-component-active-opacity-150-ease-out-easing: ease-out;
  --ds-motion-motion-component-active-opacity-150-ease-in-duration: 150ms;
  --ds-motion-motion-component-active-opacity-150-ease-in-delay: 0ms;
  --ds-motion-motion-component-active-opacity-150-ease-in-easing: ease-in;
  --ds-motion-motion-component-state-change-transform-250-ease-out-duration: 250ms;
  --ds-motion-motion-component-state-change-transform-250-ease-out-delay: 0ms;
  --ds-motion-motion-component-state-change-transform-250-ease-out-easing: ease-out;
  --ds-motion-motion-component-state-change-transform-250-ease-in-out-duration: 250ms;
  --ds-motion-motion-component-state-change-transform-250-ease-in-out-delay: 0ms;
  --ds-motion-motion-component-state-change-transform-250-ease-in-out-easing: ease-in-out;
  --ds-motion-motion-component-state-change-all-500-cubic-bezier-165-84-44-1-duration: 500ms;
  --ds-motion-motion-component-state-change-all-500-cubic-bezier-165-84-44-1-delay: 0ms;
  --ds-motion-motion-component-state-change-all-500-cubic-bezier-165-84-44-1-easing: cubic-bezier(.165,.84,.44,1);
  --ds-motion-motion-component-state-change-opacity-500-cubic-bezier-165-84-44-1-duration: 500ms;
  --ds-motion-motion-component-state-change-opacity-500-cubic-bezier-165-84-44-1-delay: 0ms;
  --ds-motion-motion-component-state-change-opacity-500-cubic-bezier-165-84-44-1-easing: cubic-bezier(.165,.84,.44,1);
  --ds-motion-motion-reveal-viewport-background-color-150-ease-in-out-duration: 150ms;
  --ds-motion-motion-reveal-viewport-background-color-150-ease-in-out-delay: 0ms;
  --ds-motion-motion-reveal-viewport-background-color-150-ease-in-out-easing: ease-in-out;
  --ds-motion-motion-reveal-focus-background-color-150-ease-in-out-duration: 150ms;
  --ds-motion-motion-reveal-focus-background-color-150-ease-in-out-delay: 0ms;
  --ds-motion-motion-reveal-focus-background-color-150-ease-in-out-easing: ease-in-out;
  --ds-motion-motion-reveal-hover-background-color-150-ease-in-out-duration: 150ms;
  --ds-motion-motion-reveal-hover-background-color-150-ease-in-out-delay: 0ms;
  --ds-motion-motion-reveal-hover-background-color-150-ease-in-out-easing: ease-in-out;
  --ds-motion-motion-component-state-change-opacity-150-cubic-bezier-165-84-44-1-duration: 150ms;
  --ds-motion-motion-component-state-change-opacity-150-cubic-bezier-165-84-44-1-delay: 0ms;
  --ds-motion-motion-component-state-change-opacity-150-cubic-bezier-165-84-44-1-easing: cubic-bezier(.165,.84,.44,1);
  --ds-motion-motion-component-state-change-height-150-cubic-bezier-4-0-2-1-duration: 150ms;
  --ds-motion-motion-component-state-change-height-150-cubic-bezier-4-0-2-1-delay: 0ms;
  --ds-motion-motion-component-state-change-height-150-cubic-bezier-4-0-2-1-easing: cubic-bezier(.4,0,.2,1);
  --ds-motion-motion-component-state-change-all-150-cubic-bezier-4-0-2-1-duration: 150ms;
  --ds-motion-motion-component-state-change-all-150-cubic-bezier-4-0-2-1-delay: 0ms;
  --ds-motion-motion-component-state-change-all-150-cubic-bezier-4-0-2-1-easing: cubic-bezier(.4,0,.2,1);
  --ds-motion-motion-component-state-change-color-150-cubic-bezier-4-0-2-1-duration: 150ms;
  --ds-motion-motion-component-state-change-color-150-cubic-bezier-4-0-2-1-delay: 0ms;
  --ds-motion-motion-component-state-change-color-150-cubic-bezier-4-0-2-1-easing: cubic-bezier(.4,0,.2,1);
  --ds-motion-motion-component-state-change-background-color-150-cubic-bezier-4-0-2-1-duration: 150ms;
  --ds-motion-motion-component-state-change-background-color-150-cubic-bezier-4-0-2-1-delay: 0ms;
  --ds-motion-motion-component-state-change-background-color-150-cubic-bezier-4-0-2-1-easing: cubic-bezier(.4,0,.2,1);
  --ds-motion-motion-component-state-change-border-color-150-cubic-bezier-4-0-2-1-duration: 150ms;
  --ds-motion-motion-component-state-change-border-color-150-cubic-bezier-4-0-2-1-delay: 0ms;
  --ds-motion-motion-component-state-change-border-color-150-cubic-bezier-4-0-2-1-easing: cubic-bezier(.4,0,.2,1);
  --ds-motion-motion-component-state-change-text-decoration-color-150-cubic-bezier-4-0-2-1-duration: 150ms;
  --ds-motion-motion-component-state-change-text-decoration-color-150-cubic-bezier-4-0-2-1-delay: 0ms;
  --ds-motion-motion-component-state-change-text-decoration-color-150-cubic-bezier-4-0-2-1-easing: cubic-bezier(.4,0,.2,1);
  --ds-motion-motion-component-state-change-fill-150-cubic-bezier-4-0-2-1-duration: 150ms;
  --ds-motion-motion-component-state-change-fill-150-cubic-bezier-4-0-2-1-delay: 0ms;
  --ds-motion-motion-component-state-change-fill-150-cubic-bezier-4-0-2-1-easing: cubic-bezier(.4,0,.2,1);
  --ds-motion-motion-component-state-change-stroke-150-cubic-bezier-4-0-2-1-duration: 150ms;
  --ds-motion-motion-component-state-change-stroke-150-cubic-bezier-4-0-2-1-delay: 0ms;
  --ds-motion-motion-component-state-change-stroke-150-cubic-bezier-4-0-2-1-easing: cubic-bezier(.4,0,.2,1);
  --ds-motion-motion-component-state-change-opacity-150-cubic-bezier-4-0-2-1-duration: 150ms;
  --ds-motion-motion-component-state-change-opacity-150-cubic-bezier-4-0-2-1-delay: 0ms;
  --ds-motion-motion-component-state-change-opacity-150-cubic-bezier-4-0-2-1-easing: cubic-bezier(.4,0,.2,1);
  --ds-motion-motion-component-state-change-transform-150-cubic-bezier-4-0-2-1-duration: 150ms;
  --ds-motion-motion-component-state-change-transform-150-cubic-bezier-4-0-2-1-delay: 0ms;
  --ds-motion-motion-component-state-change-transform-150-cubic-bezier-4-0-2-1-easing: cubic-bezier(.4,0,.2,1);
  --ds-motion-motion-button-hover-backgroundcolor-200-ease-in-out-ease-in-out-duration: 200ms;
  --ds-motion-motion-button-hover-backgroundcolor-200-ease-in-out-ease-in-out-delay: 0ms;
  --ds-motion-motion-button-hover-backgroundcolor-200-ease-in-out-ease-in-out-easing: ease-in-out, ease-in-out;
  --ds-motion-motion-button-focus-backgroundcolor-200-ease-in-out-ease-in-out-duration: 200ms;
  --ds-motion-motion-button-focus-backgroundcolor-200-ease-in-out-ease-in-out-delay: 0ms;
  --ds-motion-motion-button-focus-backgroundcolor-200-ease-in-out-ease-in-out-easing: ease-in-out, ease-in-out;
}
