:root {
  --ds-color-background: #ffffff;
  --ds-color-foreground: #505050;
  --ds-color-neutral-surface: #a0a0a0;
  --ds-color-neutral-surface-2: #808080;
  --ds-color-neutral-surface-3: #d0d0d0;
  --ds-color-foreground-2: #101010;
  --ds-color-accent: #70e0b0;
  --ds-color-foreground-3: #303030;
  --ds-color-supporting-color: #d0f0e0;
  --ds-color-accent-2: #40d090;
  --ds-color-foreground-4: #000000;
  --ds-color-foreground-5: #171717;
  --ds-spacing-component: 0px 0px 0px 32px;
  --ds-radius-component: 6px;
  --ds-shadow-component: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
  --ds-motion-motion-reveal-viewport-animation-1-cubic-bezier-0-0-2-1-duration: 1ms;
  --ds-motion-motion-reveal-viewport-animation-1-cubic-bezier-0-0-2-1-delay: 0ms;
  --ds-motion-motion-reveal-viewport-animation-1-cubic-bezier-0-0-2-1-easing: cubic-bezier(0,0,.2,1);
  --ds-motion-motion-reveal-viewport-animation-500-cubic-bezier-25-25-0-1-duration: 500ms;
  --ds-motion-motion-reveal-viewport-animation-500-cubic-bezier-25-25-0-1-delay: 500ms;
  --ds-motion-motion-reveal-viewport-animation-500-cubic-bezier-25-25-0-1-easing: cubic-bezier(.25,.25,0,1);
  --ds-motion-motion-reveal-viewport-animation-30000-linear-duration: 30000ms;
  --ds-motion-motion-reveal-viewport-animation-30000-linear-delay: 0ms;
  --ds-motion-motion-reveal-viewport-animation-30000-linear-easing: linear;
  --ds-motion-motion-reveal-viewport-animation-40000-linear-duration: 40000ms;
  --ds-motion-motion-reveal-viewport-animation-40000-linear-delay: 0ms;
  --ds-motion-motion-reveal-viewport-animation-40000-linear-easing: linear;
  --ds-motion-motion-reveal-viewport-animation-90000-linear-duration: 90000ms;
  --ds-motion-motion-reveal-viewport-animation-90000-linear-delay: 0ms;
  --ds-motion-motion-reveal-viewport-animation-90000-linear-easing: linear;
  --ds-motion-motion-reveal-viewport-animation-600-cubic-bezier-4-0-6-1-duration: 600ms;
  --ds-motion-motion-reveal-viewport-animation-600-cubic-bezier-4-0-6-1-delay: 0ms;
  --ds-motion-motion-reveal-viewport-animation-600-cubic-bezier-4-0-6-1-easing: cubic-bezier(.4,0,.6,1);
  --ds-motion-motion-reveal-viewport-animation-3000-cubic-bezier-5-2-5-8-duration: 3000ms;
  --ds-motion-motion-reveal-viewport-animation-3000-cubic-bezier-5-2-5-8-delay: 0ms;
  --ds-motion-motion-reveal-viewport-animation-3000-cubic-bezier-5-2-5-8-easing: cubic-bezier(.5,.2,.5,.8);
  --ds-motion-motion-reveal-viewport-animation-1250-ease-out-duration: 1250ms;
  --ds-motion-motion-reveal-viewport-animation-1250-ease-out-delay: 0ms;
  --ds-motion-motion-reveal-viewport-animation-1250-ease-out-easing: ease-out;
  --ds-motion-motion-reveal-viewport-animation-35000-linear-duration: 35000ms;
  --ds-motion-motion-reveal-viewport-animation-35000-linear-delay: 0ms;
  --ds-motion-motion-reveal-viewport-animation-35000-linear-easing: linear;
  --ds-motion-motion-reveal-viewport-animation-180000-linear-duration: 180000ms;
  --ds-motion-motion-reveal-viewport-animation-180000-linear-delay: 0ms;
  --ds-motion-motion-reveal-viewport-animation-180000-linear-easing: linear;
  --ds-motion-motion-reveal-viewport-animation-2000-cubic-bezier-4-0-6-1-duration: 2000ms;
  --ds-motion-motion-reveal-viewport-animation-2000-cubic-bezier-4-0-6-1-delay: 0ms;
  --ds-motion-motion-reveal-viewport-animation-2000-cubic-bezier-4-0-6-1-easing: cubic-bezier(.4,0,.6,1);
  --ds-motion-motion-reveal-viewport-animation-250-ease-in-duration: 250ms;
  --ds-motion-motion-reveal-viewport-animation-250-ease-in-delay: 0ms;
  --ds-motion-motion-reveal-viewport-animation-250-ease-in-easing: ease-in;
  --ds-motion-motion-reveal-viewport-animation-1000-linear-duration: 1000ms;
  --ds-motion-motion-reveal-viewport-animation-1000-linear-delay: 0ms;
  --ds-motion-motion-reveal-viewport-animation-1000-linear-easing: linear;
  --ds-motion-motion-component-state-change-color-300-cubic-bezier-0-0-2-1-duration: 300ms;
  --ds-motion-motion-component-state-change-color-300-cubic-bezier-0-0-2-1-delay: 0ms;
  --ds-motion-motion-component-state-change-color-300-cubic-bezier-0-0-2-1-easing: cubic-bezier(0,0,.2,1);
  --ds-motion-motion-component-state-change-background-color-300-cubic-bezier-0-0-2-1-duration: 300ms;
  --ds-motion-motion-component-state-change-background-color-300-cubic-bezier-0-0-2-1-delay: 0ms;
  --ds-motion-motion-component-state-change-background-color-300-cubic-bezier-0-0-2-1-easing: cubic-bezier(0,0,.2,1);
  --ds-motion-motion-component-state-change-border-color-300-cubic-bezier-0-0-2-1-duration: 300ms;
  --ds-motion-motion-component-state-change-border-color-300-cubic-bezier-0-0-2-1-delay: 0ms;
  --ds-motion-motion-component-state-change-border-color-300-cubic-bezier-0-0-2-1-easing: cubic-bezier(0,0,.2,1);
  --ds-motion-motion-component-state-change-outline-color-300-cubic-bezier-0-0-2-1-duration: 300ms;
  --ds-motion-motion-component-state-change-outline-color-300-cubic-bezier-0-0-2-1-delay: 0ms;
  --ds-motion-motion-component-state-change-outline-color-300-cubic-bezier-0-0-2-1-easing: cubic-bezier(0,0,.2,1);
  --ds-motion-motion-component-state-change-text-decoration-color-300-cubic-bezier-0-0-2-1-duration: 300ms;
  --ds-motion-motion-component-state-change-text-decoration-color-300-cubic-bezier-0-0-2-1-delay: 0ms;
  --ds-motion-motion-component-state-change-text-decoration-color-300-cubic-bezier-0-0-2-1-easing: cubic-bezier(0,0,.2,1);
  --ds-motion-motion-component-state-change-fill-300-cubic-bezier-0-0-2-1-duration: 300ms;
  --ds-motion-motion-component-state-change-fill-300-cubic-bezier-0-0-2-1-delay: 0ms;
  --ds-motion-motion-component-state-change-fill-300-cubic-bezier-0-0-2-1-easing: cubic-bezier(0,0,.2,1);
  --ds-motion-motion-component-state-change-stroke-300-cubic-bezier-0-0-2-1-duration: 300ms;
  --ds-motion-motion-component-state-change-stroke-300-cubic-bezier-0-0-2-1-delay: 0ms;
  --ds-motion-motion-component-state-change-stroke-300-cubic-bezier-0-0-2-1-easing: cubic-bezier(0,0,.2,1);
  --ds-motion-motion-component-state-change-tw-gradient-from-300-cubic-bezier-0-0-2-1-duration: 300ms;
  --ds-motion-motion-component-state-change-tw-gradient-from-300-cubic-bezier-0-0-2-1-delay: 0ms;
  --ds-motion-motion-component-state-change-tw-gradient-from-300-cubic-bezier-0-0-2-1-easing: cubic-bezier(0,0,.2,1);
  --ds-motion-motion-component-state-change-tw-gradient-via-300-cubic-bezier-0-0-2-1-duration: 300ms;
  --ds-motion-motion-component-state-change-tw-gradient-via-300-cubic-bezier-0-0-2-1-delay: 0ms;
  --ds-motion-motion-component-state-change-tw-gradient-via-300-cubic-bezier-0-0-2-1-easing: cubic-bezier(0,0,.2,1);
  --ds-motion-motion-component-state-change-tw-gradient-to-300-cubic-bezier-0-0-2-1-duration: 300ms;
  --ds-motion-motion-component-state-change-tw-gradient-to-300-cubic-bezier-0-0-2-1-delay: 0ms;
  --ds-motion-motion-component-state-change-tw-gradient-to-300-cubic-bezier-0-0-2-1-easing: cubic-bezier(0,0,.2,1);
  --ds-motion-motion-component-state-change-opacity-300-cubic-bezier-0-0-2-1-duration: 300ms;
  --ds-motion-motion-component-state-change-opacity-300-cubic-bezier-0-0-2-1-delay: 0ms;
  --ds-motion-motion-component-state-change-opacity-300-cubic-bezier-0-0-2-1-easing: cubic-bezier(0,0,.2,1);
  --ds-motion-motion-component-state-change-box-shadow-300-cubic-bezier-0-0-2-1-duration: 300ms;
  --ds-motion-motion-component-state-change-box-shadow-300-cubic-bezier-0-0-2-1-delay: 0ms;
  --ds-motion-motion-component-state-change-box-shadow-300-cubic-bezier-0-0-2-1-easing: cubic-bezier(0,0,.2,1);
  --ds-motion-motion-component-state-change-transform-300-cubic-bezier-0-0-2-1-duration: 300ms;
  --ds-motion-motion-component-state-change-transform-300-cubic-bezier-0-0-2-1-delay: 0ms;
  --ds-motion-motion-component-state-change-transform-300-cubic-bezier-0-0-2-1-easing: cubic-bezier(0,0,.2,1);
  --ds-motion-motion-component-state-change-translate-300-cubic-bezier-0-0-2-1-duration: 300ms;
  --ds-motion-motion-component-state-change-translate-300-cubic-bezier-0-0-2-1-delay: 0ms;
  --ds-motion-motion-component-state-change-translate-300-cubic-bezier-0-0-2-1-easing: cubic-bezier(0,0,.2,1);
  --ds-motion-motion-component-state-change-scale-300-cubic-bezier-0-0-2-1-duration: 300ms;
  --ds-motion-motion-component-state-change-scale-300-cubic-bezier-0-0-2-1-delay: 0ms;
  --ds-motion-motion-component-state-change-scale-300-cubic-bezier-0-0-2-1-easing: cubic-bezier(0,0,.2,1);
  --ds-motion-motion-component-state-change-rotate-300-cubic-bezier-0-0-2-1-duration: 300ms;
  --ds-motion-motion-component-state-change-rotate-300-cubic-bezier-0-0-2-1-delay: 0ms;
  --ds-motion-motion-component-state-change-rotate-300-cubic-bezier-0-0-2-1-easing: cubic-bezier(0,0,.2,1);
  --ds-motion-motion-component-state-change-filter-300-cubic-bezier-0-0-2-1-duration: 300ms;
  --ds-motion-motion-component-state-change-filter-300-cubic-bezier-0-0-2-1-delay: 0ms;
  --ds-motion-motion-component-state-change-filter-300-cubic-bezier-0-0-2-1-easing: cubic-bezier(0,0,.2,1);
  --ds-motion-motion-component-state-change-webkit-backdrop-filter-300-cubic-bezier-0-0-2-1-duration: 300ms;
  --ds-motion-motion-component-state-change-webkit-backdrop-filter-300-cubic-bezier-0-0-2-1-delay: 0ms;
  --ds-motion-motion-component-state-change-webkit-backdrop-filter-300-cubic-bezier-0-0-2-1-easing: cubic-bezier(0,0,.2,1);
  --ds-motion-motion-component-state-change-backdrop-filter-300-cubic-bezier-0-0-2-1-duration: 300ms;
  --ds-motion-motion-component-state-change-backdrop-filter-300-cubic-bezier-0-0-2-1-delay: 0ms;
  --ds-motion-motion-component-state-change-backdrop-filter-300-cubic-bezier-0-0-2-1-easing: cubic-bezier(0,0,.2,1);
  --ds-motion-motion-component-state-change-display-300-cubic-bezier-0-0-2-1-duration: 300ms;
  --ds-motion-motion-component-state-change-display-300-cubic-bezier-0-0-2-1-delay: 0ms;
  --ds-motion-motion-component-state-change-display-300-cubic-bezier-0-0-2-1-easing: cubic-bezier(0,0,.2,1);
  --ds-motion-motion-component-state-change-content-visibility-300-cubic-bezier-0-0-2-1-duration: 300ms;
  --ds-motion-motion-component-state-change-content-visibility-300-cubic-bezier-0-0-2-1-delay: 0ms;
  --ds-motion-motion-component-state-change-content-visibility-300-cubic-bezier-0-0-2-1-easing: cubic-bezier(0,0,.2,1);
  --ds-motion-motion-component-state-change-overlay-300-cubic-bezier-0-0-2-1-duration: 300ms;
  --ds-motion-motion-component-state-change-overlay-300-cubic-bezier-0-0-2-1-delay: 0ms;
  --ds-motion-motion-component-state-change-overlay-300-cubic-bezier-0-0-2-1-easing: cubic-bezier(0,0,.2,1);
  --ds-motion-motion-component-state-change-pointer-events-300-cubic-bezier-0-0-2-1-duration: 300ms;
  --ds-motion-motion-component-state-change-pointer-events-300-cubic-bezier-0-0-2-1-delay: 0ms;
  --ds-motion-motion-component-state-change-pointer-events-300-cubic-bezier-0-0-2-1-easing: cubic-bezier(0,0,.2,1);
}
